<div id="admin-menu">
    
     <!--<p>{{userViews.length}}</p>
    <p>{{currentSql}}</p> -->
    
    <ul class="nav nav-tabs main-tabs">

        <!-- now in CAPI 
        <li ng-if="user.perms.admin.users == 1" ng-class="{'active' : pageDisplay=='admin-users-list' || pageDisplay=='admin-users-view' 
        || pageDisplay=='admin-users-form' || pageDisplay=='admin-users-password'}">
            <a ng-click="setLocationPath('admin/users')">Manage Users</a>
        </li> 
        -->
        <!-- not required
        <li>
            <a href="/admin/altair_import">Altair Job/Finance data Import</a>
        </li>
        --> 
        <li ng-if="user.perms.admin.locked == 1"  ng-class="{'active' : pageDisplay=='admin-locked-wips'}">
            <a ng-click="setLocationPath('admin/locked-wips')">Manage Locked WIPs</a>
        </li> 
        <li ng-if="user.perms.admin.peoplesel == 1"  ng-class="{'active' : pageDisplay=='admin-people-selects'}">
            <a ng-click="setLocationPath('admin/people-selects')">WIPs selection data - people</a>
        </li> 
    </ul>
     
    <span ng-if="currentMessage.show == true">{{currentMessage.text}}</span>
    
</div>