<div ng-controller="AdminPeopleSelects" class="admin-people admin-page">
    
    <div class="row">
    
        <div class="col-xs-0 col-lg-0 col-xl-1"></div>
        
        <div class="col-xs-12 col-xl-10">
            <h1>Manage People Select Lists</h1>
            <p>These are the people who appear on the WIPs form select lists for 'Account Handlers', 'Delivery Lead' and 'Lead Creatives'.<br />
            De-activating a person means they will no longer appear on the select lists, however they will not be deleted as they may be associated to old jobs.<br />
            New people can be added to the lists with the form below.             
            </p>    
        </div>
        
        
                 
        <div class="col-xs-0 col-lg-0 col-xl-1"></div>
            
    </div>    
    
    <div class="row">
        
        <div class="col-xs-6">
            <h3>Add new Person</h3>
        </div>
        
    </div>
    
    
    
    <div class="row">
      
        <form id="add-person">
            
        <div class="col-xs-12" ng-if="peopleFormMessage != ''">
            <p class="form-message">{{peopleFormMessage}}</p>
        </div>
            
        
        <div class="col-xs-3 form-group">
            <label for="items-input">Name</label>
            <input class="col-xs-4 form-control" ng-model="peopleForm.name" type="text" id="items-input" required>
        </div>
    
        <div class="col-xs-2 form-group">
            <label for="items-input">Type</label>
            <select ng-model="peopleForm.type" class="col-xs-4 form-control" required> 
                <option value="1">Account Handler</option>
                <option value="2">DPM</option>
                <option value="3">Creative</option>
                <option value="4">Producer</option>
                <option value="5">Strategy</option>
            </select>
        </div>
    
        
        <div class="col-xs-1 form-group">
            <label for="items-input">&nbsp;</label>
            <input ng-click='submitPeopleForm()' class="btn form-control" type="submit" value="ADD"/>
        </div>
        
       </form>
           
    </div>
    
    <div class="row">

        <div class="col-xs-6">
            
               <h3>Current People</h3>
    
         <!--   {{peopleList}} -->
            
            <div class="table" id="people-list" ng-if="peopleList.length > 0">
                <div class="row header">
                    <div class="cell">Name</div>
                    <div class="cell">Type</div>
                    <div class="cell cell-active">Active</div>
                    <div class="cell"></div>
                </div>

                <div ng-repeat="(key, data) in peopleList" class="row">
                    <div class="cell">{{data.name}}</div>
                    <div class="cell">{{data.type_name}}</div>
                    <div class="cell cell-active">{{data.active == '1' ? 'YES' : 'NO'}}</div>
                    <div class="cell cell-action">
                        <span ng-click='togglePeopleActive(data.id, data.active)'>{{data.active == '1' ? 'DE-ACTIVATE' : 'ACTIVATE'}}</span>
                    </div>
                </div>
            </div>
            
            
            
        </div>
        
    </div>
    
    
    
</div>