<div class="control-panel-container" id="control-panel-filters" ng-class="{'closed' : displayControlPanelClosed == true}">

    <div id="filter-tabs">
       
        <!-- clients select tab -->
        <span id="clients-select" 
              ng-click="toggleFilterTabOpen('clients')"
              click-outside="closeFilterTab('clients')"
              class="filter-tab"
              ng-class="{'selected': filterTabOpen == 'clients'}">Client <div class="glyphicon" ng-class="filterTabOpen == 'clients' ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></div>
        </span>
      
        <!-- clients select block -->
        <div id="clients-select-block" class="filter-selects" ng-class="{'open': filterTabOpen == 'clients'}">
            <div class="filter-list-item" ng-if="value.name != null && value.name != ''"  ng-repeat="(key, value) in wipsClients" id="clients{{value.name}}" ng-click='toggleFilters("clients", value.name)' ng-class="{'selected' : dataFilters.clients.indexOf(value.name) > -1}">
                <span class="filter-list-item-name">{{value.name}}</span>
                <span ng-if="dataFilters.clients.indexOf(value.name) > -1" class="glyphicon glyphicon-remove"></span>
            </div>


<!--            <ul>
                <li ng-if="value.name != null"  ng-repeat="(key, value) in wipsClients" id="clients{{value.name}}" ng-click='toggleFilters("clients", value.name)' ng-class="{'selected' : dataFilters.clients.indexOf(value.name) > -1}">
                    {{value.name}}  <div ng-if="dataFilters.clients.indexOf(value.name) > -1" class="glyphicon glyphicon-remove-sign"></div>
                </li>
            </ul> -->
        </div>
        
        <!-- sector select tab -->
        <span id="sector-select" 
              ng-click="toggleFilterTabOpen('sector')" 
              click-outside="closeFilterTab('sector')"
              class="filter-tab" 
              ng-class="{'selected': filterTabOpen == 'sector'}">Sector <div class="glyphicon" ng-class="filterTabOpen == 'sector' ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></div>
        </span>

        <!-- sector select options -->    
        <div id="sector-select-block" class="filter-selects" ng-class="{'open': filterTabOpen == 'sector'}">
            <div class="filter-list-item"  ng-repeat="(k, v) in wipsSectors" id="sector{{v.key}}" ng-click='toggleFilters("sectors", v.key)' ng-class="{'selected' : dataFilters.sectors.indexOf(v.key) > -1}">
                <span class="filter-list-item-name">{{v.sector}}</span>
                <span ng-if="dataFilters.sectors.indexOf(v.key) > -1" class="glyphicon glyphicon-remove"></span>
            </div>
            
         <!--   
            
            <ul>
                <li ng-repeat="(k, v) in wipsSectors" id="sector{{v.key}}" ng-click='toggleFilters("sectors", v.key)' ng-class="{'selected' : dataFilters.sectors.indexOf(v.key) > -1}">
                    {{v.sector}} <div ng-if="dataFilters.sectors.indexOf(v.key) > -1" class="glyphicon glyphicon-remove-sign"></div>
                </li>
            </ul> -->
        </div> 
        
        <!-- job type select tab -->
        <span id="jobtype-select"
              ng-click="toggleFilterTabOpen('jobtype')" 
              click-outside="closeFilterTab('jobtype')"
              class="filter-tab" 
              ng-class="{'selected': filterTabOpen == 'jobtype'}">Job Type <div class="glyphicon" ng-class="filterTabOpen == 'jobtype' ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></div>
        </span>
        
        <!-- job type select block -->
        <div id="jobtype-select-block" class="filter-selects" ng-class="{'open': filterTabOpen == 'jobtype'}">
            
            <div class="filter-list-item" ng-repeat="(k, v) in jobTypes" id="type{{v.key}}" ng-click='toggleFilters("types", v.key)' ng-class="{'selected' : dataFilters.types.indexOf(v.key) > -1}">
                <span>{{v.type}}</span>
                <span ng-if="dataFilters.types.indexOf(v.key) > -1" class="glyphicon glyphicon-remove"></span>
            </div>
            
            
 <!--           <ul>
                <li ng-repeat="(k, v) in jobTypes" id="type{{v.key}}" ng-click='toggleFilters("types", v.key)' ng-class="{'selected' : dataFilters.types.indexOf(v.key) > -1}">
                    {{v.type}} <div ng-if="dataFilters.types.indexOf(v.key) > -1" class="glyphicon glyphicon-remove-sign"></div>
                </li>
            </ul> -->
        </div>

        <!-- digital select tab -->
        <span id="digital-select" 
              ng-click="toggleFilterTabOpen('digital')"
              click-outside="closeFilterTab('digital')"
              class="filter-tab"
              ng-class="{'selected': filterTabOpen == 'digital'}">Digital <div class="glyphicon" ng-class="filterTabOpen == 'digital' ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></div>
        </span>
     
        <!-- digital select block -->
        <div id="digital-select-block" class="filter-selects" ng-class="{'open': filterTabOpen == 'digital'}">
            <div class="filter-list-item" ng-repeat="(k, v) in jobDigital" id="digital{{v.key}}" ng-click='toggleFilters("digital", v.key)' ng-class="{'selected' : dataFilters.digital.indexOf(v.key) > -1}">
                <span>{{v.digital}}</span>
                <span ng-if="dataFilters.digital.indexOf(v.key) > -1" class="glyphicon glyphicon-remove"></span>
            </div>
            <!--
            <ul>
                <li ng-repeat="(k, v) in jobDigital" id="digital{{v.key}}" ng-click='toggleFilters("digital", v.key)' ng-class="{'selected' : dataFilters.digital.indexOf(v.key) > -1}">
                    {{v.digital}} <div ng-if="dataFilters.digital.indexOf(v.key) > -1" class="glyphicon glyphicon-remove-sign"></div>
                </li>
            </ul> -->
        </div>
        
        <!-- status select tab -->
        <span id="status-select" 
              ng-click="toggleFilterTabOpen('status')"
              click-outside="closeFilterTab('status')"
              class="filter-tab"
              ng-class="{'selected': filterTabOpen == 'status'}">Status <div class="glyphicon" ng-class="filterTabOpen == 'status' ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></div>
        </span>
 
        <!-- status select block -->
        <div id="status-select-block" class="filter-selects" ng-class="{'open': filterTabOpen == 'status'}">
            <div class="filter-list-item" ng-if="v.key != 5 && v.key != 6" ng-repeat="(k, v) in wipsStatus" id="status{{v.key}}" ng-click='toggleFilters("status", v.key)' ng-class="{'selected' : dataFilters.status.indexOf(v.key) > -1}">
                <span>{{v.status}}</span>
                <span ng-if="dataFilters.status.indexOf(v.key) > -1" class="glyphicon glyphicon-remove"></span>
            </div>
            <!--
            <ul>
                <li ng-if="v.key != 5 && v.key != 6" ng-repeat="(k, v) in wipsStatus" id="status{{v.key}}" ng-click='toggleFilters("status", v.key)' ng-class="{'selected' : dataFilters.status.indexOf(v.key) > -1}">
                    {{v.status}} <div ng-if="dataFilters.status.indexOf(v.key) > -1" class="glyphicon glyphicon-remove-sign"></div>
                </li>
            </ul> -->
            
        </div>
        
        <!-- stages select tab -->
        <span id="stages-select"
              ng-click="toggleFilterTabOpen('stages')"
              click-outside="closeFilterTab('stages')"
              class="filter-tab"
              ng-class="{'selected': filterTabOpen == 'stages'}">Stages <div class="glyphicon" ng-class="filterTabOpen == 'stages' ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></div>
        </span>
     
        <!-- stages select block -->
        <div id="stages-select-block" class="filter-selects" ng-class="{'open': filterTabOpen == 'stages'}">
            <div class="filter-list-item"  ng-repeat="(k, v) in wipsStages" id="stages{{v.key}}" ng-click='toggleFilters("stages", v.key)' ng-class="{'selected' : dataFilters.stages.indexOf(v.key) > -1}">
                <span>{{v.status}}</span>
                <span ng-if="dataFilters.stages.indexOf(v.key) > -1" class="glyphicon glyphicon-remove"></span>
            </div>            
            
            <!--<ul>
                <li ng-repeat="(k, v) in wipsStages" id="stages{{v.key}}" ng-click='toggleFilters("stages", v.key)' ng-class="{'selected' : dataFilters.stages.indexOf(v.key) > -1}">
                    {{v.status}} <div ng-if="dataFilters.stages.indexOf(v.key) > -1" class="glyphicon glyphicon-remove-sign"></div>
                </li>
            </ul> -->
            
        </div>

        

        <!-- account handler select tab -->        
        <span id="ah-select" 
              ng-click="toggleFilterTabOpen('account_handlers')"
              click-outside="closeFilterTab('account_handlers')"
              class="filter-tab"
              ng-class="{'selected': filterTabOpen == 'account_handlers'}">Accounts Handlers <div class="glyphicon" ng-class="filterTabOpen == 'account_handlers' ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></div>
        </span>

        <!-- account handler select block -->       
        <div id="ah-select-block" class="filter-selects"  ng-class="{'open': filterTabOpen == 'account_handlers'}">
           <!-- <ul>
                <li ng-repeat="(k, v) in allActivePersons.account_handler" id="ah{{v.id}}" ng-click='toggleFilters("account_handlers", v.id)' ng-class="{'selected' : dataFilters.account_handlers.indexOf(v.id) > -1}">
                    {{v.name}}  <div ng-if="dataFilters.account_handlers.indexOf(v.id) > -1" class="glyphicon glyphicon-remove-sign"></div>
                </li>
            </ul> -->
            
            <div class="filter-list-item" ng-repeat="(k, v) in allActivePersons.account_handler" id="ah{{v.id}}" ng-click='toggleFilters("account_handlers", v.id)' ng-class="{'selected' : dataFilters.account_handlers.indexOf(v.id) > -1}">
                <span>{{v.name}}</span>
                <span ng-if="dataFilters.account_handlers.indexOf(v.id) > -1" class="glyphicon glyphicon-remove"></span>
            
            </div>
                
        </div>
        
        <!-- delivery select tab  -->
        <span id="delivery-select" 
              ng-click="toggleFilterTabOpen('lead_delivery')"
              click-outside="closeFilterTab('lead_delivery')"
              class="filter-tab"
              ng-class="{'selected': filterTabOpen == 'lead_delivery'}">Delivery Lead<div class="glyphicon" ng-class="filterTabOpen == 'lead_delivery' ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></div>
        </span>

        <!-- delivery select block  -->
        <div id="delivery-select-block" class="filter-selects" ng-class="{'open': filterTabOpen == 'lead_delivery'}">
            <div class="filter-list-item" ng-repeat="(k, v) in allActivePersons.delivery_filter" id="delivery{{v.id}}" ng-click='toggleFilters("lead_delivery", v.id)' ng-class="{'selected' : dataFilters.lead_delivery.indexOf(v.id) > -1}">
                <span>{{v.name}}</span>
                <span ng-if="dataFilters.lead_delivery.indexOf(v.id) > -1" class="glyphicon glyphicon-remove"></span>
            </div>    
            
            <!--<ul>
                <li ng-repeat="(k, v) in allActivePersons.delivery_filter" id="delivery{{v.id}}" ng-click='toggleFilters("lead_delivery", v.id)' ng-class="{'selected' : dataFilters.lead_delivery.indexOf(v.id) > -1}">
                    {{v.name}} <div ng-if="dataFilters.lead_delivery.indexOf(v.id) > -1" class="glyphicon glyphicon-remove-sign"></div>
                </li>
            </ul> -->
            
        </div>
        
        <!-- creative select tab -->
        <span id="creatives-select" 
              ng-click="toggleFilterTabOpen('lead_creatives')"
              click-outside="closeFilterTab('lead_creatives')"
              class="filter-tab"
              ng-class="{'selected': filterTabOpen == 'lead_creatives'}">Lead Creatives <div class="glyphicon" ng-class="filterTabOpen == 'lead_creatives' ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></div>
        </span>
        
        <!-- creative select block -->
        <div id="creatives-select-block" class="filter-selects" ng-class="{'open': filterTabOpen == 'lead_creatives'}">
            <div class="filter-list-item" ng-repeat="(k, v) in allActivePersons.creative" id="creatives{{v.id}}" ng-click='toggleFilters("lead_creatives", v.id)' ng-class="{'selected' : dataFilters.lead_creatives.indexOf(v.id) > -1}">
                <span>{{v.name}}</span>
                <span ng-if="dataFilters.lead_creatives.indexOf(v.id) > -1" class="glyphicon glyphicon-remove-sign"></span>
            </div>
            
          <!--  
            <ul>
                <li ng-repeat="(k, v) in allActivePersons.creative" id="creatives{{v.id}}" ng-click='toggleFilters("lead_creatives", v.id)' ng-class="{'selected' : dataFilters.lead_creatives.indexOf(v.id) > -1}">
                    {{v.name}}  <div ng-if="dataFilters.lead_creatives.indexOf(v.id) > -1" class="glyphicon glyphicon-remove-sign"></div>
                </li>
            </ul> -->
        </div>

        <!-- other options tab  -->
        <span id="other-select" 
              ng-click="toggleFilterTabOpen('other_filters')"
              click-outside="closeFilterTab('other_filters')"
              class="filter-tab"
              ng-class="{'selected': filterTabOpen == 'other_filters'}">Other <div class="glyphicon" ng-class="filterTabOpen == 'other_filters' ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></div>
        </span>
        
        <!-- other options block  -->
        <div id="other-select-block" class="filter-selects" ng-class="{'open': filterTabOpen == 'other_filters'}">
           
                <!-- resource requests only -->    
                <div class="filter-list-item"  id="resource_requests" ng-click='dataFilters.resource_requests == true ? dataFilters.resource_requests = false : dataFilters.resource_requests = true;  getWips();' ng-class="{'selected' : dataFilters.resource_requests == true}">
                    <span>Only show WIPs that include resource requests</span>
                    <span ng-if="dataFilters.resource_requests == true" class="glyphicon glyphicon-remove"></span>
                </div>
                
                <div class="filter-list-item" id="only-mine" ng-click='toggleShowOnlyMine()' ng-class="{'selected' : dataFilters.only_mine == true}">
                    <span>Only show WIPs that I have created/edited</span>
                    <span ng-if="dataFilters.only_mine == true" class="glyphicon glyphicon-remove"></span>
                </div>
                
                <!-- include completed jobs -->
                <div class="filter-list-item"  id="show-completed" ng-click='toggleShowCompleted()' ng-class="{'selected' : dataFilters.show_completed == true}">
                    <span>Include COMPLETED jobs</span>
                    <span ng-if="dataFilters.show_completed == true" class="glyphicon glyphicon-remove"></span>
                </div>
                
                <!-- include cancelled jobs -->
                <div class="filter-list-item"  id="show-cancelled" ng-click='toggleShowCancelled()' ng-class="{'selected' : dataFilters.show_cancelled == true}">
                    <span>Include CANCELLED jobs</span>
                    <span ng-if="dataFilters.show_cancelled == true" class="glyphicon glyphicon-remove"></span>
               </div>
                
                <div class="filter-list-item" id="only-completed" ng-click='toggleShowOnlyCompleted()' ng-class="{'selected' : dataFilters.only_completed == true}">
                    <span>Show only COMPLETED jobs</span>
                    <span ng-if="dataFilters.only_completed == true" class="glyphicon glyphicon-remove"></span>
                </div>
                
                <div class="filter-list-item" id="only-cancelled" ng-click='toggleShowOnlyCancelled()' ng-class="{'selected' : dataFilters.only_cancelled == true}">
                    <span>Show only CANCELLED jobs</span>
                    <span ng-if="dataFilters.only_cancelled == true" class="glyphicon glyphicon-remove"></span>
                </div>
                
           
            
       
        </div>

        <!-- columns select tab -->
        <span id="columns-select" 
              ng-click="toggleFilterTabOpen('columns')" 
               click-outside="closeFilterTab('columns')"
              class="filter-tab last"
              ng-class="{'selected': filterTabOpen == 'columns'}">Show/Hide Columns <div class="glyphicon" ng-class="filterTabOpen == 'columns' ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></div>
        </span>
        
        <!-- columns select block -->
        <div id="columns-select-block" class="filter-selects" ng-class="{'open': filterTabOpen == 'columns'}">
            
            <div class="filter-list-item" ng-repeat="(key3, value) in showCols"  ng-show="key3 != 'actionsxxx'">
                <span><input id="item{{key3}}" ng-click='toggleShowCols(key3)' ng-checked="value == true" type='checkbox' 
                      ng-disabled="key3 == 'client' || key3 == 'jnumber' || key3 == 'last_updated' || key3 == 'actions'"/>
                    <label for="item{{key3}}">{{colsLabels[key3]}}</label></span>
            </div>   
            <div class="filter-list-item textright">  
                <span ng-click="resetShowCols()" class="nglink ">show all columns</span>
            </div>
            
        </div>

    </div>

    
    <!-- selected filters and settings display block -->
    <div id="filters-selected">
   
        <!--<strong>View Settings and Filters:</strong> -->
<!--<br />
        <span ng-click="toggleFilterTabOpen('columns')" class='badge badge-columns'>{{hiddenColsCount == 0 ? 'NO' : hiddenColsCount}} columns hidden</span>

        <span class='badge badge-order'>Ordered by {{colsLabels[orderColumn]}} ({{orderOrder}})</span>
<br /> -->
        <span  class='badge badge-sector badge-sector{{value}}' ng-repeat="(key, value) in dataFilters.sectors">Sector: {{getObjValueByKey(wipsSectors, 'key', value, 'sector')}} <span ng-click='toggleFilters("sectors", value)' class="glyphicon glyphicon-remove"></span></span>

        <span class='badge badge-jobtypes' ng-repeat="(key, value) in dataFilters.types">Job Type: {{getObjValueByKey(jobTypes, 'key', value, 'type')}} <span ng-click='toggleFilters("types", value)' class="glyphicon glyphicon-remove"></span></span>

        <span class='badge badge-digital' ng-repeat="(key, value) in dataFilters.digital">Digital: {{getObjValueByKey(jobDigital, 'key', value, 'digital')}} <span ng-click='toggleFilters("digital", value)' class="glyphicon glyphicon-remove"></span></span>

        <span class='badge badge-status' ng-repeat="(key, value) in dataFilters.status">Status: {{getObjValueByKey(wipsStatus, 'key', value, 'status')}} <span ng-click='toggleFilters("status", value)' class="glyphicon glyphicon-remove"></span></span>

        <span class='badge badge-show-completed' ng-if="dataFilters.show_completed == true">COMPLETED Jobs Included<span ng-click='toggleShowCompleted()' class="glyphicon glyphicon-remove"></span></span>
        
        <span class='badge badge-show-cancelled' ng-if="dataFilters.show_cancelled == true">CANCELLED Jobs Included<span ng-click='toggleShowCancelled()' class="glyphicon glyphicon-remove"></span></span>
       
        <span class='badge badge-only-completed' ng-if="dataFilters.only_completed == true">Showing ONLY COMPLETED Jobs<span ng-click='toggleShowOnlyCompleted()' class="glyphicon glyphicon-remove"></span></span>
        
        <span class='badge badge-only-cancelled' ng-if="dataFilters.only_cancelled == true">Showing ONLY CANCELLED Jobs<span ng-click='toggleShowOnlyCancelled()' class="glyphicon glyphicon-remove"></span></span>
       
         <span class='badge badge-only-mine' ng-if="dataFilters.only_mine == true">Showing only records created/edited by me<span ng-click='toggleShowOnlyMine()' class="glyphicon glyphicon-remove"></span></span>
        
        <span class='badge badge-stages' ng-repeat="(key, value) in dataFilters.stages">Stage: {{getObjValueByKey(wipsStages, 'key', value, 'status')}} <span ng-click='toggleFilters("stages", value)' class="glyphicon glyphicon-remove"></span></span>

        <span class='badge badge-clients' ng-repeat="(key, value) in dataFilters.clients">Client: {{value}} <span ng-click='toggleFilters("clients", value)' class="glyphicon glyphicon-remove"></span></span>

        <span class='badge badge-ah' ng-repeat="(key, value) in dataFilters.account_handlers">Account Handler: {{getObjValueByKey(allActivePersons.account_handler, 'id', value, 'name')}} <span ng-click='toggleFilters("account_handlers", value)' class="glyphicon glyphicon-remove"></span></span>

        <span class='badge badge-delivery' ng-repeat="(key, value) in dataFilters.lead_delivery">Delivery Lead: {{getObjValueByKey(allActivePersons.delivery_filter, 'id', value, 'name')}} <span ng-click='toggleFilters("lead_delivery", value)' class="glyphicon glyphicon-remove"></span></span>

        <span class='badge badge-creatives' ng-repeat="(key, value) in dataFilters.lead_creatives">Lead Creative: {{getObjValueByKey(allActivePersons.creative, 'id', value, 'name')}} <span ng-click='toggleFilters("lead_creatives", value)' class="glyphicon glyphicon-remove"></span></span>

        <span class='badge badge-resource-requests' ng-if="dataFilters.resource_requests == true">Only showing records that include resource requests <span ng-click='dataFilters.resource_requests == true ? dataFilters.resource_requests = false : dataFilters.resource_requests = true; getWips();' class="glyphicon glyphicon-remove"></span></span>

    </div>

    <!-- view options and actions -->
    <div id="view-actions">
        
        <div class="records-count"> 
            <strong>{{wipsList.length}}</strong> record{{wipsList.length > 1 || wipsList.length == 0 ? 's' : ''}} returned <span class="pipe-spacer">|</span>
            <strong>{{hiddenColsCount == 0 ? 'NO' : hiddenColsCount}}</strong> columns hidden <span class="pipe-spacer">|</span>
            Ordered by <strong>{{colsLabels[orderColumn]}} ({{orderOrder}})</strong>
        </div>

        <div class="view-options"> 
            <span class='action' id='save-view' ng-click="saveViewPop();" ng-if="displayView == 0">Save View</span>
            <span class='action' id='save-view' ng-click="saveViewPop();" ng-if="displayView > 0">Update View</span>
            <span class="pipe-spacer">|</span>
            <span class='action' id='delete-view' ng-if="displayView > 0" ng-click="removeViewPop();"> Delete View</span><span ng-if="displayView > 0" class="pipe-spacer">|</span>
            <span class='action' id='create-pdf' ng-click="createPdfPop()">Create PDF</span><span class="pipe-spacer">|</span>
            <span class='action' id='export-csv' ng-click='generateCSV()'>Export CSV</span><span class="pipe-spacer">|</span>
            <span class='action' id='clear-settings' ng-click="resetDataFilters(); resetColOrders(); resetShowCols(); getWips();">Clear filters/settings</span>
       
        </div>
        
    
    </div>
    
</div>