<div class="control-panel-container" id="control-panel-filters" ng-class="{'closed' : displayControlPanelClosed == true}">

    <div id="filter-tabs">
       
        <!-- clients select tab -->
        <span id="clients-select" 
              ng-click="toggleFilterTabOpen('clients')"
              click-outside="closeFilterTab('clients')"
              class="filter-tab"
              ng-class="{'selected': filterTabOpen == 'clients'}">Client <div class="glyphicon" ng-class="filterTabOpen == 'clients' ? 'glyphicon-arrow-up' : 'glyphicon-arrow-down'"></div>
        </span>
      
        <!-- clients select block -->
        <div id="clients-select-block" class="filter-selects" ng-class="{'open': filterTabOpen == 'clients'}">
            <ul>
                <li ng-if="value.name != null"  ng-repeat="(key, value) in wipsClients" id="clients{{value.name}}" ng-click='toggleFilters("clients", value.name)' ng-class="{'selected' : dataFilters.clients.indexOf(value.name) > -1}">
                    {{value.name}}  <div ng-if="dataFilters.clients.indexOf(value.name) > -1" class="glyphicon glyphicon-remove-sign"></div>
                </li>
            </ul>
        </div>
        
        <!-- sector select tab -->
        <span id="sector-select" 
              ng-click="toggleFilterTabOpen('sector')" 
              click-outside="closeFilterTab('sector')"
              class="filter-tab" 
              ng-class="{'selected': filterTabOpen == 'sector'}">Sector <div class="glyphicon" ng-class="filterTabOpen == 'sector' ? 'glyphicon-arrow-up' : 'glyphicon-arrow-down'"></div>
        </span>

        <!-- sector select options -->    
        <div id="sector-select-block" class="filter-selects" ng-class="{'open': filterTabOpen == 'sector'}">
            <ul>
                <li ng-repeat="(k, v) in wipsSectors" id="sector{{v.key}}" ng-click='toggleFilters("sectors", v.key)' ng-class="{'selected' : dataFilters.sectors.indexOf(v.key) > -1}">
                    {{v.sector}} <div ng-if="dataFilters.sectors.indexOf(v.key) > -1" class="glyphicon glyphicon-remove-sign"></div>
                </li>
            </ul>
        </div> 
        
        <!-- job type select tab -->
        <span id="jobtype-select"
              ng-click="toggleFilterTabOpen('jobtype')" 
              click-outside="closeFilterTab('jobtype')"
              class="filter-tab" 
              ng-class="{'selected': filterTabOpen == 'jobtype'}">Job Type <div class="glyphicon" ng-class="filterTabOpen == 'jobtype' ? 'glyphicon-arrow-up' : 'glyphicon-arrow-down'"></div>
        </span>
        
        <!-- job type select block -->
        <div id="jobtype-select-block" class="filter-selects" ng-class="{'open': filterTabOpen == 'jobtype'}">
            <ul>
                <li ng-repeat="(k, v) in jobTypes" id="type{{v.key}}" ng-click='toggleFilters("types", v.key)' ng-class="{'selected' : dataFilters.types.indexOf(v.key) > -1}">
                    {{v.type}} <div ng-if="dataFilters.types.indexOf(v.key) > -1" class="glyphicon glyphicon-remove-sign"></div>
                </li>
            </ul>
        </div>

        <!-- digital select tab -->
        <span id="digital-select" 
              ng-click="toggleFilterTabOpen('digital')"
              click-outside="closeFilterTab('digital')"
              class="filter-tab"
              ng-class="{'selected': filterTabOpen == 'digital'}">Digital <div class="glyphicon" ng-class="filterTabOpen == 'digital' ? 'glyphicon-arrow-up' : 'glyphicon-arrow-down'"></div>
        </span>
     
        <!-- digital select block -->
        <div id="digital-select-block" class="filter-selects" ng-class="{'open': filterTabOpen == 'digital'}">
            <ul>
                <li ng-repeat="(k, v) in jobDigital" id="digital{{v.key}}" ng-click='toggleFilters("digital", v.key)' ng-class="{'selected' : dataFilters.digital.indexOf(v.key) > -1}">
                    {{v.digital}} <div ng-if="dataFilters.digital.indexOf(v.key) > -1" class="glyphicon glyphicon-remove-sign"></div>
                </li>
            </ul>
        </div>
        
        <!-- status select tab -->
        <span id="status-select" 
              ng-click="toggleFilterTabOpen('status')"
              click-outside="closeFilterTab('status')"
              class="filter-tab"
              ng-class="{'selected': filterTabOpen == 'status'}">Status <div class="glyphicon" ng-class="filterTabOpen == 'status' ? 'glyphicon-arrow-up' : 'glyphicon-arrow-down'"></div>
        </span>
 
        <!-- status select block -->
        <div id="status-select-block" class="filter-selects" ng-class="{'open': filterTabOpen == 'status'}">
            <ul>
                <li ng-if="v.key != 5 && v.key != 6" ng-repeat="(k, v) in wipsStatus" id="status{{v.key}}" ng-click='toggleFilters("status", v.key)' ng-class="{'selected' : dataFilters.status.indexOf(v.key) > -1}">
                    {{v.status}} <div ng-if="dataFilters.status.indexOf(v.key) > -1" class="glyphicon glyphicon-remove-sign"></div>
                </li>
            </ul>
        </div>
        
        <!-- stages select tab -->
        <span id="stages-select"
              ng-click="toggleFilterTabOpen('stages')"
              click-outside="closeFilterTab('stages')"
              class="filter-tab"
              ng-class="{'selected': filterTabOpen == 'stages'}">Stages <div class="glyphicon" ng-class="filterTabOpen == 'stages' ? 'glyphicon-arrow-up' : 'glyphicon-arrow-down'"></div>
        </span>
     
        <!-- stages select block -->
        <div id="stages-select-block" class="filter-selects" ng-class="{'open': filterTabOpen == 'stages'}">
            <ul>
                <li ng-repeat="(k, v) in wipsStages" id="stages{{v.key}}" ng-click='toggleFilters("stages", v.key)' ng-class="{'selected' : dataFilters.stages.indexOf(v.key) > -1}">
                    {{v.status}} <div ng-if="dataFilters.stages.indexOf(v.key) > -1" class="glyphicon glyphicon-remove-sign"></div>
                </li>
            </ul>
        </div>

        

        <!-- account handler select tab -->        
        <span id="ah-select" 
              ng-click="toggleFilterTabOpen('account_handlers')"
              click-outside="closeFilterTab('account_handlers')"
              class="filter-tab"
              ng-class="{'selected': filterTabOpen == 'account_handlers'}">Accounts Handlers <div class="glyphicon" ng-class="filterTabOpen == 'account_handlers' ? 'glyphicon-arrow-up' : 'glyphicon-arrow-down'"></div>
        </span>

        <!-- account handler select block -->       
        <div id="ah-select-block" class="filter-selects"  ng-class="{'open': filterTabOpen == 'account_handlers'}">
            <ul>
                <li ng-repeat="(k, v) in allActivePersons.account_handler" id="ah{{v.id}}" ng-click='toggleFilters("account_handlers", v.id)' ng-class="{'selected' : dataFilters.account_handlers.indexOf(v.id) > -1}">
                    {{v.name}}  <div ng-if="dataFilters.account_handlers.indexOf(v.id) > -1" class="glyphicon glyphicon-remove-sign"></div>
                </li>
            </ul>

        </div>
        
        <!-- delivery select tab  -->
        <span id="delivery-select" 
              ng-click="toggleFilterTabOpen('lead_delivery')"
              click-outside="closeFilterTab('lead_delivery')"
              class="filter-tab"
              ng-class="{'selected': filterTabOpen == 'lead_delivery'}">Delivery Lead<div class="glyphicon" ng-class="filterTabOpen == 'lead_delivery' ? 'glyphicon-arrow-up' : 'glyphicon-arrow-down'"></div>
        </span>

        <!-- delivery select block  -->
        <div id="delivery-select-block" class="filter-selects" ng-class="{'open': filterTabOpen == 'lead_delivery'}">
            <ul>
                <li ng-repeat="(k, v) in allActivePersons.delivery_filter" id="delivery{{v.id}}" ng-click='toggleFilters("lead_delivery", v.id)' ng-class="{'selected' : dataFilters.lead_delivery.indexOf(v.id) > -1}">
                    {{v.name}} <div ng-if="dataFilters.lead_delivery.indexOf(v.id) > -1" class="glyphicon glyphicon-remove-sign"></div>
                </li>
            </ul>
        </div>
        
        <!-- creative select tab -->
        <span id="creatives-select" 
              ng-click="toggleFilterTabOpen('lead_creatives')"
              click-outside="closeFilterTab('lead_creatives')"
              class="filter-tab"
              ng-class="{'selected': filterTabOpen == 'lead_creatives'}">Lead Creatives <div class="glyphicon" ng-class="filterTabOpen == 'lead_creatives' ? 'glyphicon-arrow-up' : 'glyphicon-arrow-down'"></div>
        </span>
        
        <!-- creative select block -->
        <div id="creatives-select-block" class="filter-selects" ng-class="{'open': filterTabOpen == 'lead_creatives'}">
            <ul>
                <li ng-repeat="(k, v) in allActivePersons.creative" id="creatives{{v.id}}" ng-click='toggleFilters("lead_creatives", v.id)' ng-class="{'selected' : dataFilters.lead_creatives.indexOf(v.id) > -1}">
                    {{v.name}}  <div ng-if="dataFilters.lead_creatives.indexOf(v.id) > -1" class="glyphicon glyphicon-remove-sign"></div>
                </li>
            </ul>
        </div>

        <!-- other options tab  -->
        <span id="other-select" 
              ng-click="toggleFilterTabOpen('other_filters')"
              click-outside="closeFilterTab('other_filters')"
              class="filter-tab"
              ng-class="{'selected': filterTabOpen == 'other_filters'}">Other <div class="glyphicon" ng-class="filterTabOpen == 'other_filters' ? 'glyphicon-arrow-up' : 'glyphicon-arrow-down'"></div>
        </span>
        
        <!-- other options block  -->
        <div id="other-select-block" class="filter-selects" ng-class="{'open': filterTabOpen == 'other_filters'}">
            <ul>
                <!-- resource requests only -->    
                <li id="resource_requests" ng-click='dataFilters.resource_requests == true ? dataFilters.resource_requests = false : dataFilters.resource_requests = true;  getWips();' ng-class="{'selected' : dataFilters.resource_requests == true}">
                    Only show WIPs that include resource requests <div ng-if="dataFilters.resource_requests == true" class="glyphicon glyphicon-remove-sign"></div>
                </li>
                
                <li id="only-mine" ng-click='toggleShowOnlyMine()' ng-class="{'selected' : dataFilters.only_mine == true}">
                    Only show WIPs that I have created/edited <div ng-if="dataFilters.only_mine == true" class="glyphicon glyphicon-remove-sign"></div>
                </li>
                
                <!-- include completed jobs -->
                <li id="show-completed" ng-click='toggleShowCompleted()' ng-class="{'selected' : dataFilters.show_completed == true}">
                    Include COMPLETED jobs <div ng-if="dataFilters.show_completed == true" class="glyphicon glyphicon-remove-sign"></div>
                </li>
                
                <!-- include cancelled jobs -->
                <li id="show-cancelled" ng-click='toggleShowCancelled()' ng-class="{'selected' : dataFilters.show_cancelled == true}">
                    Include CANCELLED jobs <div ng-if="dataFilters.show_cancelled == true" class="glyphicon glyphicon-remove-sign"></div>
                </li>
                
                <li id="only-completed" ng-click='toggleShowOnlyCompleted()' ng-class="{'selected' : dataFilters.only_completed == true}">
                    Show only COMPLETED jobs <div ng-if="dataFilters.only_completed == true" class="glyphicon glyphicon-remove-sign"></div>
                </li>
                
                <li id="only-cancelled" ng-click='toggleShowOnlyCancelled()' ng-class="{'selected' : dataFilters.only_cancelled == true}">
                    Show only CANCELLED jobs <div ng-if="dataFilters.only_cancelled == true" class="glyphicon glyphicon-remove-sign"></div>
                </li>
                
            </ul>
        </div>

        <!-- columns select tab -->
        <span id="columns-select" 
              ng-click="toggleFilterTabOpen('columns')" 
               click-outside="closeFilterTab('columns')"
              class="filter-tab last"
              ng-class="{'selected': filterTabOpen == 'columns'}">Show/Hide Columns <div class="glyphicon" ng-class="filterTabOpen == 'columns' ? 'glyphicon-arrow-up' : 'glyphicon-arrow-down'"></div>
        </span>
        
        <!-- columns select block -->
        <div id="columns-select-block" class="filter-selects" ng-class="{'open': filterTabOpen == 'columns'}">
            <ul>
                <li ng-repeat="(key3, value) in showCols"  ng-show="key3 != 'actionsxxx'">

                    <input id="item{{key3}}" ng-click='toggleShowCols(key3)' ng-checked="value == true" type='checkbox' 
                           ng-disabled="key3 == 'client' || key3 == 'jnumber' || key3 == 'last_updated'"/>
                    <label for="item{{key3}}">{{colsLabels[key3]}}</label> 
                </li>
                <li><p ng-click="resetShowCols()" class="nglink textright">show all columns</p></li>
            </ul>
        </div>

    </div>

    
    <!-- selected filters and settings display block -->
    <div id="filters-selected">
   
        <strong>View Settings and Filters:</strong>
<br />
        <span ng-click="toggleFilterTabOpen('columns')" class='badge badge-columns'>{{hiddenColsCount == 0 ? 'NO' : hiddenColsCount}} columns hidden</span>

        <span class='badge badge-order'>Ordered by {{colsLabels[orderColumn]}} ({{orderOrder}})</span>
<br />
        <span class='badge badge-sector' ng-repeat="(key, value) in dataFilters.sectors">Sector : {{getObjValueByKey(wipsSectors, 'key', value, 'sector')}} <span ng-click='toggleFilters("sectors", value)' class="glyphicon glyphicon-remove-sign"></span></span>

        <span class='badge badge-jobtypes' ng-repeat="(key, value) in dataFilters.types">Job type : {{getObjValueByKey(jobTypes, 'key', value, 'type')}} <span ng-click='toggleFilters("types", value)' class="glyphicon glyphicon-remove-sign"></span></span>

        <span class='badge badge-digital' ng-repeat="(key, value) in dataFilters.digital">Digital : {{getObjValueByKey(jobDigital, 'key', value, 'digital')}} <span ng-click='toggleFilters("digital", value)' class="glyphicon glyphicon-remove-sign"></span></span>

        <span class='badge badge-status' ng-repeat="(key, value) in dataFilters.status">Status : {{getObjValueByKey(wipsStatus, 'key', value, 'status')}} <span ng-click='toggleFilters("status", value)' class="glyphicon glyphicon-remove-sign"></span></span>

        <span class='badge badge-show-completed' ng-if="dataFilters.show_completed == true">COMPLETED Jobs Included<span ng-click='toggleShowCompleted()' class="glyphicon glyphicon-remove-sign"></span></span>
        
        <span class='badge badge-show-cancelled' ng-if="dataFilters.show_cancelled == true">CANCELLED Jobs Included<span ng-click='toggleShowCancelled()' class="glyphicon glyphicon-remove-sign"></span></span>
       
        <span class='badge badge-only-completed' ng-if="dataFilters.only_completed == true">Showing ONLY COMPLETED Jobs<span ng-click='toggleShowOnlyCompleted()' class="glyphicon glyphicon-remove-sign"></span></span>
        
        <span class='badge badge-only-cancelled' ng-if="dataFilters.only_cancelled == true">Showing ONLY CANCELLED Jobs<span ng-click='toggleShowOnlyCancelled()' class="glyphicon glyphicon-remove-sign"></span></span>
       
         <span class='badge badge-only-mine' ng-if="dataFilters.only_mine == true">Showing only records created/edited by me<span ng-click='toggleShowOnlyMine()' class="glyphicon glyphicon-remove-sign"></span></span>
        
        <span class='badge badge-stages' ng-repeat="(key, value) in dataFilters.stages">Stage : {{getObjValueByKey(wipsStages, 'key', value, 'status')}} <span ng-click='toggleFilters("stages", value)' class="glyphicon glyphicon-remove-sign"></span></span>

        <span class='badge badge-clients' ng-repeat="(key, value) in dataFilters.clients">Client : {{value}} <span ng-click='toggleFilters("clients", value)' class="glyphicon glyphicon-remove-sign"></span></span>

        <span class='badge badge-ah' ng-repeat="(key, value) in dataFilters.account_handlers">AH : {{getObjValueByKey(allActivePersons.account_handler, 'id', value, 'name')}} <span ng-click='toggleFilters("account_handlers", value)' class="glyphicon glyphicon-remove-sign"></span></span>

        <span class='badge badge-delivery' ng-repeat="(key, value) in dataFilters.lead_delivery">Delivery : {{getObjValueByKey(allActivePersons.delivery_filter, 'id', value, 'name')}} <span ng-click='toggleFilters("lead_delivery", value)' class="glyphicon glyphicon-remove-sign"></span></span>

        <span class='badge badge-creatives' ng-repeat="(key, value) in dataFilters.lead_creatives">Creative : {{getObjValueByKey(allActivePersons.creative, 'id', value, 'name')}} <span ng-click='toggleFilters("lead_creatives", value)' class="glyphicon glyphicon-remove-sign"></span></span>

        <span class='badge badge-resource-requests' ng-if="dataFilters.resource_requests == true">Only showing records that include resource requests <span ng-click='dataFilters.resource_requests == true ? dataFilters.resource_requests = false : dataFilters.resource_requests = true; getWips();' class="glyphicon glyphicon-remove-sign"></span></span>

    </div>

    <!-- view options and actions -->
    <div id="view-actions">
        
        <div class="records-count" > 
            <strong>{{wipsList.length}}</strong> record{{wipsList.length > 1 || wipsList.length == 0 ? 's' : ''}} returned
        </div>

        <div class="view-options"> 
            <button type='button' class='btn btn-default btn-sm' ng-click="saveViewPop();">
                <span ng-if="displayView == 0">Save View</span>
                <span ng-if="displayView > 0">Update View</span>
            </button>
            <button type='button' class='btn btn-default btn-sm' ng-if="displayView > 0" ng-click="removeViewPop();">Delete View</button>
            <button type='button' class='btn btn-default btn-sm' ng-controller="WipsCreatepdfController" ng-click="generatePDF();">Create PDF</button>
            <button type="button" class='btn btn-default btn-sm' ng-json-export-excel data="wipsList" report-fields="exportFieldList" my-filename="mytest">Export CSV</button>
            <button type='button' class='btn btn-default btn-sm' ng-click="resetDataFilters(); resetColOrders(); resetShowCols(); getWips();">Clear filters/settings</button>
       
        </div>
    </div>
    
</div>