<div class="row ng-cloak" id="edit-create-wip">

    <div class="col-xs-0 col-lg-1 col-xl-1"></div>

    <!-- <div ng-if="(currentWipID == 0 && user.perms.wips.create != 1) || (currentWipID > 0 && user.perms.wips.update != 1)" class="col-xs-12 col-lg-10 col-xl-10"><p class="access-error ng-cloak">Sorry, you do not have sufficient privileges to access this page.</p></div> -->
    
    <!-- <div ng-if="(currentWipID == 0 && user.perms.wips.create == 1) || (currentWipID > 0 && user.perms.wips.update == 1)"class="col-xs-12 col-lg-10 col-xl-10"> -->

    <div class="col-xs-12 col-lg-10 col-xl-10"> 

        <!--<h1>Update {{wipsForm.jobNumber}} - {{wipsForm.projectTitle}}</h1>  -->
        <h1>Update <!--<span ng-bind-html="wipsForm.jobNumberDisplay"></span>-->{{wipsForm.jobNumberShorthand}} - {{wipsForm.projectTitle}}</h1> 
     
        <!--  <hr /> -->
        <div class='data-container'>

            <div class="job-info">  
                
                <!-- SECTION 1 - the NON editable main job data -->
                <!-- client -->
                <!-- brand -->
                <!-- job no. -->
                <!-- parent job no. if applicable --> 
                <!-- project title -->
                <!-- digital? -->
                <!-- type -->
                <!-- sector -->
                <!-- account handler -->
                <!-- child jobs -->
                
                 <h3>Job Info</h3>

                <div class="row">  
                    <div class="col-xs-2"><span class='mylabel'>Job Numbers:</span></div>
                    <div class="col-xs-10" ng-bind-html="wipsForm.currentJobNumberDisplay"></div>
                </div>    

                <div class="row">  
                    <div class="col-xs-2"><span class='mylabel'>Project:</span></div><div class="col-xs-10">{{wipsForm.projectTitle}}</div>
                </div>

                <div class="row">  
                    <div class="col-xs-2"><span class='mylabel'>Client:</span></div><div class="col-xs-4"><strong>{{wipsForm.clientCode}}</strong></div>
                    <div class="col-xs-2"><span class='mylabel'>Job Type:</span></div><div class="col-xs-4">{{wipsForm.projectType}}</div>
                </div>

                <div class="row">  
                    <div class="col-xs-2"><span class='mylabel'>Brand:</span></div><div class="col-xs-4">{{wipsForm.clientBrand}}</div>
                    <div class="col-xs-2"><span class='mylabel'>Sector:</span></div><div class="col-xs-4"><strong>{{wipsForm.clientSector}}</strong></div>
                </div>

                <div class="row">  
                    <div class="col-xs-2"><span class='mylabel'>Lead Account Handler:</span></div><div class="col-xs-4">{{wipsForm.leadAccountHandler}}</div>
                    <div class="col-xs-2"><span class='mylabel'>Digital:</span></div><div class="col-xs-4">{{wipsForm.projectDigitalRaw == 1 ? 'YES' : 'NO'}}</div>
                </div>

                <!-- PS removed display of legacy data 07/07/20
                <span ng-if="wipsForm.legacyData">
                            
                        <hr />
                        
                        <h3>Legacy Data</h3>
                        
                        <div class="row">  
                        
                            <div class="col-xs-2"><span class='mylabel'>Legacy Job Numbers:</span></div><div class="col-xs-4" ng-bind-html="wipsForm.legacyJobNumberDisplay ? wipsForm.legacyJobNumberDisplay : 'n/a'"></div>
                            <div class="col-xs-2"><span class='mylabel'>Legacy Job Name:</span></div><div class="col-xs-4">{{wipsForm.legacyJobName ? wipsForm.legacyJobName : 'n/a'}}</div>
                        
                        </div>

                    </span>
                -->

              <!-- ESTIMATES AND PROJECT LEADS ON HOLD 
              <hr />
              
              <h3>Project Team</h3>
                        
                        <p class="last-updated" ng-if="wipsForm.projectTeam.date_added > 0">Project team data last updated {{wipsForm.projectTeam.date_added_f}} by {{wipsForm.projectTeam.added_by_name}}.</p>
                        
                        <p class="last-updated" ng-if="wipsForm.projectTeam.date_added == 0">No project team data currently available for this project.</p>
                     
                        <div ng-if="wipsForm.projectTeam.date_added > 0">
                        
                            <div class="row">     
                                
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Project Manager:</span></div>
                                <div class="col-xs-6 col-md-3 col-finance" style='text-align:left'>{{wipsForm.projectTeam.pm_name ? wipsForm.projectTeam.pm_name : '-'}}</div>
                                
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Creative Lead:</span></div>
                                <div class="col-xs-6 col-md-3 col-finance" style='text-align:left'>{{wipsForm.projectTeam.creative1_name ? wipsForm.projectTeam.creative1_name : '-'}}</div>
                            </div>
                            
                            <div class="row">      
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Account Handler:</span></div>
                                <div class="col-xs-6 col-md-3 col-finance" style='text-align:left'>{{wipsForm.projectTeam.ah_name ? wipsForm.projectTeam.ah_name : '-'}}</div>
                                
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Second Creative Lead:</span></div>
                                <div class="col-xs-6 col-md-3 col-finance" style='text-align:left'>{{wipsForm.projectTeam.creative2_name ? wipsForm.projectTeam.creative2_name : '-'}}</div>
                            </div>
                            
                            <div class="row">      
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Strategy:</span></div>
                                <div class="col-xs-6 col-md-3 col-finance" style='text-align:left'>{{wipsForm.projectTeam.strategy_name ? wipsForm.projectTeam.strategy_name : '-'}}</div>
                                
                                <div class="col-xs-6 col-md-3"></div>
                                <div class="col-xs-6 col-md-3 col-finance" style='text-align:left'></div>
                            </div>
                            
                        </div>
                        
               ESTIMATES AND PROJECT LEADS ON HOLD -->
            
            </div>
        
        </div>
        
        <!--
        <div class='data-container'>

            <div>
              
                <h3 class="finance-summary">Financial Summary </h3>
              
                <p class="last-updated" ng-if="wipsForm.financeData.dimensions.set && wipsForm.financeData.altair.set">
                    Dimensions data last updated {{wipsForm.financeData.dimensions.updated}}. Altair data last updated {{wipsForm.financeData.altair.updated}}. (Please note: Agency Time only includes timesheets submitted to date).
                </p>
                        
                <p class="last-updated" ng-if="wipsForm.financeData.dimensions.set && !wipsForm.financeData.altair.set">
                    Finance data (Dimensions) last updated {{wipsForm.financeData.dimensions.updated}}. (Please note: Agency Time only includes timesheets submitted to date).
                </p>
                        
                <p class="last-updated" ng-if="!wipsForm.financeData.dimensions.set && wipsForm.financeData.altair.set">
                    Finance data (Altair) last updated {{wipsForm.financeData.altair.updated}}. (Please note: Agency Time only includes timesheets submitted to date).
                </p>
                        
                <p class="last-updated" ng-if="!wipsForm.financeData.dimensions.set && !wipsForm.financeData.altair.set">
                    No financial data currently available for this job.
                </p>
                        
                <div ng-if="wipsForm.financeData.dimensions.set || wipsForm.financeData.altair.set">
                         
                            <div class="row costs-to-date-row" ng-if="wipsForm.financeData.dimensions.set && wipsForm.financeData.altair.set">      
                                <div class="col-xs-6 col-md-3"></div>
                                <div class="col-xs-3 col-md-2 col-finance"><span class='mylabel'>DIMENSIONS</span></div>
                                <div class="col-xs-6 col-md-2 col-finance"><span class='mylabel'>ALTAIR</span></div>
                                <div class="col-xs-3 col-md-2 col-finance"><span class='mylabel'>TOTALS</span></div>
                            </div>
                         
                            
                            <div class="row costs-to-date-row">      
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Agency Time (cost to client):</span></div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="wipsForm.financeData.dimensions.set">{{wipsForm.financeData.dimensions.agency_time_cost}}</div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="wipsForm.financeData.altair.set">{{wipsForm.financeData.altair.agency_time_cost}}</div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="wipsForm.financeData.dimensions.set && wipsForm.financeData.altair.set">{{wipsForm.financeData.totals.agency_time_cost}}</div>
                            </div>
                            
                            <div class="row">  
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Third-party bought in: </span></div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="wipsForm.financeData.dimensions.set">{{wipsForm.financeData.dimensions.third_party_bought_in}}</div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="wipsForm.financeData.altair.set">{{wipsForm.financeData.altair.third_party_bought_in}}</div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="wipsForm.financeData.dimensions.set && wipsForm.financeData.altair.set">{{wipsForm.financeData.totals.third_party_bought_in}}</div>
                            </div>
                            
                            <div class="row">  
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Third-party committed: </span></div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="wipsForm.financeData.dimensions.set">{{wipsForm.financeData.dimensions.third_party_committed}}</div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="wipsForm.financeData.altair.set">{{wipsForm.financeData.altair.third_party_committed}}</div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="wipsForm.financeData.dimensions.set && wipsForm.financeData.altair.set">{{wipsForm.financeData.totals.third_party_committed}}</div>
                            </div>
                            
                            <div class="row costs-to-date-row">  
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Costs to date (Time + Bought in):</span></div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="wipsForm.financeData.dimensions.set">{{wipsForm.financeData.dimensions.total_costs}}</div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="wipsForm.financeData.altair.set">{{wipsForm.financeData.altair.total_costs}}</div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="wipsForm.financeData.dimensions.set && wipsForm.financeData.altair.set">{{wipsForm.financeData.totals.total_costs}}</div>
                            </div>
                            
                            
                            <div class="row">  
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Invoiced: </span></div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="wipsForm.financeData.dimensions.set">{{wipsForm.financeData.dimensions.invoiced}}</div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="wipsForm.financeData.altair.set">{{wipsForm.financeData.altair.invoiced}}</div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="wipsForm.financeData.dimensions.set && wipsForm.financeData.altair.set">{{wipsForm.financeData.totals.invoiced}}</div>
                            </div>

                        </div>
               
                 <hr />
                
                <h3 class="finance-summary">Project Estimates</h3>
                         
                        <p class="last-updated" ng-if="wipsForm.jobEstimates.date_added > 0">Estimate data last updated {{wipsForm.jobEstimates.date_added_f}} by {{wipsForm.jobEstimates.added_by_name}}.</p>
                        
                        <p class="last-updated" ng-if="wipsForm.jobEstimates.date_added == 0">No estimates data currently available for this project.</p>
                     
                        <div ng-if="wipsForm.jobEstimates.date_added > 0">
                        
                            <div class="row" style="padding-bottom: 5px;">     
                                
                                <div class="col-xs-6"><span class='mylabel2'>ESTIMATED HOURS</span></div>
                                <div class="col-xs-6"><span class='mylabel2'>ESTIMATED FEES:</span></div>
                            </div>
                            
                       
                            <div class="row">     
                                
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Account Handling:</span></div>
                                <div class="col-xs-6 col-md-2 col-finance">{{wipsForm.jobEstimates.hrs_ah}}</div>
                                <div class="col-xs-6 col-md-1"></div>
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Fee:</span></div>
                                <div class="col-xs-6 col-md-2 col-finance">{{wipsForm.jobEstimates.gbp_fee}}</div>
                                <div class="col-xs-6 col-md-1"></div>
                            </div>
                            
                            <div class="row">      
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Media:</span></div>
                                <div class="col-xs-6 col-md-2 col-finance">{{wipsForm.jobEstimates.hrs_media}}</div>
                                <div class="col-xs-6 col-md-1"></div>
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Fee discount:</span></div>
                                <div class="col-xs-6 col-md-2 col-finance">{{wipsForm.jobEstimates.gbp_fee_discount}}</div>
                                <div class="col-xs-6 col-md-1"></div>
                            </div>
                            
                            <div class="row">      
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Production:</span></div>
                                <div class="col-xs-6 col-md-2 col-finance">{{wipsForm.jobEstimates.hrs_production}}</div>
                                <div class="col-xs-6 col-md-1"></div>
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Direct costs:</span></div>
                                <div class="col-xs-6 col-md-2 col-finance">{{wipsForm.jobEstimates.gbp_direct_costs}}</div>
                                <div class="col-xs-6 col-md-1"></div>
                            </div>

                            <div class="row">      
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Creative:</span></div>
                                <div class="col-xs-6 col-md-2 col-finance">{{wipsForm.jobEstimates.hrs_creative}}</div>
                                <div class="col-xs-6 col-md-1"></div>
                                <div class="col-xs-6 col-md-3"><span class='mylabel'></span></div>
                                <div class="col-xs-6 col-md-2 col-finance"></div>
                                <div class="col-xs-6 col-md-1"></div>
                            </div>

                            <div class="row">      
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Strategy:</span></div>
                                <div class="col-xs-6 col-md-2 col-finance">{{wipsForm.jobEstimates.hrs_ps}}</div>
                                 <div class="col-xs-6 col-md-1"></div>
                                <div class="col-xs-6 col-md-3"><span class='mylabel'><strong>Total Sales Estimate/Budget</strong></span></div>
                                <div class="col-xs-6 col-md-2 col-finance"><strong>{{wipsForm.jobEstimates.gbp_total}}</strong></div>
                                <div class="col-xs-6 col-md-1"></div>
                 
                            </div>

                        </div>
                 
         

            </div>
            
        </div>
    -->
        <div class='data-container'>    

            <div class="wips-form"> 

                <h3 ng-if="currentWipID == 0">Add WIPs</h3>
                <h3 ng-if="currentWipID > 0">Update WIPs</h3>

                <p ng-if="currentWipID > 0" class="last-updated">Last updated on <strong>{{wipsForm.lastUpdated}} by {{wipsForm.lastUpdatedBy}}</strong>.</p>

                <form id="wips-create">

                    <!-- SECTION 2 - Editable status and resource request data  -->
                    <!-- current status dropdown -->
                    <!-- current status noted -->
                    <!-- project stage -->
                    <!-- resource request(s) -->

                    <div class="row status-row">

                  <!--      <label class='col-xs-1' for="status.select">Status</label>
                        <div class='col-xs-11' id="status-buttons" >
                            <span ng-repeat="(key, value) in wipsStatus">
                                <label class="flag-status{{value.key}}" ng-class="{'badge-selected-label' : value.key == wipsForm.currentStatus}">
                                    <input ng-model="wipsForm.currentStatus" ng-checked="value.key == wipsForm.currentStatus" class="form-check-input" type="radio" name="inlineRadioOptions" value="{{value.key}}"><span>{{value.status}}</span>
                                </label>
                            </span>
                        </div>     -->
                        
                        <label class='col-xs-12' for="status.select">Status</label>
                        <div class='col-xs-12' id="status-radios" >
                            <span ng-repeat="(key, value) in wipsStatus">
                                <label class="flag-status{{value.key}}" ng-class="{'badge-selected-label' : value.key == wipsForm.currentStatus}">
                                    <input ng-model="wipsForm.currentStatus" ng-checked="value.key == wipsForm.currentStatus" class="form-check-input" type="radio" name="inlineRadioOptions" value="{{value.key}}"><span>{{value.status}}</span>
                                </label>
                            </span>
                        </div>    

                    </div>
<!--
                    <div class="row stages-row">
                        <label class='col-xs-1' for="status.select">Stages<br /><small>[2 max.]</small></label>
                        <div class='col-xs-11' id="stages-buttons">
                            <span  ng-repeat="(key, value) in wipsStages">
                                <label class="flag-stage{{value.key}}" ng-class="{'badge-selected-label' : wipsForm.currentStage.indexOf(value.key) > -1}">
                                    <input
                                        ng-disabled="wipsForm.currentStage.length >= 2 && wipsForm.currentStage.indexOf(value.key) <= -1"
                                        ng-click="toggleCurrentStage(value.key)"
                                        ng-checked="wipsForm.currentStage.indexOf(value.key) > -1" 
                                        class="form-check-input" 
                                        type="checkbox" 
                                        name="inlineRadioOptions" 
                                        value="{{value.key}}"><span> {{value.status}}</span>
                                </label>
                            </span>
                            <span class='clearlink nglink' ng-click="wipsForm.currentStage = []">clear</span>
                        </div>
                        
                    </div> -->

                    <div class="form-group status-row">
                        <label for="status.textarea">Status Notes</label><br />
                        <div class="text-muted" id="statusNotesInstruction">Use this field to clarify the status selected above and any other important project notes. <strong>Don't request resource in this field</strong>. [Max. 500 characters]. </div>
                        <textarea maxlength="500" class="form-control" id="status.textarea" ng-model="wipsForm.statusNotes" rows="2"></textarea>
                    </div>
                    
                    <div class="row stages-row">
                        <label class='col-xs-12' for="status.select">Stage(s)</label>
                        <div class='col-xs-12 text-muted'>You may only select two stages. If you have selected two then you must de-select one before selecting another or click <span class='clearlink' ng-click="wipsForm.currentStage = []">clear</span> to reset your selection.</div>
                
                        <div class='col-xs-12' id="stages-checks">
                            <span  ng-repeat="(key, value) in wipsStages">
                                <label class="flag-stage{{value.key}}" ng-class="{'badge-selected-label' : wipsForm.currentStage.indexOf(value.key) > -1}">
                                    <input
                                        ng-disabled="wipsForm.currentStage.length >= 2 && wipsForm.currentStage.indexOf(value.key) <= -1"
                                        ng-click="toggleCurrentStage(value.key)"
                                        ng-checked="wipsForm.currentStage.indexOf(value.key) > -1" 
                                        class="form-check-input" 
                                        type="checkbox" 
                                        name="inlineRadioOptions" 
                                        value="{{value.key}}"><span> {{value.status}}</span>
                                </label>
                            </span>
                        </div>
                    </div>

                    <div class="form-group status-resource-request">
                        <label for="request-resource-text">Resource Requests</label><br />
                        <div class="text-muted" id="resourceRequestInstruction">
                            Please create a new request for each resource required with clear instruction on resource type, person, duration, deadlines, etc. [Max. 200 characters].<br />
                            <i>e.g. Digital designer required for 3 hours w/c 22.05.17, with deadline 2pm Friday 28.05.17.</i><br />
                            You can use the 'Client Request' checkbox against an individual resource request so you can track which requests are based on client feedback/amends/comments. This will show as the following badge: <span title="Client Request" data-toggle="tooltip" data-placement="right" tooltip class="badge client-request-badge">CR</span>
                        </div>
                        
                        <span class="input-group " ng-repeat="(key, value) in wipsForm.resourceRequest track by $index">
                            <textarea maxlength="200" class="form-control" ng-model="wipsForm.resourceRequest[key]" rows="1"></textarea>
                            <span class="input-group-addon input-group-addon-client-request" ng-class="{'selected' : wipsForm.resourceRequestClient[key] == 1}">
                                <input id="rrclient{{key}}" ng-click="wipsForm.resourceRequestClient[key] == 1 ? wipsForm.resourceRequestClient[key] = 0 : wipsForm.resourceRequestClient[key] = 1" ng-checked="wipsForm.resourceRequestClient[key] == 1" type="checkbox" aria-label="Checkbox for following text input"> <label for="rrclient{{key}}">Client Request</label>
                            </span>
                            <span class="input-group-addon" ng-click="removeResourceRequest(key)"><span class="glyphicon glyphicon-remove" title='remove'></span></span>
                        </span>
                            
                        <div class="add-another-holder">
                            <span class="add-resource-request" ng-click="addResourceRequest()"><span class="glyphicon glyphicon-plus"></span> Add Resource Request</span>
                            <span class="pipe-spacer">|</span>
                            <span class="clearall" ng-click="clearAllResourceRequests()">clear all resource requests</span>
                        </div>
                    </div> 

                    <hr />

                    <!-- SECTION 3 - Additional project data which can be edited -->
                    <!-- Live date -->
                    <!-- Countries (if applicable) -->
                    <!-- No. of materials (if applicable) -->
                    <!-- Account Handler(s) -->
                    <!-- Delivery Lead(s) -->
                    <!-- Creative Lead(s) -->
                    <div class="row">

                        <div class="col-xs-3 form-group">
                            <label for="livedate-input">Live Date <small class="text-muted">[Leave blank if unknown or tbc]</small></label> 
                            <input data-toggle="datepicker" class="form-control" type="text" id="livedate-input" ng-model="wipsForm.liveDate">
                        </div>

                        <div class="col-xs-1"></div>
                 
                        <div class="col-xs-5 form-group" ng-show="wipsForm.clientSector == 'CTR'">
                            <label for="countries-input">Countries</label>
                            <input class="form-control" ng-model="wipsForm.countries" type="text" id="countries-input">
                        </div>

                        <div class="col-xs-1"></div>

                        <div class="col-xs-2 form-group" ng-show="wipsForm.clientSector == 'CTR'">
                            <label for="items-input">No. of items</label>
                            <input class="col-xs-2 form-control" ng-model="wipsForm.items" type="number" id="items-input" min="0">
                        </div>

                        <div class="col-xs-0"></div>

                    </div>

                    <div class="row">


                        <div class="col-xs-4 form-group">
                            <label for="client-input">Account Handler(s) <small>(2 max.)</small></label>
                            <select ng-class="{'unselected' : wipsForm.accountHandler1_id == 0}" class="form-control" id="accountsPerson1" ng-model='wipsForm.accountHandler1_id'>
                                <option value="0" class="select-instruction">Select Account Handler</option>
                                <option ng-repeat="(key, value) in allActivePersons.account_handler track by $index" value="{{value.id}}">{{value.name}}</option>
                            </select>
                            <select ng-class="{'unselected' : wipsForm.accountHandler2_id == 0}" class="form-control" id="accountsPerson2" ng-model='wipsForm.accountHandler2_id'>
                                <option value="0">Select Account Handler</option>
                                <option ng-repeat="(key, value) in allActivePersons.account_handler track by $index" value="{{value.id}}">{{value.name}}</option>
                            </select>
                        </div>

                        <div class="col-xs-0"></div>

                        <div class="col-xs-4 form-group">
                            <label for="client-input">Delivery Lead <small>(1 only)</small></label>
                            <select ng-class="{'unselected' : wipsForm.deliveryLead1_id == 0}" class="form-control" id="deliveryLead1"  ng-model='wipsForm.deliveryLead1_id'>
                                <option value="0">{{wipsForm.projectDigitalRaw == 1 ? 'Select DPM' : 'Select Account Handler'}}</option>
                                <option ng-if="wipsForm.projectDigitalRaw == 0"ng-repeat="(key, value) in allActivePersons.account_handler track by $index" value="{{value.id}}">{{value.name}}</option>
                                <option ng-if="wipsForm.projectDigitalRaw == 1" ng-repeat="(key, value) in allActivePersons.dpm track by $index" value="{{value.id}}">{{value.name}}</option>
                            </select>
                        </div>

                        <div class="col-xs-0"></div>

                        <div class="col-xs-4 form-group">
                            <label for="client-input">Lead Creative(s) <small>(2 max.)</small></label>
                            <select ng-class="{'unselected' : wipsForm.leadCreative1_id == 0}" class="form-control" id="leadCreative1"  ng-model='wipsForm.leadCreative1_id'>
                                <option value="0">Select Creative</option>
                                <option ng-repeat="(key, value) in allActivePersons.creative track by $index" value="{{value.id}}">{{value.name}}</option>
                            </select>
                            <select ng-class="{'unselected' : wipsForm.leadCreative2_id == 0}" class="form-control" id="leadCreative2"  ng-model='wipsForm.leadCreative2_id'>
                                <option value="0">Select Creative</option>
                                <option ng-repeat="(key, value) in allActivePersons.creative track by $index" value="{{value.id}}">{{value.name}}</option>
                            </select>
                        </div>

                        <div class="col-xs-0"></div>
                    </div>

                    <hr />

                    <div class="form-group row">
                        <div class="col-xs-6 textleft">
                           
                        </div>
                        <div class="col-xs-6 textright">
                            <input  ng-click="submitWip();" ng-disabled="isWipsFormDisabled();" type="submit" id="submit" class="btn btn-default btn-sumbit" value="Save WIPs" />
                             <button ng-click="back()" class="btn btn-default btn-cancel">Cancel</button>
                        </div>
                    </div>

                </form>

            </div>

        </div>

    </div>

    <div class="col-xs-0 col-lg-1 col-xl-1"></div>

</div>