<div>

    <div class="row wips-form"> 

        <div class="col-xs-12">

        <!--    <form id="parent-select-test">
            
                <div class="form-group row">
                    
                     <div class="col-xs-7"></div>
                    <label for="pjid-input" class="col-xs-2 col-form-label">FOR TESTING -<br />ENTER PARENT JOB ID</label>
                    <div class="col-xs-1">
                        <input class="form-control" ng-model="currentWipParentID" type="text" id="pjid-input">
                    </div>
                    
                    <div class="col-xs-1">
                        <input ng-click="getJobInfo()" type="submit" id="submit" class="btn btn-primary" value="Submit" />
                        
                    </div>
                    
                
            </form>  
            
          -->  
            
          
            <form id="wips-create">
                
                <div class="row">
                    <p class="col-xs-12" ng-click='toSearchPage();'>&laquo; back to search page</p>
                </div>
                
                <div class="row">
                    <h3 class="title col-xs-12">Edit/Create WIPS record</h2>
                </div>
                
                 
                <!-- SECTION 1 - the NON editable main job data -->
                <!-- client -->
                <!-- brand -->
                <!-- job no. -->
                <!-- parent job no. if applicable --> 
                <!-- project title -->
                <!-- digital? -->
                <!-- type -->
                <!-- sector -->
                <!-- account handler -->
                <div class="form-group row">
                    
                    <label for="client-input" class="col-xs-1 col-form-label">Client</label>
                    <div class="col-xs-4">
                        <input class="form-control" ng-model="wipsForm.clientCode" type="text" id="client-input" readonly>
                    </div>
                    
                    <div class="col-xs-1"></div>
                    
                    <label for="brand-input" class="col-xs-1 col-form-label">Brand</label>
                    <div class="col-xs-4">
                        <input class="form-control" ng-model="wipsForm.clientBrand" type="text" id="brand-input" readonly>
                    </div>
                    
                </div>
                
                
                <div class="form-group row">
                    
                    <label for="jobnumber-input" class="col-xs-1 col-form-label">Job Number</label>
                    <div class="col-xs-2">
                        <input class="form-control" ng-model="wipsForm.jobNumber" type="text" id="jobnumber-input" readonly>
                    </div>
                    
                    <div class="col-xs-1"></div>
                    
                    <label for="pjobnumber-input" class="col-xs-1 col-form-label">Parent Job Number</label>
                    <div class="col-xs-2">
                        <input class="form-control" ng-model="wipsForm.parentJobNumber" type="text" id="pjobnumber-input" readonly>
                    </div>
                    
                    <div class="col-xs-1"></div>
                    
                    <label for="type-input" class="col-xs-1 col-form-label">Project Type</label>
                    <div class="col-xs-2">
                        <input class="form-control" ng-model="wipsForm.projectType" type="text" id="type-input" readonly>
                    </div>
                    
                </div>
                
                
                <div class="form-group row">
                    
                    <label for="title-input" class="col-xs-1 col-form-label">Title</label>
                    <div class="col-xs-6">
                        <input class="form-control" ng-model="wipsForm.projectTitle" type="text" id="title-input" readonly>
                    </div>
                    
                    <div class="col-xs-1"></div>
                    
                    <label for="digital-input" class="col-xs-1 col-form-label">Digital</label>
                    <div class="col-xs-2">
                        <input class="form-control" ng-model="wipsForm.projectDigital" type="text" id="digital-input" readonly>
                    </div>
                    
                </div>
                
                <div class="form-group row">
                    
                    <label for="description-input" class="col-xs-1 col-form-label">Description</label>
                    <div class="col-xs-10">
                        <input class="form-control" ng-model="wipsForm.projectDescription" type="text" id="description-input" readonly>
                    </div>
                    
                    
                    
                </div>
                
                <div class="form-group row">
                    
                    <label for="sector-input" class="col-xs-1 col-form-label">Sector</label>
                    <div class="col-xs-4">
                        <input class="form-control" ng-model="wipsForm.clientSector" type="text" id="sector-input" readonly>
                    </div>
                    
                   
                    
                    <label for="leadah-input" class="col-xs-2 col-form-label">Lead Account Handler</label>
                    <div class="col-xs-4">
                        <input class="form-control" ng-model="wipsForm.leadAccountHandler" type="text" id="leadah-input" readonly>
                    </div>
                    
                </div>
                
                <div class="form-group row">
                    <p class="col-xs-11" style="text-align: right;"><small><i>The data above is generated from the Finance System and cannot be edited here.</i></small></p>
                </div>
                    
                <div class="form-group row">
                    <hr  class="col-xs-11" />
                </div>
                
                <!-- SECTION 2 - Editable status and resource request data  -->
                <!-- current status dropdown -->
                <!-- current status noted -->
                <!-- project stage -->
                <!-- resource request(s) -->

                <!--
                <div class="form-group row">
                    
                    <label class="col-xs-1 col-form-label" for="status.select">STATUS:</label>
                   
                    <div class="col-xs-4">
                        <select class="form-control" id="status.select" ng-model="wipsForm.currentStatus" required>
                            <option ng-repeat="(key, value) in wipsStatus" ng-selected="value.key==wipsForm.currentStatus" value="{{value.key}}">{{value.status}}</option>
                        </select>
                    </div>
                    
                    <div class="col-xs-1"></div>
                    
                    <label class="col-xs-1 col-form-label" for="stage.select">STAGE(S):</label>
                   
                    <div class="col-xs-4">
                        <select multiple class="form-control" id="stage.select" ng-model="wipsForm.currentStage" required>
                            <option ng-repeat="(key, value) in wipsStages" ng-selected="value.key === wipsForm.currentStage" value="{{value.key}}">{{value.status}}</option>
                        </select>
                    </div>
                
                </div>
                -->
                
                <div class="form-group row">
                    <label class="col-xs-1 col-form-label" for="status.select">Status</label>
                    
                    <div class='col-xs-10'>

                        <div class="form-check form-check-inline" style='float: left; padding: 15px;' ng-repeat="(key, value) in wipsStatus">
                            <label class="form-check-label">
                                <input ng-model="wipsForm.currentStatus" ng-checked="value.key==wipsForm.currentStatus" class="form-check-input" type="radio" name="inlineRadioOptions" value="{{value.key}}"> {{value.status}}
                            </label>
                        </div>
                        
                    </div>    
                    
                </div>
                
                <div class="form-group row">
                    <label class="col-xs-1 col-form-label" for="status.select">Stage(s)</label>
                    
                    <div class='col-xs-10'>

                        <div class="form-check form-check-inline" style='float: left; padding: 15px;' ng-repeat="(key, value) in wipsStages">
                            <label class="form-check-label">
                                <input 
                                    ng-click="toggleCurrentStage(value.key)"
                                    ng-checked="wipsForm.currentStage.indexOf(value.key) > -1" 
                                    class="form-check-input" 
                                    type="checkbox" 
                                    name="inlineRadioOptions" 
                                    value="{{value.key}}"> {{value.status}}
                            </label>
                        </div>
                        
                    </div>    
                    
                </div>
                
                
                
                <div class="form-group row">
                    
                    <label class="col-xs-1 col-form-label" for="status.textarea">Status Notes</label>
                    <div class="col-xs-10">
                        <textarea class="form-control" id="status.textarea" ng-model="wipsForm.statusNotes" rows="3"></textarea>
                    </div>
                </div>
                
                
                
                
              
                
                <div class="form-group row">
                    <div class="col-xs-1">
                        <label class="col-form-label" for="request-resource-text">Request Resource(s)</label><br />
                        <span class="" style="text-decoration: underline; cursor: pointer;" ng-click="clearAllResourceRequests()">Clear all</span>
                    </div>
                    
                    <div class="col-xs-10">
                        <span style="padding-bottom: 10px" class="input-group" ng-repeat="(key, value) in wipsForm.resourceRequest track by $index">
                            <textarea class="form-control" ng-model="wipsForm.resourceRequest[key]" rows="2" ng-required="key === 0"></textarea>
                            <span class="input-group-addon" ng-click="removeResourceRequest(key)"><span class="glyphicon glyphicon-remove" title='remove'></span></span>
                        </span>
                        
                    </div>
                </div> 
                
                
                <div class="row">
                   <div class="col-xs-1"></div>
                   <small class="col-xs-7 text-muted" id="resourceRequestInstruction">
                        Please create a new request for each resource required with clear instruction on resource type, person, duration, deadlines, etc...<br />
                        <i>e.g. Digital designer required for 3 hours w/c 22.05.17, with deadline 2pm Friday 28.05.17.</i> 
                    </small>
                   
                    <div class="col-xs-3" style="text-align: right;">
                        <span class="btn btn-default btn-add btn-sm" ng-click="addResourceRequest()"><span class="glyphicon glyphicon-plus"></span> Add Another Resource Request</span>
                    </div>
                   
                   <div class="col-xs-1"></div>
                   
                  <!-- <div class="col-xs-11" style="text-align: right;">
                        <span class="btn btn-default btn-sm" ng-click="clearAllResourceRequests()"><span class="glyphicon"></span>Clear All Resource Requests</span>
                    </div> -->
                </div>
                
                
                <div class="form-group row">
                    <hr  class="col-xs-11" />
                </div>
                
               
              
              
            
                <!-- SECTION 3 - Additional project data which can be edited -->
                <!-- Live date -->
                <!-- Countries (if applicable) -->
                <!-- No. of materials (if applicable) -->
                <!-- Account Handler(s) -->
                <!-- Delivery Lead(s) -->
                <!-- Creative Lead(s) -->

                <div class="form-group row">
                    
                    <label class="col-xs-1 col-form-label" for="livedate-input">Live Date</label>
                    
                    <div class="col-xs-3 input-append date form_datetime">
                        <input class="form-control" type="" id="livedate-input" ng-model="wipsForm.liveDate">
                    </div>
                    
                    <!--<div class="col-xs-1"></div> -->
                    
                    
                    <label for="countries-input" class="col-xs-1 col-form-label">Countries</label>
                    <div class="col-xs-4">
                        <input class="form-control" ng-model="wipsForm.countries" type="text" id="countries-input">
                    </div>
                    
                    <!-- <div class="col-xs-1"></div> -->
                    
                    
                    <label for="items-input" class="col-xs-1 col-form-label">No. of items</label>
                    <div class="col-xs-1">
                        <input class="form-control" ng-model="wipsForm.items" type="number" id="items-input" min="0">
                    </div>
                    
                    
                </div>
                
                <div class="form-group row">
                    
                    <label for="client-input" class="col-xs-2 col-form-label">Account Handler(s) <small>(2 max.)</small></label>
                    <div class="col-xs-4">
                        <input class="form-control" id="basic-addon1" bs3-items="5" bs3-minLength="1" bs3-promise="allPeople" placeholder='Search/Enter name' bs3-displayText="displayText" bs3-typeahead ng-model="wipsForm.accountHandler1" type="text">
                    </div>
                    
                    <div class="col-xs-4">
                        <input class="form-control" id="basic-addon2" bs3-items="5" bs3-minLength="1" bs3-promise="allPeople" placeholder='Search/Enter name' bs3-displayText="displayText" bs3-typeahead ng-model="wipsForm.accountHandler2" type="text">
                    </div>
                    
                </div>
                
                 <div class="form-group row">
                    
                    <label for="client-input" class="col-xs-2 col-form-label">Delivery lead <small>(1 only)</small></label>
                    <div class="col-xs-4">
                        <input class="form-control" id="basic-addon3" bs3-items="5" bs3-minLength="1" bs3-promise="allPeople" placeholder='Search/Enter name' bs3-displayText="displayText" bs3-typeahead ng-model="wipsForm.deliveryLead" type="text">
                    </div>
                    
                
                </div>
                
                 <div class="form-group row">
                    
                    <label for="client-input" class="col-xs-2 col-form-label">Lead Creative(s) <small>(2 max.)</small></label>
                    <div class="col-xs-4">
                        <input class="form-control" id="basic-addon4" bs3-items="5" bs3-minLength="1" bs3-promise="allPeople" placeholder='Search/Enter name' bs3-displayText="displayText" bs3-typeahead ng-model="wipsForm.leadCreative1" type="text">
                    </div>
                    
                    <div class="col-xs-4">
                        <input class="form-control" id="basic-addon5" bs3-items="5" bs3-minLength="1" bs3-promise="allPeople" placeholder='Search/Enter name' bs3-displayText="displayText" bs3-typeahead ng-model="wipsForm.leadCreative2" type="text">
                    </div>
                 
                </div>
               
                
                <div class="form-group row">
                    <hr  class="col-xs-11" />
                </div>
                
                <div class="form-group row">
                <div class="col-xs-1"></div>
                <div class="col-xs-10" style="text-align: right;">
                    <input  ng-click="submitWip();" ng-disabled="isWipsFormDisabled();" type="submit" id="submit" class="btn btn-primary" value="Save WIPS Record" />
                </div>
            </div>
                
                
                <div class="form-group row">
                    <hr  class="col-xs-11" />
                </div>
                
               
              
                
                <!-- SECTION 4 - user information -->
                <!-- 'Last updated by xxxxxx on dd.mm.yyyy hh.mm' -->
           
                
                <div class="form-group row">
                    <p class="col-xs-11">Last updated on <i>{{wipsForm.lastUpdated}}</i> by <i>{{wipsForm.lastUpdatedBy}}</i>.</p>
                </div>   
                
  <div class="form-group row">
                    <h5 class="col-xs-11">Update History</h5>
                    
                </div>
              














            </form>

        </div>

        


    </div>

</div>



<!--   </div> -->



