<div class="row" id="job-search-page" ng-controller="WipsJobsearchController">
    
    <div class="col-xs-0 col-lg-0 col-xl-1"></div>

    <div class="col-xs-12 col-lg-12 col-xl-10"> 

        <div class="row">

            <div class="col-xs-6"> 
                <h1>Add Creative WIPs</h1> 
            </div>
            
            <div class="col-xs-6 jobbag-link-container"> 
                <span class="jobbag-link"><a href="https://jobbag.langland-live.co.uk" target="_blank">JOB BAG SYSTEM <span class="glyphicon glyphicon-new-window"></span></a></span>
            </div>
        </div>
        
      <div class='data-container'>

        <div class="job-info">  
     
            <form class="row search-form form-inline">
                <label class="col-xs-12">Search for open jobs to add/update WIPs records:</label>
                <div class="col-xs-12">
                    <!-- ng-keyup="searchString.length > 2 ? searchJobs() : resetJobList()" -->
                    <input 
                        class="form-control" 
                        size="60" 
                        placeholder="Enter job number or name to search" 
                        type="text" 
                        ng-model="searchString" 
                        ng-model-options="{ debounce: 800 }"
                        id="admin-jobbag-search"
                        autocomplete="off">
                    <span ng-disabled="searchString.length === 0" class="btn btn-default" ng-click="searchString = ''; resetJobList()">Clear</span>
                </div>
                <div class="col-xs-1"></div>
            </form>
            
        </div>
      </div>
      
      <div class='data-container' ng-if="searchString.length > 2">
          
          <div class="job-results"> 
                
              <p ng-if="searchString.length > 2 && jobsList.length < 50"><strong>{{jobsList.length}} records found.</strong><br /><small>Note: highlighted items have current WIPs records</small></p>
              <p ng-if="searchString.length > 2 && jobsList.length == 50"><strong>First 50 records matching your search below, please refine your search if your job is not displayed.</strong><br /><small>Note: highlighted items have current WIPs records</small></p>

              
       <!--     <div class='parent-key' ng-if="jobsList.length > 0" >
                <span class="badge parent-badge">P</span> Indicates this is a parent job
            </div>
        -->
        
            <div ng-if="jobsList.length > 0" class="table" id="job-selection">

                <div class="row header" ng-show="jobsList.length > 0">
                    <div class="cell">Job No.</div>
                  <!--  <div class="cell">Parent Job No.</div> -->
                    <div class="cell">Project</div>
                    <div class="cell">Job Type</div>
                    <div class="cell">Client</div>
                    <div class="cell">Brand</div>
                    <div class="cell">Sector</div>
                    <div class="cell">Digital</div>
                    <div class="cell">Account Handler</div>
                    <div class="cell textleft">Actions</div>
                </div>

                <div ng-repeat="(key, data) in jobsList" class="row" ng-class="{'wips': data.wips_count > 0, 'closed': data.cancelled && data.wips_count == 0}">
                  <!--  <div class="cell nglink" ng-click="viewJob(data.id)">
                        {{data.number}} <span title="Parent Job" data-toggle="tooltip" data-placement="right" tooltip ng-if="data.number == data.parent_number" class="badge parent-badge">P</span>
                    </div> -->
                    <div class="cell" ng-bind-html="data.job_number_display">
                    <!--     {{data.number}} <span title="Parent Job" data-toggle="tooltip" data-placement="right" tooltip ng-if="data.number == data.parent_number" class="badge parent-badge">P</span> -->
                    </div>
                 <!--   <div class="cell">{{data.parent_number}}</div> -->
                    <div class="cell">
                        {{data.title}}
                        <!-- PS removed display of legacy data 07/07/20
                            <span ng-if="data.title_leg"><br />{{data.title_leg}} [Legacy job name]</span>
                        -->
                    </div>
                    <div class="cell">{{data.job_type}} 
                          
                    </div>
                    <div class="cell"><strong>{{data.client}}</strong></div>
                    <div class="cell">{{data.brand}}</div>
                    <div class="cell">
                        <span class="badge badge-pill badge-default badge-sector badge-sector-{{data.job_sector_raw}}">{{data.job_sector}}<span>
                    </div>
                    <div class="cell  cell-digital">{{data.digital == 1 ? 'YES' : 'NO'}}
                        <!--<span class='glyphicon glyphicon-ok' ng-if="data.digital == 1"></span>
                        <span class='glyphicon glyphicon-remove' ng-if="data.digital == 0"></span> -->
                    </div>
                    <div class="cell">{{data.account_handler}}</div>
                    
                    
                    
                    <div class="cell cell-actions textleft">
                        
                        <span class="debug">CAPI JID={{data.capi_jid}} / PJID={{data.id}} / wip count={{data.wips_count}}<br /></span>
              

                        <span ng-if="data.cancelled" class='action-closed'>
                            CLOSED IN ALTAIR<br />
                        </span>

                        <span ng-if="data.wips_count > 0 && user.perms.wips.update == 1">
                            <small>Last updated {{data.wips[0].created_on_formatted}}<br />by {{data.wips[0].created_by_name}}</small><br />
                            <span class='action-link' ng-click="updateWipsLink(data.id)">UPDATE WIP<span class="glyphicon glyphicon-chevron-right"></span></span>
                            <br />
                        </span>
                        <span ng-if="data.wips_count == 0 && user.perms.wips.create == 1 && !data.cancelled && data.id > 0">
                            <span class='action-link action-link-add' ng-click="setLocationPath('add-wip/' + data.id)">ADD WIP<span class="glyphicon glyphicon-chevron-right"></span></span>
                            <br />
                        </span>

                        <span ng-if="data.wips_count == 0 && user.perms.wips.create == 1 && !data.cancelled && data.id == 0 && data.capi_jid > 0">
                            <span class='action-link action-link-add' ng-click="setLocationPath('add-wip-capi/' + data.capi_jid)">ADD WIP<span class="glyphicon glyphicon-chevron-right"></span></span>
                            <br />
                        </span>
                        
                        <span ng-if="(!data.cancelled || data.wips_count > 0) && data.id > 0" class='action-link action-link-view' ng-click="viewJob(data.id, false)">
                            VIEW<span class="glyphicon glyphicon-chevron-right"></span>
                        </span>

                        <span ng-if="(!data.cancelled || data.wips_count > 0) && data.id == 0 && data.capi_jid > 0" class='action-link action-link-view' ng-click="viewJob(data.capi_jid, true)">
                            VIEW<span class="glyphicon glyphicon-chevron-right"></span>
                        </span>

                        <!--
                        <span ng-if="(!data.cancelled || data.wips_count > 0) && data.id == 0 && data.capi_jid > 0" class='action-link action-link-view' ng-click="viewJobFromCapi(data.capi_jid)">
                            VIEW (CAPI)<span class="glyphicon glyphicon-chevron-right"></span>
                        </span>
                        -->
                       

                    </div>

                </div>
            </div>
        
        </div>
       
    </div>

    <div class="col-xs-0 col-lg-0 col-xl-1"></div>
    
</div>