<div id="user-views-tabs" ng-class="{'filter-open' : displayControlPanelClosed == false}" >
    <!--<p>{{userViews.length}}</p>
    <p>{{currentSql}}</p> -->
    <ul class="nav nav-tabs main-tabs">
        <li ng-repeat="(key, value) in userViews" ng-class="{'active' : displayView == value.id}">
            <a title="{{value.description}}" data-toggle="tooltip" data-placement="top" tooltip ng-click="switchViewPath(value.id)">{{value.title}}</a>
        </li> 
      
        <li ng-if="displayView == 0" ng-class="{'active': displayView == 0}">
            <a ng-click="setLocationPath('my-views')">< NEW ></a>
        </li> 
 
        <li class='add-new' ng-if="displayView != 0">
            <div class="head-button" ng-click="switchViewPath(0)">+ Create New View</div>
        </li>
        
        <li class='hideshow'>
            <span class='' ng-click="displayControlPanelClosed == true ? displayControlPanelClosed = false : displayControlPanelClosed = true">
               Filters <span ng-if='displayControlPanelClosed == true' class='glyphicon glyphicon-chevron-down'></span><span ng-if='displayControlPanelClosed != true' class='glyphicon glyphicon-chevron-up'></span></span>
        </li>
        
        
    </ul>
    
</div>