<div id="wips-views-main">
     
    <div user-views-tabs></div>
    
    <div display-control-panel-filters></div>
    
    <p ng-if="wipsList.length == 0" style="padding: 7px 2px; font-weight: bold;">No records to show.</p>
    
    <div class="table" id="job-selection" ng-if="wipsList.length > 0">
     
        <div class="row header" ng-show="wipsList.length > 0">
         
            <!-- Client -->
            <div ng-show='showCols.client == true' class="cell">
                <div class="col-remove">&nbsp;</div>
                <div class="col-title">Client</div>
                <div class="col-order nowrap">
                    <span class="glyphicon glyphicon-chevron-up"  ng-click="sortData('client', 'asc', false)" ng-class="{'selected' : orderColumn == 'client' && orderOrder == 'asc'}"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-click="sortData('client', 'desc', false)" ng-class="{'selected' : orderColumn == 'client' && orderOrder == 'desc'}"></span>
                </div>
            </div>
            
            <!-- Sector -->
            <div ng-show='showCols.sector == true' class="cell">
                <div class="col-remove"><!--<span ng-click="toggleShowCols('sector')"  class="glyphicon glyphicon-remove-circle"></span>--> <div ng-click="toggleShowCols('sector')" class="glyphicon glyphicon-remove"></div></div>
                <div class="col-title">Sector</div>
                <div class="col-order nowrap">
                    <span class="glyphicon glyphicon-chevron-up" ng-click="sortData('sector', 'asc', false)" ng-class="{'selected' : orderColumn == 'sector' && orderOrder == 'asc'}"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-click="sortData('sector', 'desc', false)" ng-class="{'selected' : orderColumn == 'sector' && orderOrder == 'desc'}"></span>
                </div>
            </div>
            
           <!-- Job No. -->
            <div ng-show='showCols.jnumber == true' class="cell">
                <div class="col-remove">&nbsp;</div>
                <div class="col-title nowrap">Job No.</div>
                <div class="col-order nowrap">
                    <span class="glyphicon glyphicon-chevron-up"  ng-click="sortData('job_number_display_raw_inline', 'asc', false)" ng-class="{'selected' : orderColumn == 'number' && orderOrder == 'asc'}"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-click="sortData('job_number_display_raw_inline', 'desc', false)" ng-class="{'selected' : orderColumn == 'number' && orderOrder == 'desc'}"></span>
                </div>
            </div>
        
            <!-- Job Type -->
            <div ng-show='showCols.jtype == true' class="cell">
                <div class="col-remove"><div ng-click="toggleShowCols('jtype')" class="glyphicon glyphicon-remove"></div><!--<span ng-click="toggleShowCols('jtype')"  class="glyphicon glyphicon-remove-circle"></span>--></div>
                <div class="col-title nowrap">Job Type</div>
                <div class="col-order nowrap">
                    <span class="glyphicon glyphicon-chevron-up"  ng-click="sortData('type', 'asc', false)" ng-class="{'selected' : orderColumn == 'type' && orderOrder == 'asc'}"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-click="sortData('type', 'desc', false)" ng-class="{'selected' : orderColumn == 'type' && orderOrder == 'desc'}"></span>
                </div>
            </div>
            
            <!-- Project -->
            <div ng-show='showCols.project == true' class="cell">
                <div class="col-remove"><div ng-click="toggleShowCols('project')" class="glyphicon glyphicon-remove"></div><!--<span ng-click="toggleShowCols('project')"  class="glyphicon glyphicon-remove-circle"></span>--></div>
                <div class="col-title">Project</div>
                <div class="col-order nowrap">
                    <span class="glyphicon glyphicon-chevron-up"  ng-click="sortData('title', 'asc', false)" ng-class="{'selected' : orderColumn == 'title' && orderOrder == 'asc'}"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-click="sortData('title', 'desc', false)" ng-class="{'selected' : orderColumn == 'title' && orderOrder == 'desc'}"></span>
                </div>
            </div>
            
            <!-- Digital -->
            <div ng-show='showCols.digital == true' class="cell">
                <div class="col-remove"><div ng-click="toggleShowCols('digital')" class="glyphicon glyphicon-remove"></div><!--<span ng-click="toggleShowCols('digital')"  class="glyphicon glyphicon-remove-circle"></span>--></div>
                <div class="col-title">Digital</div>
                <div class="col-order nowrap">
                    <span class="glyphicon glyphicon-chevron-up"  ng-click="sortData('digital_formatted', 'asc', false)" ng-class="{'selected' : orderColumn == 'digital_formatted' && orderOrder == 'asc'}"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-click="sortData('digital_formatted', 'desc', false)" ng-class="{'selected' : orderColumn == 'digital_formatted' && orderOrder == 'desc'}"></span>
                </div>
            </div>
            
            <!-- Countries -->
            <div ng-show='showCols.countries == true' class="cell">
                <div class="col-remove"><div ng-click="toggleShowCols('countries')" class="glyphicon glyphicon-remove"></div><!--<span ng-click="toggleShowCols('countries')"  class="glyphicon glyphicon-remove-circle"></span>--></div>
                <div class="col-title">Countries</div>
                <div class="col-order nowrap">&nbsp;</div>
            </div>
            
            <!-- No. if Items -->
            <div ng-show='showCols.items == true' class="cell">
                <div class="col-remove"><div ng-click="toggleShowCols('items')" class="glyphicon glyphicon-remove"></div><!--<span ng-click="toggleShowCols('items')"  class="glyphicon glyphicon-remove-circle"></span>--></div>
                <div class="col-title nowrap">No. of Items</div>
                <div class="col-order">&nbsp;</div>
            </div>
            
            <!-- Status -->
            <div ng-show='showCols.status == true' class="cell">
                <div class="col-remove"><div ng-click="toggleShowCols('status')" class="glyphicon glyphicon-remove"></div><!--<span ng-click="toggleShowCols('status')"  class="glyphicon glyphicon-remove-circle"></span>--></div>
                <div class="col-title">Status</div>
                <div class="col-order nowrap">
                    <span class="glyphicon glyphicon-chevron-up"  ng-click="sortData('status', 'asc', false)" ng-class="{'selected' : orderColumn == 'status' && orderOrder == 'asc'}"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-click="sortData('status', 'desc', false)" ng-class="{'selected' : orderColumn == 'status' && orderOrder == 'desc'}"></span>
                </div>
            </div>
            
            <!-- Status Notes -->  
            <div ng-show='showCols.status_notes == true' class="cell">
                <div class="col-remove"><div ng-click="toggleShowCols('status_notes')" class="glyphicon glyphicon-remove"></div><!--<span ng-click="toggleShowCols('status_notes')" class="glyphicon glyphicon-remove-circle"></span>--></div>
                <div class="col-title nowrap">Status Notes</div>
                <div class="col-order nowrap">&nbsp;</div>
            </div>
            
            <!-- Stage -->
            <div ng-show='showCols.stages == true' class="cell">
                <div class="col-remove"><div ng-click="toggleShowCols('stages')" class="glyphicon glyphicon-remove"></div><!--<span ng-click="toggleShowCols('stages')" class="glyphicon glyphicon-remove-circle"></span>--></div>
                <div class="col-title">Stage</div>
                <div class="col-order nowrap">&nbsp;</div>
            </div>
            
            <!-- Resource Requests -->
            <div ng-show='showCols.resources == true' class="cell">
                <div class="col-remove"><div ng-click="toggleShowCols('resources')" class="glyphicon glyphicon-remove"></div><!--<span ng-click="toggleShowCols('resources')" class="glyphicon glyphicon-remove-circle"></span>--></div>
                <div class="col-title nowrap">Resource Requests</div>
                <div class="col-order nowrap">&nbsp;</div>
            </div>
            
            <!-- Live Date -->
            <div ng-show='showCols.livedate == true' class="cell">
                <div class="col-remove"><div ng-click="toggleShowCols('livedate')" class="glyphicon glyphicon-remove"></div><!--<span ng-click="toggleShowCols('livedate')"  class="glyphicon glyphicon-remove-circle"></span>--></div>
                <div class="col-title nowrap">Live Date</div>
                <div class="col-order nowrap">
                    <span class="glyphicon glyphicon-chevron-up"  ng-click="sortData('live_date_raw', 'asc', true)" ng-class="{'selected' : orderColumn == 'live_date' && orderOrder == 'asc'}"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-click="sortData('live_date_raw', 'desc', true)" ng-class="{'selected' : orderColumn == 'live_date' && orderOrder == 'desc'}"></span>
                </div>
            </div>
          
            <!-- Account Handlers -->
            <div ng-show='showCols.account_handlers == true' class="cell">
                <div class="col-remove"><div ng-click="toggleShowCols('account_handlers')" class="glyphicon glyphicon-remove"></div><!--<span ng-click="toggleShowCols('account_handlers')" class="glyphicon glyphicon-remove-circle"></span>--></div>
                <div class="col-title nowrap">Account Handlers</div>
                <div class="col-order nowrap">
                    <span class="glyphicon glyphicon-chevron-up"  ng-click="sortData('account_handlers_x', 'asc', false)" ng-class="{'selected' : orderColumn == 'account_handlers_x' && orderOrder == 'asc'}"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-click="sortData('account_handlers_x', 'desc', false)" ng-class="{'selected' : orderColumn == 'account_handlers_x' && orderOrder == 'desc'}"></span>
                </div>
            </div>
            
            <!-- Delivery Lead -->
            <div ng-show='showCols.lead_delivery == true' class="cell">
                <div class="col-remove"><div ng-click="toggleShowCols('lead_delivery')" class="glyphicon glyphicon-remove"></div><!--<span ng-click="toggleShowCols('lead_delivery')" class="glyphicon glyphicon-remove-circle"></span>--></div>
                <div class="col-title nowrap">Delivery Lead</div>
                <div class="col-order nowrap">
                    <span class="glyphicon glyphicon-chevron-up"  ng-click="sortData('delivery_leads_x', 'asc', false)" ng-class="{'selected' : orderColumn == 'delivery_leads_x' && orderOrder == 'asc'}"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-click="sortData('delivery_leads_x', 'desc', false)" ng-class="{'selected' : orderColumn == 'delivery_leads_x' && orderOrder == 'desc'}"></span>
                </div>              
            </div>
            
            <!-- Lead Creatives -->
            <div ng-show='showCols.creatives == true' class="cell">
                <div class="col-remove"><div ng-click="toggleShowCols('creatives')" class="glyphicon glyphicon-remove"></div><!--<span ng-click="toggleShowCols('creatives')" class="glyphicon glyphicon-remove-circle"></span>--></div>
                <div class="col-title nowrap">Lead Creatives</div>
               <div class="col-order nowrap">
                    <span class="glyphicon glyphicon-chevron-up"  ng-click="sortData('lead_creatives_x', 'asc', false)" ng-class="{'selected' : orderColumn == 'lead_creatives_x' && orderOrder == 'asc'}"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-click="sortData('lead_creatives_x', 'desc', false)" ng-class="{'selected' : orderColumn == 'lead_creatives_x' && orderOrder == 'desc'}"></span>
                </div>              
            </div>
            
            <!-- Total Costs -->
            <div ng-show='showCols.total_costs == true' class="cell">
                <div class="col-remove"><div ng-click="toggleShowCols('total_costs')" class="glyphicon glyphicon-remove"></div><!--<span ng-click="toggleShowCols('countries')"  class="glyphicon glyphicon-remove-circle"></span>--></div>
                <div class="col-title"><span class='nowrap'>Costs to date</span></div>
                <div class="col-order nowrap">&nbsp;</div>
            </div>
            
            <!-- Last Updated -->
            <div ng-show='showCols.last_updated == true' class="cell">
                <div class="col-remove">&nbsp;</div>
                <div class="col-title nowrap">Last Updated</div>
                <div class="col-order nowrap">
                    <span class="glyphicon glyphicon-chevron-up"  ng-click="sortData('created_on_raw', 'asc', true)" ng-class="{'selected' : orderColumn == 'created_on_raw' && orderOrder == 'asc'}"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-click="sortData('created_on_raw', 'desc', true)" ng-class="{'selected' : orderColumn == 'created_on_raw' && orderOrder == 'desc'}"></span>
                </div>
            </div>
            
            <!-- Actions -->
            <div class="cell">
                <div class="col-remove">&nbsp;<!--<span ng-click="toggleShowCols('actions')" class="glyphicon glyphicon-remove-circle"></span>--></div>
                <div class="col-title nowrap">Actions</div>
                <div class="col-order nowrap">&nbsp;</div>
            </div>
            
        </div>


        <!-- loop through the results set and output -->    
        <div ng-repeat="(key, data) in wipsList" class="row" ng-class="{'hilite': key == hiliteRowKey, 'updated': data.id+data.pjid == updateRow}" ng-click="toggleHiliteRowKey(key)" id="{{data.id}}{{data.pjid}}">
            <!--{{data}}  -->
            <!-- Client -->
            <div ng-show='showCols.client == true' class="cell cell-client">{{data.client}}</div>
                       
            <!-- Sector -->
            <div ng-show='showCols.sector == true' class="cell cell-sector cell-{{data.sector_cell}}">
                <!--<span class="badgexx badge-pillxx badge-defaultxx badge-sector {{data.sector_badge}}xx">{{data.sector}}<span>-->
                {{data.sector}}
            </div>
            
            <!-- Job Nos -->
            <div ng-show='showCols.jnumber == true' class="cell nowrap">
                
               <!-- <span>{{data.number}}</span> <span  title="Parent Job" data-toggle="tooltip" data-placement="right" tooltip  ng-if="data.is_parent" class="badge parent-badge">P</span> -->
                
                <!--<span ng-bind-html="data.job_number_shorthand"></span> -->
                
                <span class="job-number" 
                    tooltip 
                    data-html="true"
                    data-toggle="tooltip" 
                    data-placement="top" 
                    title="{{data.job_number_display}}"  
                    >{{data.job_number_shorthand}}</span>
                
                <!--<span>{{data.job_number_display_raw_inline}}</span> -->

            </div>
            
            <!-- Type -->
            <div ng-show='showCols.jtype == true' class="cell cell-jtype">{{data.type}}</div>
            
            <!-- Title -->
            <div ng-show='showCols.project == true' class="cell cell-title">
                
                <span>{{data.title}}</span>
                
                <!-- PS removed display of legacy data 07/07/20
                <span ng-if="data.job_name_legacy"
                    class="job-number" 
                    tooltip 
                    data-html="true"
                    data-toggle="tooltip" 
                    data-placement="top" 
                    title="{{data.job_name_legacy_hover}}">{{data.title}}</span>
                -->
            
            <!-- ESTIMATES AND PROJECT LEADS ON HOLD 
            <br />
                
                <div>
                    
                    <span class="badge badge-pill badge-primary badge-pt" 
                      ng-class="{'badge-pt-noset': data.project_team.pm_id == '0'}" 
                      tooltip 
                      data-toggle="tooltip" 
                      data-placement="top" 
                      title="Project Manager: {{data.project_team.pm_id == '0' ? 'Not set' : data.project_team.pm_name}}">PM
                    </span>

                    <span class="badge badge-pill badge-primary badge-pt" 
                          ng-class="{'badge-pt-noset': data.project_team.ah_id == '0'}" 
                          tooltip 
                          data-toggle="tooltip" 
                          data-placement="top" 
                          title="Account Handler: {{data.project_team.ah_id == '0' ? 'Not set' : data.project_team.ah_name}}">AH
                    </span>

                    <span class="badge badge-pill badge-primary badge-pt" 
                          ng-class="{'badge-pt-noset': data.project_team.strategy_id == '0'}" 
                          tooltip 
                          data-toggle="tooltip" 
                          data-placement="top" 
                          title="Strategy Lead: {{data.project_team.strategy_id == '0' ? 'Not set' : data.project_team.strategy_name}}">St
                    </span>


                    <span class="badge badge-pill badge-primary badge-pt" 
                          ng-class="{'badge-pt-noset': data.project_team.creative1_id == '0'}" 
                          tooltip 
                          data-toggle="tooltip" 
                          data-placement="top" 
                          title="Creative Lead: {{data.project_team.creative1_id == '0' ? 'Not set' : data.project_team.creative1_name}}">Cr
                    </span>

                    <span class="badge badge-pill badge-primary badge-pt" style="padding-right: 5px;" ng-if="data.project_team.creative2_id > 0"
                          ng-class="{'badge-pt-noset': data.project_team.creative2_id == '0'}" 
                          tooltip 
                          data-toggle="tooltip" 
                          data-placement="top" 
                          title="Second Creative Lead: {{data.project_team.creative2_id == '0' ? 'Not set' : data.project_team.creative2_name}}">Cr
                    </span>
                </div>
                     ESTIMATES AND PROJECT LEADS ON HOLD -->
            
            </div>
            
            <!-- Digital -->
            <div ng-show='showCols.digital == true' class="cell cell-digital">{{data.digital_formatted}}</div>
                
            <!-- Countries -->
            <div ng-show='showCols.countries == true' class="cell cell-counties">{{data.countries}}</div>
            
            <!-- No. of Items -->
            <div ng-show='showCols.items == true' class="cell cell-noitems">{{data.no_items ? data.no_items : 'n/a'}}</div>
            
            <!-- Status -->
            <div ng-show='showCols.status == true' class="cell cell-status nowrap">
                <span class="status{{data.status_id}}">{{data.status}}</span>
            </div>

            <!-- Status Notes -->
            <div ng-show='showCols.status_notes == true' class="cell cell-statusnotes">{{data.status_notes}}</div>
       
            <!-- Stage -->
            <div ng-show='showCols.stages == true' class="cell cell-stages">
                <span ng-repeat="(key4, stage) in data.stages">{{stage}}<br /></span>
            </div>
            
            <!-- Resources -->
            <div ng-show='showCols.resources == true' class="cell cell-resources">
                <ul>
                   <li ng-repeat="(key2, request) in data.resource_requests track by $index" ng-if="request != '' && $index < resourcesDisplayLimit">{{request}} <span ng-if="data.resource_requests_client[key2] == '1'" title="Client Request" data-toggle="tooltip" data-placement="right" tooltip class="badge client-request-badge">CR</span></li>
                </ul>
                
                <span ng-if="data.resource_requests.length > resourcesDisplayLimit">
                    <span class="resource-plus-x">plus <strong>{{data.resource_requests.length - resourcesDisplayLimit}}</strong> more</span>
                    <span ng-click="popResourceRequests(data)" class="resource-see-all">see all</span>
                </span>
                
            </div>
        
            <!-- Live Date -->
            <div ng-show='showCols.livedate == true' class="cell cell-livedate">{{data.live_date}}</div>
            
            <!-- Account Handlers -->
            <div ng-show='showCols.account_handlers == true' class="cell cell-accounthandlers">{{data.account_handler1}}<span ng-if="data.account_handler2 != ''">,<br />{{data.account_handler2}}</span></div>
            
            <!-- Delivery Lead -->
            <div ng-show='showCols.lead_delivery == true' class="cell cell-leaddelivery">{{data.delivery_lead1}}</div>
            
            <!-- Creative Lead -->
            <div ng-show='showCols.creatives == true' class="cell cell-leadcreatice">{{data.lead_creative1}}<span ng-if="data.lead_creative2 != ''">,<br />{{data.lead_creative2}}</span></div>
            
            <!-- Total Costs -->
            <div ng-show='showCols.total_costs == true' class="cell cell-totalcosts nowrap">
                <span ng-if='data.finance_data != false' class='action-link' ng-click="popFinanceSummary(data)">{{data.finance_data.totals.total_costs == '£0.00' ? '-' : data.finance_data.totals.total_costs}}</span>
                
                <!-- ESTIMATES AND PROJECT LEADS ON HOLD 
                <br />
                <span ng-if="data.job_estimates.set" class='estimates-available nowrap'>Estimates available</span>
                <span ng-if="!data.job_estimates.set" class='estimates-not-set nowrap'>Estimates not set</span>
                     ESTIMATES AND PROJECT LEADS ON HOLD -->
               
            </div>   
        
            <!-- Last Updated -->
            <div ng-show='showCols.last_updated == true' class="cell cell-lastupdated {{data.interval_style}}">
                <span class='nowrap'><strong>{{data.created_on_formatted}}</strong></span><!-- {{data.interval ? '('+ data.interval +')' : ''}}--><br>by {{data.created_by_name}}
            </div>
            
            <!-- Actions -->
            <div ng-show='showCols.actions == true' class="cell cell-actions textleft">
                <span style="font-size: 10px; display: none">CAPI JID={{data.capi_jid}} / PJID={{data.pjid}}</span>
                <span ng-if="user.perms.wips.update == 1" class='action-link action-link-update' ng-click="updateWipsLinkCheckViewUpdate(data.pjid);">UPDATE<span class="glyphicon glyphicon-chevron-right"></span></span>
                <span ng-if="user.perms.wips.update == 1"><br /></span>
                <span class='action-link action-link-view' ng-click="viewJob(data.pjid, false)">VIEW<span class="glyphicon glyphicon-chevron-right"></span></span>
            </div>

        </div>
    
    </div>  
</div>
