<div class="modal fade view-job resource-requests-pop">
    <div class="modal-dialog">
        <div class="modal-content info-message">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body">

                <h1>{{prod.job_number_shorthand}} - {{prod.title}} - {{prod.types_names_string}}</h1>  

                <div ng-if="type == 'desc'" class='data-container'>
                    
                    <h3>Description/Requirements/Timings</h3>

                    <p ng-bind-html="prod.description_html"></p>
                    
                    <p class='field-block-buttons'>
                        <button type="button" ng-click="close()" class="btn btn-default">OK</button>
                    </p>

                </div>
                
                <div ng-if="type == 'status'" class='data-container'>
                    
                    <h3>Stage/Status Notes</h3>

                    <p ng-bind-html="prod.status_notes_html"></p>
                    
                    <p class='field-block-buttons'>
                        <button type="button" ng-click="close()" class="btn btn-default">OK</button>
                    </p>

                </div>
                
            </div>
        </div>
    </div>
</div>