<div class="modal view-job fade report report-1">
    
    <div class="modal-dialog">
        
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            
            <div class="modal-body">    
                <h1><span class="glyphicon glyphicon-stats"></span> Producer Summary</h1>
                <div class='data-container'>
                  <!--  <div class="table" id="producer-summary">
        
                        <div class="row header">
             
                            <div class="cell cell-producer">
                                <div class="col-producer">Producer</div>
                            </div>
            
                            <div class="cell">
                                <div class="">Active Records...</div>
                            </div>
                            
                            <div class="cell cell-onhold">
                                <div class="">...of which On Hold</div>
                            </div>

                            <div class="cell">
                                <div class="">Animation</div>
                            </div>

                            <div class="cell">
                                <div class="">Brochure</div>
                            </div>
                            <div class="cell">
                                <div class="">CGI</div>
                            </div>
                            <div class="cell">
                                <div class="">Experiental</div>
                            </div>
                            <div class="cell">
                                <div class="">Film</div>
                            </div>
                            <div class="cell">
                                <div class="">Illustration</div>
                            </div>
                            <div class="cell">
                                <div class="">Merchandise</div>
                            </div>
                            <div class="cell">
                                <div class="">Photography</div>
                            </div>
                            
                            <div class="cell">
                                <div class="">Post Production</div>
                            </div>
                            <div class="cell">
                                <div class="">Radio</div>
                            </div>
                            
                            <div class="cell">
                                <div class="">Stills</div>
                            </div>
                            
                             <div class="cell">
                                <div class="">Voice Over</div>
                            </div>
                            
                             <div class="cell cell-budget">
                                <div class="col-title col-budget">Budget</div>
                            </div>
                            
                        </div>   
                        
                  -->      <!-- rows -->
                   <!--     <div ng-repeat="(key, data) in stats.producers" class="row" id="producer_{{data.person.id}}">
                            <div class="cell cell-producer">{{data.person.name}}</div>
                            
                            <div class="cell cell-active">{{data.stats.active ? data.stats.active : '0'}}</div>
                            
                            <div class="cell cell-onhold">{{data.stats.onhold ? data.stats.onhold : '0'}}</div>
                            
                            <div class="cell cell-animation cell-type-5">{{data.stats.type_5 ? data.stats.type_5 : '-'}}</div>
                            
                            <div class="cell cell-brochure cell-type-8">{{data.stats.type_8 ? data.stats.type_8 : '-'}}</div>
                            
                            <div class="cell cell-cgi cell-type-9">{{data.stats.type_9 ? data.stats.type_9 : '-'}}</div>
                            
                            <div class="cell cell-experiental cell-type-10">{{data.stats.type_10 ? data.stats.type_10 : '-'}}</div>
                            
                            <div class="cell cell-film cell-type-2">{{data.stats.type_2 ? data.stats.type_2 : '-'}}</div>
                            
                            <div class="cell cell-illustration cell-type-3">{{data.stats.type_3 ? data.stats.type_3 : '-'}}</div>
                            
                            <div class="cell cell-merchandise cell-type-1">{{data.stats.type_1 ? data.stats.type_1 : '-'}}</div>
                            
                            <div class="cell cell-photography cell-type-6">{{data.stats.type_6 ? data.stats.type_6 : '-'}}</div>
                            
                            <div class="cell cell-post-production cell-type-4">{{data.stats.type_4 ? data.stats.type_4 : '-'}}</div>
                           
                            <div class="cell cell-radio cell-type-11">{{data.stats.type_11 ? data.stats.type_11 : '-'}}</div>
                            
                            <div class="cell cell-stills cell-type-7">{{data.stats.type_7 ? data.stats.type_7 : '-'}}</div>
                            
                            <div class="cell cell-voice-over cell-type-12">{{data.stats.type_12 ? data.stats.type_12 : '-'}}</div>
                            
                            <div class="cell cell-budget">{{data.stats.budget ? data.stats.budget : '0'}}</div>
                           
                            
                        </div>
     
                  
                        <div class="row totals">
                            
                            <div class="cell cell-totals cell-producer"></div>
                            
                            <div class="cell cell-totals">{{stats.totals.active}}</div>
                            <div class="cell cell-totals cell-onhold">{{stats.totals.onhold}}</div>
                            <div class="cell cell-totals">{{stats.totals.type_1}}</div>
                            <div class="cell cell-totals">{{stats.totals.type_2}}</div>
                            <div class="cell cell-totals">{{stats.totals.type_3}}</div>
                            <div class="cell cell-totals">{{stats.totals.type_4}}</div>
                            <div class="cell cell-totals">{{stats.totals.type_5}}</div>
                            <div class="cell cell-totals">{{stats.totals.type_6}}</div>
                            <div class="cell cell-totals">{{stats.totals.type_7}}</div>
                            <div class="cell cell-totals">{{stats.totals.type_8}}</div>
                            <div class="cell cell-totals">{{stats.totals.type_9}}</div>
                            <div class="cell cell-totals">{{stats.totals.type_10}}</div>
                            <div class="cell cell-totals">{{stats.totals.type_11}}</div>
                            <div class="cell cell-totals">{{stats.totals.type_12}}</div>
                            <div class="cell cell-totals cell-budget">{{stats.totals.budget}}</div>
                            
                            
                        </div>
                    
                    
                    
                 
                    
                </div> <!-- end of table -->
                
                <!-- table 2 -->
                 <div class="table" id="producer-summary">
        
                        <div class="row header">
             
                            <div class="cell">
                                <div class=""></div>
                            </div>
                            
                            
                            <div ng-repeat="(key, data) in stats.producers" class="cell" id="producer_{{data.person.id}}">
                                <div class="">{{data.person.name}}</div>
                            </div>
                            
                            <div class="cell">
                                <div class="">Totals</div>
                            </div>
                            
                        </div> <!-- // .row -->
                        
                        <div class="row">
                            
                             <div class="cell cell-header cell-hilite">
                                <div class="">Active Jobs</div>
                            </div>
                            
                            <div ng-repeat="(key2, data2) in stats.producers" class="cell cell-hilite">
                                <div class="">{{data2.stats.active}}</div>
                            </div>
                            
                             <div class="cell cell-totals cell-hilite">
                                <div class="">{{stats.totals.active}}</div>
                            </div>
                            
                        </div>
                        
                         <div class="row dbl-border-bottomx">
                            
                             <div class="cell cell-header cell-hilite">
                                <div class="">...of which On Hold</div>
                            </div>
                             
                            <div ng-repeat="(key2, data2) in stats.producers" class="cell cell-hilite">
                                <div class="">{{data2.stats.onhold}}</div>
                            </div>
                             
                              <div class="cell cell-totals cell-hilite">
                                <div class="">{{stats.totals.onhold}}</div>
                            </div>
                            
                        </div>
                        
                        
                        
                        <div ng-repeat="(key, data) in stats.titles" class="row row-{{key}}" >
                            
                            
                            <div class="cell cell-header">
                                <div class="">{{data}}</div>
                            </div>
                            
                            <div ng-repeat="(key2, data2) in stats.producers" class="cell">
                                <div class="">{{data2.stats[key]}}</div>
                            </div>
                            
                             <div class="cell cell-totals">
                                <div class="">{{stats.totals[key]}}</div>
                            </div>
                            
                        </div>
                        
                               
                        
                        <div class="row">
                            
                             <div class="cell cell-header cell-hilite">
                                <div class="">Budget GBP</div>
                            </div>
                            
                            <div ng-repeat="(key2, data2) in stats.producers" class="cell  cell-totals cell-hilite">
                                <div class="">{{data2.stats.budget}}</div>
                            </div>
                            
                             <div class="cell cell-totals cell-hilite">
                                <div class="">{{stats.totals.budget}}</div>
                            </div>
                            
                        </div>
                               
                               
                               
                
                
                
            </div><!-- end of table -->
            
            <p class="footnote">Figures based on current Active Jobs.</p>
        
        </div>
    
    </div>
    
</div>