<div class="modal view-job fade report report-2">
    
    <div class="modal-dialog">
        
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            
            <div class="modal-body">    
                <h1><span class="glyphicon glyphicon-stats"></span> Jobs by Type Summary</h1>
                <div class='data-container'>
                    <div class="table" id="jobtype-summary">
                        
                        <div class="row header">
             
                            <div class="cell cell-partner">
                                <div class="col-producer">Job Type</div>
                            </div>
            
                            <div class="cell">
                                <div class="">Active Jobs</div>
                            </div>
                            
                            <div class="cell">
                                <div class="">...of which On Hold</div>
                            </div>
                            
                            <div class="cell cell-budget">
                                <div class="">Budget GBP</div>
                            </div>
                        
                        </div>
                       
                        <div ng-repeat="(key, data) in stats" class="row" id="partner_{{data.name}}">
                       
                            <div class="cell cell-partner">{{data.name}}</div>
                           
                            <div class="cell cell-active">{{data.count}}</div>
                           
                            <div class="cell cell-onhold">{{data.onhold}}</div>
                            
                            <div class="cell cell-budget">{{data.budget}}</div>
                        
                        </div>
                        
                        
                        
                    </div>
                     
                          <p class="footnote">Figures based on current Active Jobs.</p>
       
                </div>
            </div>
        
        </div>
    
    </div>
    
</div>