<div class="modal fade view-production-record view-job">
    
    <div class="modal-dialog">
        
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <div class="icon-key">
                    <span class="glyphicon glyphicon-ok"></span> Indicates field updated since previous version.<br />
                    <!--<span ng-if="prodRec.jobinfo.is_parent"><span class="badge parent-badge">P</span> Indicates this is a parent job</span> -->
                </div>
            </div>
            
            <div class="modal-body">   
                
                <h1>{{prodRec.jobinfo.job_number_shorthand}} - {{prodRec.jobinfo.title}} - {{prodRec.records[0].types_names_string}}</h1> 
              
                <div ng-if="prodRec.jobinfo.mldm"><p style="font-weight: bold; padding: 0 10px; text-transform: uppercase;">Note: This job is now closed in Altair. Please book any time to the Parent Job.</p></div>

                <div class='data-container'>

                    <div class="job-info">  

                        <h3>Job Info</h3>

                        <div class="row">  
                            <div class="col-xs-2"><span class='mylabel'>Job Numbers:</span></div>
                            <div class="col-xs-10"><span ng-bind-html="prodRec.jobinfo.job_number_curr_display_inline"></span></div>

                        </div>    

                        <div class="row">  
                            <div class="col-xs-2"><span class='mylabel'>Project:</span></div><div class="col-xs-10">{{prodRec.jobinfo.title}}</div>
                        </div>

                        <div class="row">  
                            <div class="col-xs-2"><span class='mylabel'>Client:</span></div><div class="col-xs-4"><strong>{{prodRec.jobinfo.client}}</strong></div>
                            <div class="col-xs-2"><span class='mylabel'>Job Type:</span></div><div class="col-xs-4">{{prodRec.jobinfo.job_type}}</div>
                        </div>

                        <div class="row">  
                            <div class="col-xs-2"><span class='mylabel'>Brand:</span></div><div class="col-xs-4">{{prodRec.jobinfo.brand}}</div>
                            <div class="col-xs-2"><span class='mylabel'>Sector:</span></div><div class="col-xs-4"><strong>{{prodRec.jobinfo.job_sector}}</strong></div>
                        </div>


                        <div class="row">  
                            <div class="col-xs-2"><span class='mylabel'>Lead Account Handler:</span></div><div class="col-xs-4">{{prodRec.jobinfo.account_handler}}</div>
                            <div class="col-xs-2"><span class='mylabel'>Digital:</span></div><div class="col-xs-4">{{prodRec.jobinfo.digital == 1 ? 'YES' : 'NO'}}</div>
                        </div>
                        <!-- PS removed display of legacy data 07/07/20
                        <span ng-if="prodRec.jobinfo.legacy_data">
                            
                            <hr />
                            
                            <h3>Legacy Data</h3>
                            
                            <div class="row">  
                            
                                <div class="col-xs-2"><span class='mylabel'>Legacy Job Numbers:</span></div><div class="col-xs-4" ng-bind-html="prodRec.jobinfo.job_number_leg_display_inline ? prodRec.jobinfo.job_number_leg_display_inline : 'n/a'"></div>
                                <div class="col-xs-2"><span class='mylabel'>Legacy Job Name:</span></div><div class="col-xs-4">{{prodRec.jobinfo.job_title_leg ? prodRec.jobinfo.job_title_leg : 'n/a'}}</div>
                            
                            </div>

                        </span>
                        -->

                        <!-- ESTIMATES AND PROJECT LEADS ON HOLD 
 
                        <hr />
                        
                        <h3>Project Team</h3>
                        
                        <p class="last-updated" ng-if="prodRec.jobinfo.project_team.date_added > 0">Project team data last updated {{prodRec.jobinfo.project_team.date_added_f}} by {{prodRec.jobinfo.project_team.added_by_name}}.</p>
                        
                        <p class="last-updated" ng-if="prodRec.jobinfo.project_team.date_added == 0">No project team data currently available for this project.</p>
                     
                        <div ng-if="prodRec.jobinfo.project_team.date_added > 0">
                        
                            <div class="row">     
                                
                                <div class="col-xs-6 col-md-2"><span class='mylabel'>Project Manager:</span></div>
                                <div class="col-xs-6 col-md-4">{{prodRec.jobinfo.project_team.pm_name ? prodRec.jobinfo.project_team.pm_name : '-'}}</div>
                                
                                <div class="col-xs-6 col-md-2"><span class='mylabel'>Creative Lead:</span></div>
                                <div class="col-xs-6 col-md-4">{{prodRec.jobinfo.project_team.creative1_name ? prodRec.jobinfo.project_team.creative1_name : '-'}}</div>
                            </div>
                            
                            <div class="row">      
                                <div class="col-xs-6 col-md-2"><span class='mylabel'>Account Handler:</span></div>
                                <div class="col-xs-6 col-md-4">{{prodRec.jobinfo.project_team.ah_name ? prodRec.jobinfo.project_team.ah_name : '-'}}</div>
                                
                                <div class="col-xs-6 col-md-2"><span class='mylabel'>Second Creative Lead:</span></div>
                                <div class="col-xs-6 col-md-4">{{prodRec.jobinfo.project_team.creative2_name ? prodRec.jobinfo.project_team.creative2_name : '-'}}</div>
                            </div>
                            
                            <div class="row">      
                                <div class="col-xs-6 col-md-2"><span class='mylabel'>Strategy:</span></div>
                                <div class="col-xs-6 col-md-4">{{prodRec.jobinfo.project_team.strategy_name ? prodRec.jobinfo.project_team.strategy_name : '-'}}</div>
                                
                                <div class="col-xs-6 col-md-2"></div>
                                <div class="col-xs-6 col-md-4" style='text-align:left'></div>
                            </div>
                            
                        </div>
                        
                        ESTIMATES AND PROJECT LEADS ON HOLD -->
                                     
                    </div>
                    
                </div>
                
                
                <div class='data-container'>
                    
                    
                    <h3>Current Production Data</h3>
                       
                    
                    <div class="current-wip">
                        
                        
                        <p class="last-updated">Last Updated {{prodRec.records[0].created_on_formatted}} by {{prodRec.records[0].created_by_name}}</p>

                        <div class="row" ng-class="{'updated' : prodRec.records[0].updated.types == 1}">  
                            <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Production Type(s)</span></div><div class="col-xs-9"><span>{{prodRec.records[0].types_names_string}}</span></div>
                        </div> 
                
                        <div class="row" ng-class="{'updated' : prodRec.records[0].updated.description == 1}">  
                            <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Description/Requirements/Timings</span></div><div class="col-xs-9"><span ng-bind-html="prodRec.records[0].description_html"></span></div>
                        </div> 
                        
                        <div class="row" ng-class="{'updated' : prodRec.records[0].updated.stage == 1}">  
                            <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Stage</span></div><div class="col-xs-9"><span class="production-stage stage{{prodRec.records[0].stage_id}}">{{prodRec.records[0].stage_name}}</span></div>
                        </div> 
                        
                        <div class="row" ng-class="{'updated' : prodRec.records[0].updated.status_notes == 1}">  
                            <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Stage/Status Notes</span></div><div class="col-xs-9"><span ng-bind-html="prodRec.records[0].status_notes_html"></span></div>
                        </div> 
                        
                        <div class="row" ng-class="{'updated' : prodRec.records[0].updated.deadline == 1}">  
                            <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Deadline</span></div><div class="col-xs-9"><span>{{prodRec.records[0].deadline}}</span></div>
                        </div> 
                        
                        
                        <div class="row" ng-class="{'updated' : prodRec.records[0].updated.agreed_budget == 1}">  
                            <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Agreed Budget GBP (before markup)</span></div><div class="col-xs-9"><span>{{prodRec.records[0].agreed_budget_formatted}}</span></div>
                        </div> 
                        
                        <div class="row" ng-class="{'updated' : prodRec.records[0].updated.negotiated_costs == 1}">  
                            <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Negotiated Costs GBP</span></div><div class="col-xs-9"><span>{{prodRec.records[0].negotiated_costs_formatted}}</span></div>
                        </div> 
                        
                        <div class="row" ng-class="{'updated' : prodRec.records[0].updated.producer_hours == 1}">  
                            <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Producer Hours</span></div><div class="col-xs-9"><span>{{prodRec.records[0].producer_hours}}</span></div>
                        </div> 
                        
                        <div class="row" ng-class="{'updated' : prodRec.records[0].updated.partner == 1}">  
                            <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Creative Partner</span></div><div class="col-xs-9"><span>{{prodRec.records[0].creative_partner_name}}</span></div>
                        </div> 
                        
                        <div class="row" ng-class="{'updated' : prodRec.records[0].updated.talent == 1}">  
                            <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Talent</span></div><div class="col-xs-9"><span>{{prodRec.records[0].talent}}</span></div>
                        </div> 
                        
                        <div class="row" ng-class="{'updated' : prodRec.records[0].updated.nda == 1}">  
                            <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>NDA Signed</span></div><div class="col-xs-9"><span>{{prodRec.records[0].nda == '1' ? 'YES' : 'NO'}}</span></div>
                        </div> 
                        
                        <div class="row" ng-class="{'updated' : prodRec.records[0].updated.usage_form == 1}">  
                            <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Usage Form Completed</span></div><div class="col-xs-9"><span>{{prodRec.records[0].usage_form == '1' ? 'YES' : 'NO'}}</span></div>
                        </div> 
                        
                        <div class="row" ng-class="{'updated' : prodRec.records[0].updated.file_directory_path == 1}">  
                            <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>File Directory Path </span></div><div class="col-xs-9"><span>{{prodRec.records[0].file_directory_path}}</span></div>
                        </div> 
                        
                        <div class="row" ng-class="{'updated' : prodRec.records[0].updated.lead_producer == 1}">  
                            <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Lead Producer</span></div><div class="col-xs-9"><span>{{prodRec.records[0].lead_producer_name}}</span></div>
                        </div> 
                        
                        <div class="row" ng-class="{'updated' : prodRec.records[0].updated.support_producer == 1}">  
                            <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Support Producer</span></div><div class="col-xs-9"><span>{{prodRec.records[0].support_producer_name}}</span></div>
                        </div> 
                        
                        <div class="row" ng-class="{'updated' : prodRec.records[0].updated.lead_account_handler == 1}">  
                            <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Lead Account Handler</span></div><div class="col-xs-9"><span>{{prodRec.records[0].lead_account_handler_name}}</span></div>
                        </div> 
                        
                        <div class="row" ng-class="{'updated' : prodRec.records[0].updated.lead_creative == 1}">  
                            <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Lead Creative</span></div><div class="col-xs-9"><span>{{prodRec.records[0].lead_creative_name}}</span></div>
                        </div> 
                                                 
                        <div class="row" ng-class="{'updated' : prodRec.records[0].updated.priority_job == 1}">  
                            <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Priority Job</span></div><div class="col-xs-9"><span class="priority-job" ng-class="{'priority-job-yes' : prodRec.records[0].priority_job == '1'}">{{prodRec.records[0].priority_job == '1' ? 'YES' : 'NO' }}</span></div>
                        </div>                        
                        
                    </div>
                    
                
                </div>
                
                <div class='data-container'>

                    <div class="historical-wips">

                        <h3 ng-if="prodRec.records.length > 1" class='vh'>Previous Versions <span class='vh-count'>({{prodRec.records.length - 1}} Previous Versions)</span> 
                            <span ng-click="toggleProdVersionHistoryShow()" class='vh-hideshow' ng-show="prodRec.records.length > 1">
                                <span ng-show="prodVersionHistoryShow == true">hide <span class='glyphicon glyphicon-chevron-up'></span></span>
                                <span ng-show="prodVersionHistoryShow == false">show <span class='glyphicon glyphicon-chevron-down'></span></span>
                            </span>
                        </h3> 
                            
                        <h3 ng-if="prodRec.records.length <= 1" class='vh'>Previous Versions <span class='vh-count'>(0 Previous Versions)</span></h3> 
                    
                        <div class="historical-wips-container" ng-show="prodVersionHistoryShow == true">
                            
                            <div ng-if="prodRec.records.length > 1" ng-repeat="(key, prod) in prodRec.records" >

                                 <div ng-if="key > 0">
                                     
                                    <p class="last-updated">Last Updated {{prod.created_on_formatted}} by {{prod.created_by_name}}</p>

                                    <div class="row" ng-class="{'updated' : prod.updated.types == 1}">  
                                        <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Production Type(s)</span></div><div class="col-xs-9"><span>{{prod.types_names_string}}</span></div>
                                    </div> 

                                    <div class="row" ng-class="{'updated' : prod.updated.description == 1}">  
                                        <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Description/Requirements/Timings</span></div><div class="col-xs-9"><span>{{prod.description}}</span></div>
                                    </div> 

                                  
                                    <div class="row" ng-class="{'updated' : prod.updated.stage == 1}">  
                                        <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Stage</span></div><div class="col-xs-9"><span class="production-stage stage{{prod.stage_id}}">{{prod.stage_name}}</span></div>
                                    </div> 

                                    <div class="row" ng-class="{'updated' : prod.updated.status_notes == 1}">  
                                        <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Stage/Status Notes</span></div><div class="col-xs-9"><span>{{prod.status_notes}}</span></div>
                                    </div> 

                                    <div class="row" ng-class="{'updated' : prod.updated.deadline == 1}">  
                                        <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Deadline</span></div><div class="col-xs-9"><span>{{prod.deadline}}</span></div>
                                    </div> 

                                    <div class="row" ng-class="{'updated' : prod.updated.agreed_budget == 1}">  
                                        <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Agreed Budget GBP (before markup)</span></div><div class="col-xs-9"><span>{{prod.agreed_budget_formatted}}</span></div>
                                    </div> 

                                    <div class="row" ng-class="{'updated' : prod.updated.negotiated_costs == 1}">  
                                        <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Negotiated Costs GBP</span></div><div class="col-xs-9"><span>{{prod.negotiated_costs_formatted}}</span></div>
                                    </div> 

                                    <div class="row" ng-class="{'updated' : prod.updated.producer_hours == 1}">  
                                        <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Producer Hours</span></div><div class="col-xs-9"><span>{{prod.producer_hours}}</span></div>
                                    </div> 

                                    <div class="row" ng-class="{'updated' : prod.updated.partner == 1}">  
                                        <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Creative Partner</span></div><div class="col-xs-9"><span>{{prod.creative_partner_name}}</span></div>
                                    </div> 

                                    <div class="row" ng-class="{'updated' : prod.updated.talent == 1}">  
                                        <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Talent</span></div><div class="col-xs-9"><span>{{prod.talent}}</span></div>
                                    </div> 

                                    <div class="row" ng-class="{'updated' : prod.updated.nda == 1}">  
                                        <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>NDA Signed</span></div><div class="col-xs-9"><span>{{prod.nda == '1' ? 'YES' : 'NO'}}</span></div>
                                    </div> 

                                    <div class="row" ng-class="{'updated' : prod.updated.usage_form == 1}">  
                                        <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Usage Form Completed</span></div><div class="col-xs-9"><span>{{prod.usage_form == '1' ? 'YES' : 'NO'}}</span></div>
                                    </div> 
                                    
                                    <div class="row" ng-class="{'updated' : prod.updated.file_directory_path == 1}">  
                                        <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>File Directory Path </span></div><div class="col-xs-9"><span>{{prod.file_directory_path}}</span></div>
                                    </div> 
                                    
                                    <div class="row" ng-class="{'updated' : prod.updated.lead_producer == 1}">  
                                        <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Lead Producer</span></div><div class="col-xs-9"><span>{{prod.lead_producer_name}}</span></div>
                                    </div> 

                                    <div class="row" ng-class="{'updated' : prod.updated.support_producer == 1}">  
                                        <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Support Producer</span></div><div class="col-xs-9"><span>{{prod.support_producer_name}}</span></div>
                                    </div> 

                                    <div class="row" ng-class="{'updated' : prod.updated.lead_account_handler == 1}">  
                                        <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Lead Account Handler</span></div><div class="col-xs-9"><span>{{prod.lead_account_handler_name}}</span></div>
                                    </div> 

                                     <div class="row" ng-class="{'updated' : prod.updated.lead_creative == 1}">  
                                        <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Lead Creative</span></div><div class="col-xs-9"><span>{{prod.lead_creative_name}}</span></div>
                                    </div> 
  
                                    <div class="row" ng-class="{'updated' : prod.updated.priority_job == 1}">  
                                        <div class="col-xs-3"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Priority Job</span></div><div class="col-xs-9"><span class="priority-job" ng-class="{'priority-job-yes' : prod.priority_job  == '1'}">{{prod.priority_job == '1' ? 'YES' : 'NO' }}</span></div>
                                    </div> 

                                     <hr />           
                                     
                                     
                                 </div>
                                
                            </div>
                                     
                            
                        </div>

                    
                    
                    
                    </div>
                    
                </div>

            </div>
        
        </div>
    
    </div>
    
</div>