<div class="modal fade view-job halp">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
           
            
            
            <div class="modal-body">

                <h1>Halp!</h1>  
                
                <div class='data-container halp-container'>
                    
                    <div>
                        <span class="question"><span class="glyphicon glyphicon-question-sign"></span> How do I add a new job to the WIPs?</span>
                        <span class="answer">Select ‘Add/Update WIPs’ from the tabs at the top of the page. You can search using the first three digits of a Job Number or characters from the Project Name. All matching results will be displayed. Click ‘Add WIP’ to fill in details for this job. </span>
                    </div>
                    
                    <div>
                        <span class="question"><span class="glyphicon glyphicon-question-sign"></span> The job I’ve search for is highlighted in blue; why? </span>
                        <span class="answer">This means someone else has already added this job to the WIPs. You can find it on the WIPs tab; you can see there who updated it last and can select ‘Update WIP’ to change the details for the job. </span>
                        
                    </div>
                    
                    <div>
                        <span class="question"><span class="glyphicon glyphicon-question-sign"></span> My job isn’t appearing in the search results. </span>
                         <span class="answer">Each weekday finance process the jobs you request and then send the WIPs team an updated spreadsheet which is uploaded to the tool. So it will take approx. 24 hours for your job to appear in the search results. </span>
                        
                    </div>
                    
                    <div>
                        <span class="question"><span class="glyphicon glyphicon-question-sign"></span> I’m trying to change the top Job Info section on a WIP, but can’t edit it? </span>
                         <span class="answer">This section is pre-populated by the finance system. Whatever the details are for the job in there are what will display in the WIPs tool – lead Account Handler, Client code, Brand, etc. These are not editable fields. </span>
                        
                    </div>
                    
                    <div>
                        <span class="question"><span class="glyphicon glyphicon-question-sign"></span> I’m editing a digital job, but there’s only DPMs listed as lead delivery… </span>
                        <span class="answer">You need to have a DPM involved in all digital projects and they will be responsible for delivery. Please email digitalpm@langland.co.uk if you haven’t already to get a DPM assigned to your project. </span>
                        
                    </div>
                    
                    <div>
                        <span class="question"><span class="glyphicon glyphicon-question-sign"></span> How do I get rid of a WIPs View? (E.g. I work in Ethical and don’t want to see any other Views? </span>
                         <span class="answer">Easy; select the ‘Filters’ drop-down on the right-hand side of your WIPs View tab and select ‘Delete View’. </span>
                        
                    </div>
                    
                    <div>
                        <span class="question"><span class="glyphicon glyphicon-question-sign"></span> Oops, I didn’t mean to delete that WIPS View! How do I get it back? </span>
                         <span class="answer">You’ll need to create a new View; click ‘Create New View’ (funnily enough) and then use the filters to bring back a deleted view. For example, if you accidentally deleted your Corporate View, select ‘Corporate’ from the ‘Sector’ drop-down and then ‘Save View’, et voila! </span>
                        
                    </div>
                    
                    <div>
                        <span class="question"><span class="glyphicon glyphicon-question-sign"></span> Will the changes I make to the Views impact everyone else?  </span>
                         <span class="answer">Don’t worry, anything you delete/hide only impacts your view – the jobs added to the WIPs are shared (depending on your filters), but the Views and columns you see are entirely bespoke to you. You can have as many or as few Views as you need to. Or you can leave them exactly as they are. </span>
                        
                    </div>
                    
                    <div>
                        <span class="question"><span class="glyphicon glyphicon-question-sign"></span> I’ve hidden a load of columns but I want them back please! </span>
                         <span class="answer">Just go to the ‘Show/Hide Columns’ drop-down and you can tick (or untick) the columns that show on that particular View. With ‘Filters’ open, you can also see how many columns are hidden. </span>
                        
                    </div>
                    
                    <div>
                        <span class="question"><span class="glyphicon glyphicon-question-sign"></span> I don’t know how my View is ordered. </span>
                         <span class="answer">If you have ‘Filters’ open, it will tell you how the jobs are ordered – by what field and what order (ascending/descending). </span>
                        
                    </div>
                    
                    <div>
                        <span class="question"><span class="glyphicon glyphicon-question-sign"></span> What’s the red bar next my job?</span>
                         <span class="answer">Uh-oh. This means you haven’t updated this job’s details in at least a week – Traffic will be on your case soon! </span>
                        
                    </div>
                    
                    <div>
                        <span class="question"><span class="glyphicon glyphicon-question-sign"></span> My job has disappeared from the WIPs. </span>
                         <span class="answer">Chances are the job has been closed in the finance system. Check with the Finance team; if the job is still open there, contact Laila Hassani or Paul Silvester in the Digital team. </span>
                        
                    </div>
                    
                    <div>
                        <span class="question"><span class="glyphicon glyphicon-question-sign"></span> I only want to see jobs I’ve opened or created; how can I do this? </span>
                         <span class="answer">Under ‘Filters’ > ‘Other’, you can select that exact View. You can also filter to include/only show Completed/Cancelled jobs. </span>
                        
                    </div>
                    
                    <div>
                        <span class="question"><span class="glyphicon glyphicon-question-sign"></span> A job I opened wasn’t Digital when I requested set-up through Finance, but it now is. What do I do? </span>
                        <span class="answer">If you speak to the Finance team, they can change the job to digital and then in the next daily upload, this change will be reflected. </span>
                        
                    </div>
                    
                    <div>
                        <span class="question"><span class="glyphicon glyphicon-question-sign"></span> There’s a little ‘P’ next to my job number, what does that mean? </span>
                       <span class="answer">There’s a little ‘P’ next to my job number, what does that mean? </span>
                        
                    </div>
                    
                    <div>
                        <span class="question"><span class="glyphicon glyphicon-question-sign"></span> I’ve got a question/problem that’s not listed here, help! </span>
                         <span class="answer">Come and find Laila Hassani or Paul Silvester in the Digital team. </span>
                        
                    </div>
               
                    <p class="field-block-buttons"> 
                        <span ng-click="close()" class="close-link">Close</span>
                    </p>
                    
                   
                </div>     

            </div>

        </div>
    </div>
    
<script type="text/javascript">
    $(function() {
        
        $('.halp-container span.question').click(function(e) {
            $('.halp-container div.selected').removeClass('selected');
            $(this).parent().addClass('selected');
           
        });
    })
    </script> 
    
</div>
