<div class="modal fade view-job create-pdf">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(0)" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            
            <div class="modal-body">

                <h1>Create PDF</h1>  
                
                
                
                <div class='data-container'>
                
                    <p>Edit the options below to tailor your generated PDF.</p>
                    <form>

                        <div class="field-block">
                            <label class='field-block-label'>Title: </label>
                            <div  class='field-block-fields'>
                                <input style='width: 100%' type="text" ng-model="pdfTitle"/><br />
                                <small>This will appear as a header on your pdf</small>
                            </div>
                        </div>
                        
                        <div class="field-block">
                            <label class='field-block-label'>Description </label>
                            <div class='field-block-fields'>
                                <textarea style='width: 100%' row="4" ng-model="pdfDescription"/><br />
                                <small>This will appear as a paragraph between the header and the data table on your pdf</small>
                            </div>    
                        </div>
                        
                         <div class="field-block">
                            <label class='field-block-label'>Footer </label>
                            <div class='field-block-fields'> 
                                <input  style='width: 100%' type="text"  ng-model="pdfFooter"/><br />
                                <small>This will appear as a footer on every page of your pdf</small>
                            </div>
                        </div>
                        
                        <div class="field-block">
                            <label class='field-block-label'> </label>
                            <div class='field-block-fields'>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="1" ng-model="pdfShowRecordCount" ng-checked="pdfShowRecordCount==true">
                                        Show Record Count
                                    </label>
                                </div>
                            </div>    
                        </div>
                        
                        <div class="field-block">
                            <label class='field-block-label'>Extra PDF Column Options</label>
                            <div class='field-block-fields'>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="1" ng-model="pdfShowClientColumn" ng-checked="pdfShowClientColumn==true">
                                        Include Client Column
                                    </label>
                                    <br />
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="1" ng-model="pdfShowJobnoColumn" ng-checked="pdfShowJobnoColumn==true">
                                        Include Job Number Column
                                    </label>
                                    <br />
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="1" ng-model="pdfShowLastUpdatedColumn" ng-checked="pdfShowLastUpdatedColumn==true">
                                        Include Last Updated Column
                                    </label>
                                </div>
                            </div>    
                        </div>
                        
                        <div class="field-block-buttons">
                            
                            
                            <div class='action-holder'>
                               <span type="button" class='btn btn-default' ng-click="close(); generatePDF();">Create PDF</span>
                            </div>    
                           
                        </div>
                     
                    </form>

                </div>     

            </div>

        </div>
    </div>
</div>