<div class="modal fade view-job finance-summary-pop">
    <div class="modal-dialog">
        <div class="modal-content info-message">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body">
                <h1><!--<span ng-bind-html="wip.job_number_display_inline"></span>-->{{wip.job_number_shorthand}} - {{wip.title}}</h1> 
           
                <div class='data-container'>

                    <h3 class="finance-summary">Financial Summary </h3>
              
                <p class="last-updated" ng-if="wip.finance_data.dimensions.updated && wip.finance_data.altair.updated">
                    Dimensions data last updated {{wip.finance_data.dimensions.updated}}. Altair data last updated {{wip.finance_data.altair.updated}}. (Please note: Agency Time only includes timesheets submitted to date).
                </p>
                        
                <p class="last-updated" ng-if="wip.finance_data.dimensions.updated && !wip.finance_data.altair.updated">
                    Finance data (Dimensions) last updated {{wip.finance_data.dimensions.updated}}. (Please note: Agency Time only includes timesheets submitted to date).
                </p>
                        
                <p class="last-updated" ng-if="!wip.finance_data.dimensions.updated && wip.finance_data.altair.updated">
                    Finance data (Altair) last updated {{wip.finance_data.altair.updated}}. (Please note: Agency Time only includes timesheets submitted to date).
                </p>
                        
                <p class="last-updated" ng-if="!wip.finance_data.dimensions.set && !wip.finance_data.altair.set">
                    No financial data currently available for this job.
                </p>
                        
                <div ng-if="wip.finance_data.dimensions.set || wip.finance_data.altair.set">
                         
                            <div class="row costs-to-date-row" ng-if="wip.finance_data.dimensions.set && wip.finance_data.altair.set">      
                                <div class="col-xs-6 col-md-3"></div>
                                <div class="col-xs-3 col-md-2 col-finance"><span class='mylabel'>DIMENSIONS</span></div>
                                <div class="col-xs-6 col-md-2 col-finance"><span class='mylabel'>ALTAIR</span></div>
                                <div class="col-xs-3 col-md-2 col-finance"><span class='mylabel'>TOTALS</span></div>
                            </div>
                         
                            
                            <div class="row costs-to-date-row">      
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Agency Time (cost to client):</span></div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="wip.finance_data.dimensions.set">{{wip.finance_data.dimensions.agency_time_cost}}</div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="wip.finance_data.altair.set">{{wip.finance_data.altair.agency_time_cost}}</div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="wip.finance_data.dimensions.set && wip.finance_data.altair.set">{{wip.finance_data.totals.agency_time_cost}}</div>
                            </div>
                            
                            <div class="row">  
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Third-party bought in: </span></div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="wip.finance_data.dimensions.set">{{wip.finance_data.dimensions.third_party_bought_in}}</div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="wip.finance_data.altair.set">{{wip.finance_data.altair.third_party_bought_in}}</div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="wip.finance_data.dimensions.set && wip.finance_data.altair.set">{{wip.finance_data.totals.third_party_bought_in}}</div>
                            </div>
                            
                            <div class="row">  
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Third-party committed: </span></div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="wip.finance_data.dimensions.set">{{wip.finance_data.dimensions.third_party_committed}}</div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="wip.finance_data.altair.set">{{wip.finance_data.altair.third_party_committed}}</div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="wip.finance_data.dimensions.set && wip.finance_data.altair.set">{{wip.finance_data.totals.third_party_committed}}</div>
                            </div>
                            
                            <div class="row costs-to-date-row">  
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Costs to date (Time + Bought in):</span></div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="wip.finance_data.dimensions.set">{{wip.finance_data.dimensions.total_costs}}</div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="wip.finance_data.altair.set">{{wip.finance_data.altair.total_costs}}</div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="wip.finance_data.dimensions.set && wip.finance_data.altair.set">{{wip.finance_data.totals.total_costs}}</div>
                            </div>
                            
                            
                            <div class="row">  
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Invoiced: </span></div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="wip.finance_data.dimensions.set">{{wip.finance_data.dimensions.invoiced}}</div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="wip.finance_data.altair.set">{{wip.finance_data.altair.invoiced}}</div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="wip.finance_data.dimensions.set && wip.finance_data.altair.set">{{wip.finance_data.totals.invoiced}}</div>
                            </div>

                        </div>
                    
                    <!-- ESTIMATES AND PROJECT LEADS ON HOLD 
                    <hr />
                    
                    <h3 class="finance-summary">Project Estimates</h3>
                         
                        <p class="last-updated" ng-if="wip.job_estimates.set">Estimate data last updated {{wip.job_estimates.date_added_f}} by {{wip.job_estimates.added_by_name}}.</p>
                        
                        <p class="last-updated" ng-if="!wip.job_estimates.set">No estimates data currently available for this project.</p>
                     
                        <div ng-if="wip.job_estimates.date_added > 0">
                        
                            <div class="row" style="padding-bottom: 5px;">     
                                
                                <div class="col-xs-6"><span class='mylabel'>ESTIMATED HOURS</span></div>
                                <div class="col-xs-6"><span class='mylabel'>ESTIMATED FEES:</span></div>
                            </div>
                            
                       
                            <div class="row">     
                                
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Account Handling:</span></div>
                                <div class="col-xs-6 col-md-2 col-finance">{{wip.job_estimates.hrs_ah}}</div>
                                <div class="col-xs-6 col-md-1"></div>
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Fee:</span></div>
                                <div class="col-xs-6 col-md-2 col-finance">{{wip.job_estimates.gbp_fee}}</div>
                                <div class="col-xs-6 col-md-1"></div>
                            </div>
                            
                            <div class="row">      
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Media:</span></div>
                                <div class="col-xs-6 col-md-2 col-finance">{{wip.job_estimates.hrs_media}}</div>
                                 <div class="col-xs-6 col-md-1"></div>
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Fee discount:</span></div>
                                <div class="col-xs-6 col-md-2 col-finance">{{wip.job_estimates.gbp_fee_discount}}</div>
                                 <div class="col-xs-6 col-md-1"></div>
                            </div>
                            
                            <div class="row">      
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Production:</span></div>
                                <div class="col-xs-6 col-md-2 col-finance">{{wip.job_estimates.hrs_production}}</div>
                                 <div class="col-xs-6 col-md-1"></div>
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Direct costs:</span></div>
                                <div class="col-xs-6 col-md-2 col-finance">{{wip.job_estimates.gbp_direct_costs}}</div>
                                 <div class="col-xs-6 col-md-1"></div>
                            </div>

                            <div class="row">      
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Creative:</span></div>
                                <div class="col-xs-6 col-md-2 col-finance">{{wip.job_estimates.hrs_creative}}</div>
                                 <div class="col-xs-6 col-md-1"></div>
                                <div class="col-xs-6 col-md-3"><span class='mylabel'></span></div>
                                <div class="col-xs-6 col-md-2 col-finance"></div>
                                 <div class="col-xs-6 col-md-1"></div>
                            </div>

                            <div class="row">      
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Strategy:</span></div>
                                <div class="col-xs-6 col-md-2 col-finance">{{wip.job_estimates.hrs_ps}}</div>
                              <div class="col-xs-6 col-md-1"></div>
                                <div class="col-xs-6 col-md-3"><span class='mylabel'><strong>Total Sales Estimate/Budget</strong></span></div>
                                <div class="col-xs-6 col-md-2 col-finance"><strong>{{wip.job_estimates.gbp_total}}</strong></div>
                                 <div class="col-xs-6 col-md-1"></div>
                 
                            </div>

                        </div>
                        
                         ESTIMATES AND PROJECT LEADS ON HOLD --> 
                   
                    <p class='field-block-buttons'>
                        <button type="button" ng-click="close()" class="btn btn-default">OK</button>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>