<div class="modal fade view-job lock-pop">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            
            <div class="modal-body">

                <h1>WIPs Record Locked</h1>  
                
                <div class='data-container'>
                
                    <p>The record you are trying to update is currently locked for update by someone else.</p>
                    
                    <p>The record was locked on <strong>{{lockdata.locked_on_formatted}} ({{lockdata.locked_on_time_ago}}) by {{lockdata.locked_by_name}}</strong>.</p>
                    
                    <p>Either try again later or ask the person to unlock the record by navigating away from the update form.</p>
                    
                  <!--  <p>If the lock persist then you can force the unlock <a ng-click="unlock_wip(lockdata.locked_pjid); close();">here</a> but this may affect the version history of the record.</p>
                  -->
                    <p class="field-block-buttons">
                        <button type="button" ng-click="close()" class="btn btn-default">OK</button>
                    </p>

                </div>     

            </div>

        </div>
    </div>
</div>