<div class="modal fade view-job message-pop">
    <div class="modal-dialog">
        <div class="modal-content {{type}}-message">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body">

                <h1>{{title}}</h1>  

                <div class='data-container'>

                    <p>{{text}}</p>

                    <p class='field-block-buttons'>
                        <button type="button" ng-click="close()" class="btn btn-default">OK</button>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>