<div class="modal fade view-job save-view">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(1)" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            
            <div class="modal-body">

                <h1>Save View?</h1>  
                
                <div class='data-container'>
       
                    <p>You have changed settings in your view <span class='view-name'>{{viewTitle}}</span>.</p>
                    
                    <p>Do you want to save these changes before moving on or ignore and lose the changes?</p>
                    
                    <div class="field-block-buttons">
                            
                        <div class='action-holder'>
                            <button class="btn btn-sm btn-default" type="button" ng-click="promtUpdateView()">Save changes</button>
                            <button class="btn btn-sm btn-default" type="button" ng-click="close(1)">Ignore changes</button>
                        </div>    
                           
                     </div>
       
                </div>     

            </div>

        </div>
    </div>
</div>