<div class="modal fade view-job remove-view">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(0)" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            
            <div class="modal-body">

                <h1>Delete View</h1>  
                
                <div class='data-container'>
                
                    <p>Please confirm you want to delete <span class='view-name'>{{viewTitle}}</span> from your WIPs Views</p>
                    <div class="field-block-buttons" style="text-align: right;">
                            <button ng-if="viewID > 0" class="btn btn-sm btn-default" type="button" ng-click="removeView()">Confirm</button>
                            <button class="btn btn-sm btn-default" type="button" ng-click="close(0)">Cancel</button>
                    </div>
                     
                
                </div>     

            </div>

        </div>
    </div>
</div>