<div class="modal fade view-job resource-requests-pop">
    <div class="modal-dialog">
        <div class="modal-content info-message">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body">

                <h1>{{wip.number}} - {{wip.title}}</h1>  

                <div class='data-container'>

                    <h3>{{wip.resource_requests.length}} Resource Requests</h3>

                    <ul>
                        <li ng-repeat="(key2, request) in wip.resource_requests track by $index" ng-if="request != ''">{{request}} <span ng-if="wip.resource_requests_client[key2] == '1'" title="Client Request" data-toggle="tooltip" data-placement="right" tooltip class="badge client-request-badge">CR</span></li>
                    </ul>
                    
                    <p class='field-block-buttons'>
                        <button type="button" ng-click="close()" class="btn btn-default">OK</button>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>