<div class="modal fade view-job save-view">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(0)" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            
            <div class="modal-body">

                <h1 ng-if="saveViewForm.displayView > 0">Save/Update View</h1>  
                
                <h1 ng-if="saveViewForm.displayView == 0">Save View</h1>  
                
                <div class='data-container'>
                
                    <form>

                        <div class="field-block">
                            <label class='field-block-label'>Title: <br /><small>[Max. 20 chars]</small> </label>
                            <div>
                                <input ng-required="required" type="text" size="40" maxlength="20" ng-model="saveViewForm.viewTitle"/><br />
                            </div>
                        </div>
                        
                        <div class="field-block">
                            <label class='field-block-label'>Description </label>
                            <div class='field-block-fields'>
                                <textarea style='width: 100%' ng-required="required" row="3" maxlength="200" ng-model="saveViewForm.viewDescription"/><br />
                            </div>    
                        </div>
                        
                        <div class="field-block" style="display: none;">
                            <label class='field-block-label'> </label>
                            <div class='field-block-fields'>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="private" ng-model="saveViewForm.publicPrivate"> Private View <small>(will not be available to other users)</small>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="public" ng-model="saveViewForm.publicPrivate"> Public View <small>(will be available to other users)</small>
                                    </label>
                                </div>
                            </div>    
                        </div>
                        
                        <div class="field-block">
                            <label class='field-block-label'> </label>
                            <div class='field-block-fields'>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="1" ng-model="saveViewForm.setDefault" ng-checked="saveViewForm.setDefault==true">
                                        Set as my Default View
                                    </label>
                                </div>
                            </div>    
                        </div>
                        
                        <div class="field-block-buttons">
                            
                            
                            <div class='action-holder'>
                               <button ng-if="saveViewForm.displayView > 0" class="btn btn-sm btn-default" type="button" ng-click="updateView()">Update existing View</button>
                               <button ng-if="saveViewForm.displayView > 0" class="btn btn-sm btn-default" type="button" ng-click="saveView()">Save as a new View</button>
                               <button ng-if="saveViewForm.displayView == 0" class="btn btn-sm btn-default" type="button" ng-click="saveView()">Save View</button>
                               <button class="btn btn-sm btn-default" type="button" ng-click="close(0)">Cancel</button>
                            </div>    
                           
                        </div>
                     
                    </form>

                </div>     

            </div>

        </div>
    </div>
</div>