<div class="modal fade view-job version-history">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
           
            
            
            <div class="modal-body">

                <h1>Release History</h1>  
                
                <div class='data-container'>

                    <h3>Beta v1.6 [03 October 2017]</h3>
                    <ul>
                        <li>Financial summary data</li>
                        <li>Client Resource Request checkbox</li>
                        <li>Saved/Created WIP highlight</li>
                        <li>WIPs table ordering bug fix</li>
                        <li>Job Bag System link</li>
                        <li>Database dump to file </li>
                        <li> Locked Records scheduled task</li>
                    </ul>
                    <h3>Beta v1.5 [15 September 2017]</h3>
                    <ul>
                        <li> Production Section</li>
                        <li>Password Reset functionality </li>
                        <li>Default View on logged-in reopening of tab </li>
                        <li>Update to permissions</li>
                    </ul>
                    <h3>Beta v1.4 [22 August 2017]</h3>
                    <ul>
                        <li>Halp! content</li>
                        <li>Resource request pop-up</li>
                        <li>Addition of ‘Other’ View</li>
                    </ul>
                    <h3>Beta v1.3 [25 July 2017]</h3>
                    <ul>
                        <li>Verification and system messages</li>
                        <li>Data encryption</li>
                        <li>Initial roll-out for live testing</li>
                        <li>Finance Import screens</li> 
                        <li>Bugherd amends</li>
                    </ul>
                    <h3>Beta v1.2 [18 July 2017]</h3>
                    <ul>
                        <li>Setting default Views per business area</li>
                        <li>Updates to design/colours </li>
                        <li>Create/saving views </li>
                        <li>Set up of filters, user roles, search, PDF/CSV functionality </li>
                        <li>Bugherd amends</li>
                        <li>Responsiveness of site</li>
                    </ul>
                    <h3>Beta v1.1 [06 July 2017]</h3>
                    <ul>
                        <li>Initial Staging site launch</li>
                    </ul>
                    
                    
                   
                </div>
                
            </div>

        </div>
    </div>

    
</div>
