<div class="modal fade view-job">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="icon-key">
                    <span class="glyphicon glyphicon-ok"></span> Indicates field updated since previous version.<br />
                    <span ng-if="job.is_parent"><span class="badge parent-badge">P</span> Indicates this is a parent job</span>
                </div>
            </div>

            <div class="modal-body">
                <h1>{{job.job_number_shorthand}} - {{job.title}}</h1> 

                <div ng-if="job.mldm"><p style="font-weight: bold; padding: 0 10px; text-transform: uppercase;">Note: This job is now closed in Altair. Please book any time to the Parent Job.</p></div>

                <div class='data-container'>

                    <div class="job-info">  

                        <h3>Job Info</h3>
                        
                         <div class="row">  
                            <div class="col-xs-2"><span class='mylabel'>Job Numbers:</span></div><div class="col-xs-10" ng-bind-html="job.job_number_curr_display_inline"></div>
                        </div>    

                        <div class="row">  
                            <div class="col-xs-2"><span class='mylabel'>Project:</span></div><div class="col-xs-10">{{job.title}}</div>
                        </div>

                        <div class="row">  
                            <div class="col-xs-2"><span class='mylabel'>Client:</span></div><div class="col-xs-4"><strong>{{job.client}}</strong></div>
                            <div class="col-xs-2"><span class='mylabel'>Job Type:</span></div><div class="col-xs-4">{{job.job_type}}</div>
                        </div>

                        <div class="row">  
                            <div class="col-xs-2"><span class='mylabel'>Brand:</span></div><div class="col-xs-4">{{job.brand}}</div>
                            <div class="col-xs-2"><span class='mylabel'>Sector:</span></div><div class="col-xs-4"><strong>{{job.job_sector}}</strong></div>
                        </div>

                        <div class="row">  
                            <div class="col-xs-2"><span class='mylabel'>Lead Account Handler:</span></div><div class="col-xs-4">{{job.account_handler}}</div>
                            <div class="col-xs-2"><span class='mylabel'>Digital:</span></div><div class="col-xs-4">{{job.digital == 1 ? 'YES' : 'NO'}}</div>
                        </div>

                        
                        <!-- ESTIMATES AND PROJECT LEADS ON HOLD 
                        <hr />
                        
                        <h3>Project Team</h3>
                        
                        <p class="last-updated" ng-if="job.project_team.date_added > 0">Project team data last updated {{job.project_team.date_added_f}} by {{job.project_team.added_by_name}}.</p>
                        
                        <p class="last-updated" ng-if="job.project_team.date_added == 0">No project team data currently available for this project.</p>
                     
                        <div ng-if="job.project_team.date_added > 0">
                        
                            <div class="row">     
                                
                                <div class="col-xs-6 col-md-2"><span class='mylabel'>Project Manager:</span></div>
                                <div class="col-xs-6 col-md-4">{{job.project_team.pm_name ? job.project_team.pm_name : '-'}}</div>
                                
                                <div class="col-xs-6 col-md-2"><span class='mylabel'>Creative Lead:</span></div>
                                <div class="col-xs-6 col-md-4">{{job.project_team.creative1_name ? job.project_team.creative1_name : '-'}}</div>
                            </div>
                            
                            <div class="row">      
                                <div class="col-xs-6 col-md-2"><span class='mylabel'>Account Handler:</span></div>
                                <div class="col-xs-6 col-md-4">{{job.project_team.ah_name ? job.project_team.ah_name : '-'}}</div>
                                
                                <div class="col-xs-6 col-md-2"><span class='mylabel'>Second Creative Lead:</span></div>
                                <div class="col-xs-6 col-md-4">{{job.project_team.creative2_name ? job.project_team.creative2_name : '-'}}</div>
                            </div>
                            
                            <div class="row">      
                                <div class="col-xs-6 col-md-2"><span class='mylabel'>Strategy:</span></div>
                                <div class="col-xs-6 col-md-4">{{job.project_team.strategy_name ? job.project_team.strategy_name : '-'}}</div>
                                
                                <div class="col-xs-6 col-md-2"></div>
                                <div class="col-xs-6 col-md-4" style='text-align:left'></div>
                            </div>
                            
                        </div>
                    -->
                           
                        
                    </div>
                    
                </div>
                
                <!--
                <div class='data-container'>

                    <div>
                        
                        <h3 class="finance-summary">Financial Summary </h3>
                        
                        <p class="last-updated" ng-if="job.finance_data.dimensions.set && job.finance_data.altair.set">
                            Dimensions data last updated {{job.finance_data.dimensions.updated}}. Altair data last updated {{job.finance_data.altair.updated}}. (Please note: Agency Time only includes timesheets submitted to date).
                        </p>
                        
                        <p class="last-updated" ng-if="job.finance_data.dimensions.set && !job.finance_data.altair.set">
                            Finance data (Dimensions) last updated {{job.finance_data.dimensions.updated}}. (Please note: Agency Time only includes timesheets submitted to date).
                        </p>
                        
                        <p class="last-updated" ng-if="!job.finance_data.dimensions.set && job.finance_data.altair.set">
                            Finance data (Altair) last updated {{job.finance_data.altair.updated}}. (Please note: Agency Time only includes timesheets submitted to date).
                        </p>
                        
                        <p class="last-updated" ng-if="!job.finance_data.dimensions.set && !job.finance_data.altair.set">
                            No financial data currently available for this job.
                        </p>
                        
                        <div ng-if="job.finance_data.dimensions.set || job.finance_data.altair.set">
                         
                            <div class="row costs-to-date-row" ng-if="job.finance_data.dimensions.set && job.finance_data.altair.set">      
                                <div class="col-xs-6 col-md-3"></div>
                                <div class="col-xs-3 col-md-2 col-finance"><span class='mylabel'>DIMENSIONS</span></div>
                                <div class="col-xs-6 col-md-2 col-finance"><span class='mylabel'>ALTAIR</span></div>
                                <div class="col-xs-3 col-md-2 col-finance"><span class='mylabel'>TOTALS</span></div>
                            </div>
                            
                            <div class="row costs-to-date-row">      
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Agency Time (cost to client):</span></div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="job.finance_data.dimensions.set">{{job.finance_data.dimensions.agency_time_cost}}</div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="job.finance_data.altair.set">{{job.finance_data.altair.agency_time_cost}}</div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="job.finance_data.dimensions.set && job.finance_data.altair.set">{{job.finance_data.totals.agency_time_cost}}</div>
                            </div>
                            
                            <div class="row">  
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Third-party bought in: </span></div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="job.finance_data.dimensions.set">{{job.finance_data.dimensions.third_party_bought_in}}</div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="job.finance_data.altair.set">{{job.finance_data.altair.third_party_bought_in}}</div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="job.finance_data.dimensions.set && job.finance_data.altair.set">{{job.finance_data.totals.third_party_bought_in}}</div>
                            </div>
                            
                            <div class="row">  
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Third-party committed: </span></div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="job.finance_data.dimensions.set">{{job.finance_data.dimensions.third_party_committed}}</div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="job.finance_data.altair.set">{{job.finance_data.altair.third_party_committed}}</div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="job.finance_data.dimensions.set && job.finance_data.altair.set">{{job.finance_data.totals.third_party_committed}}</div>
                            </div>
                            
                            <div class="row costs-to-date-row">  
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Costs to date (Time + Bought in):</span></div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="job.finance_data.dimensions.set">{{job.finance_data.dimensions.total_costs}}</div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="job.finance_data.altair.set">{{job.finance_data.altair.total_costs}}</div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="job.finance_data.dimensions.set && job.finance_data.altair.set">{{job.finance_data.totals.total_costs}}</div>
                            </div>
                            
                            <div class="row">  
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Invoiced: </span></div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="job.finance_data.dimensions.set">{{job.finance_data.dimensions.invoiced}}</div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="job.finance_data.altair.set">{{job.finance_data.altair.invoiced}}</div>
                                <div class="col-xs-3 col-md-2 col-finance" ng-if="job.finance_data.dimensions.set && job.finance_data.altair.set">{{job.finance_data.totals.invoiced}}</div>
                            </div>

                        </div>
                        
                  
                        <hr />
                        
                        <h3 class="finance-summary">Project Estimates</h3>
                         
                        <p class="last-updated" ng-if="job.job_estimates.date_added > 0">Estimate data last updated {{job.job_estimates.date_added_f}} by {{job.job_estimates.added_by_name}}.</p>
                        
                        <p class="last-updated" ng-if="job.job_estimates.date_added == 0">No estimates data currently available for this project.</p>
                     
                        <div ng-if="job.job_estimates.date_added > 0">
                        
                            <div class="row" style="padding-bottom: 5px;">     
                                
                                <div class="col-xs-6 col-md-6"><span class='mylabel2'>ESTIMATED HOURS</span></div>
                                <div class="col-xs-6 col-md-6"><span class='mylabel2'>ESTIMATED FEES</span></div>
                            </div>
                        
                            <div class="row">     
                                
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Account Handling:</span></div>
                                <div class="col-xs-6 col-md-2 col-finance">{{job.job_estimates.hrs_ah}}</div>
                                <div class="col-xs-0 col-md-1"></div>
                                
                                <div class="col-xs-6 col-md-2"><span class='mylabel'>Fee:</span></div>
                                <div class="col-xs-6 col-md-2 col-finance">{{job.job_estimates.gbp_fee}}</div>
                            </div>
                            
                            <div class="row">      
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Media:</span></div>
                                <div class="col-xs-6 col-md-2 col-finance">{{job.job_estimates.hrs_media}}</div>
                                <div class="col-xs-0 col-md-1"></div>
                                
                                <div class="col-xs-6 col-md-2"><span class='mylabel'>Fee discount:</span></div>
                                <div class="col-xs-6 col-md-2 col-finance">{{job.job_estimates.gbp_fee_discount}}</div>
                            </div>
                            
                            <div class="row">      
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Production:</span></div>
                                <div class="col-xs-6 col-md-2 col-finance">{{job.job_estimates.hrs_production}}</div>
                                <div class="col-xs-0 col-md-1"></div>
                                <div class="col-xs-6 col-md-2"><span class='mylabel'>Direct costs:</span></div>
                                <div class="col-xs-6 col-md-2 col-finance">{{job.job_estimates.gbp_direct_costs}}</div>
                            </div>

                            <div class="row">      
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Creative:</span></div>
                                <div class="col-xs-6 col-md-2 col-finance">{{job.job_estimates.hrs_creative}}</div>
                                <div class="col-xs-0 col-md-1"></div>
                                <div class="col-xs-6 col-md-2"><span class='mylabel'></span></div>
                                <div class="col-xs-6 col-md-2 col-finance"></div>
                            </div>

                            <div class="row">      
                                <div class="col-xs-6 col-md-3"><span class='mylabel'>Strategy:</span></div>
                                <div class="col-xs-6 col-md-2 col-finance">{{job.job_estimates.hrs_ps}}</div>
                             <div class="col-xs-0 col-md-1"></div>
                                <div class="col-xs-6 col-md-2"><span class='mylabel'><strong>Total Sales Estimate</strong></span></div>
                                <div class="col-xs-6 col-md-2 col-finance"><strong>{{job.job_estimates.gbp_total}}</strong></div>
                 
                            </div>

                        </div>
                        
                           
                    </div>
                </div>
            -->
                
                <div class='data-container'>
                        
                        <div class="current-wip">

                            <h3>Current WIPs</h3>
                            
                            <div ng-if="job.wips_count == 0">
                                <p>n/a</p>
                            </div>
                                
                            <div ng-if="job.wips.length > 0">
                            
                                <p class="last-updated">Last updated {{job.wips[0].created_on_formatted}} by {{job.wips[0].created_by_name}}</p>

                                <div class="row" ng-class="{'updated' : job.wips[0].updated.status == 1}">  
                                    <div class="col-xs-2"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Status:</span></div><div class="col-xs-10"><span class="status-type status{{job.wips[0].status_id}}">{{job.wips[0].status_name}}</span></div>
                                </div> 

                                <div class="row" ng-class="{'updated' : job.wips[0].updated.stages == 1}">  
                                    <div class="col-xs-2"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Stage(s):</span></div><div class="col-xs-10"><span class='stage-label' ng-repeat="(key4, stage) in job.wips[0].stages">{{stage}}<br /></span></div>
                                </div> 

                                <div class="row" ng-class="{'updated' : job.wips[0].updated.status_notes == 1}">  
                                    <div class="col-xs-2"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Status Notes:</span></div><div class="col-xs-10">{{job.wips[0].status_notes}}</div>
                                </div> 

                                <div class="row row-resource-requests" ng-class="{'updated' : job.wips[0].updated.resource_requests == 1}">  
                                    <div class="col-xs-2"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Resource Request(s):</span></div><div class="col-xs-10"> 
                                        <ul>
                                            <li ng-repeat="(key2, request) in job.wips[0].resource_requests track by $index" ng-if="request != ''">{{request}} <span ng-if="job.wips[0].resource_requests_client[key2] == '1'" title="Client Request" data-toggle="tooltip" data-placement="right" tooltip class="badge client-request-badge">CR</span></li>
                                        </ul>
                                    </div>
                                </div> 

                                <div class="row" ng-class="{'updated' : job.wips[0].updated.live_date == 1}">  
                                    <div class="col-xs-2"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Live Date:</span></div><div class="col-xs-10">{{job.wips[0].live_date}}</div>
                                </div> 

                                <div class="row" ng-class="{'updated' : job.wips[0].updated.countries == 1}">  
                                    <div class="col-xs-2"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Countries:</span></div><div class="col-xs-10">{{job.wips[0].countries}}</div>
                                </div> 

                                <div class="row" ng-class="{'updated' : job.wips[0].updated.no_items == 1}">  
                                    <div class="col-xs-2"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>No. of Items:</span></div><div class="col-xs-10">{{job.wips[0].no_items ? job.wips[0].no_items : 'n/a'}}</div>
                                </div> 

                                <div class="row" ng-class="{'updated' : job.wips[0].updated.accounts == 1}">  
                                    <div class="col-xs-2"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Account Handlers:</span></div><div class="col-xs-10">{{job.wips[0].account_handler1}}<span ng-if="job.wips[0].account_handler2 != ''">, {{job.wips[0].account_handler2}}</span></div>
                                </div>

                                <div class="row" ng-class="{'updated' : job.wips[0].updated.delivery == 1}">  
                                    <div class="col-xs-2"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Deliver Lead: </span></div><div class="col-xs-10">{{job.wips[0].delivery_lead1}}</div>
                                </div>

                                <div class="row" ng-class="{'updated' : job.wips[0].updated.creatives == 1}">  
                                    <div class="col-xs-2"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Lead Creatives:</span></div><div class="col-xs-10">{{job.wips[0].lead_creative1}}<span ng-if="job.wips[0].lead_creative2 != ''">, {{job.wips[0].lead_creative2}}</span></div>
                                </div>
                                
                            </div>

                        </div>    

     
                </div>
                
                <div class='data-container'>
                        <div class="historical-wips">

                            <h3 ng-if="job.wips_count > 1" class='vh'>Previous Versions <span class='vh-count'>({{job.wips.length - 1}} Previous Versions)</span> 
                                <span ng-click="toggleVersionHistoryShow()" class='vh-hideshow' ng-show="job.wips.length > 1">
                                    <span ng-show="versionHistoryShow == true">hide <span class='glyphicon glyphicon-chevron-up'></span></span>
                                    <span ng-show="versionHistoryShow == false">show <span class='glyphicon glyphicon-chevron-down'></span></span>
                                </span>
                    
                            </h3> 
                            
                            <h3 ng-if="job.wips_count <= 1" class='vh'>Previous Versions <span class='vh-count'>(0 Previous Versions)</span> 
                            </h3> 

                            <div class="historical-wips-container" ng-show="versionHistoryShow == true">

                               
                                <div ng-if="job.wips.length > 1" ng-repeat="(key, wip) in job.wips" >

                                    <div ng-if="key > 0">

                                        <p class="last-updated">Updated {{wip.created_on_formatted}} by {{wip.created_by_name}}</p>

                                        <div class="row">  
                                            <div class="col-xs-2" ng-class="{'updated' : wip.updated.status == 1}"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Status:</span></div><div class="col-xs-10"><span class="status-type status{{wip.status_id}}">{{wip.status_name}}</span></div>
                                        </div> 

                                        <div class="row">  
                                            <div class="col-xs-2" ng-class="{'updated' : wip.updated.stages == 1}"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Stage(s):</span> </div><div class="col-xs-10"><span ng-repeat="(key4, stage) in wip.stages">{{stage}}<br /></span></div>
                                        </div> 

                                        <div class="row" ng-class="{'updated' : wip.updated.status_notes == 1}">  
                                            <div class="col-xs-2"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Status Notes:</span></div><div class="col-xs-10">{{wip.status_notes}}</div>
                                        </div> 

                                        <div class="row row-resource-requests" ng-class="{'updated' : wip.updated.resource_requests == 1}">  
                                            <div class="col-xs-2"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Resource Request(s):</span></div><div class="col-xs-10"> 
                                                <ul>
                                                    <li ng-repeat="(key2, request) in wip.resource_requests track by $index" ng-if="request != ''">{{request}} <span ng-if="wip.resource_requests_client[key2] == '1'" title="Client Request" data-toggle="tooltip" data-placement="right" tooltip class="badge client-request-badge">CR</span></li>
                                                </ul>
                                            </div>
                                        </div> 

                                        <div class="row" ng-class="{'updated' : wip.updated.live_date == 1}">  
                                            <div class="col-xs-2"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Live Date:</span></div><div class="col-xs-10">{{wip.live_date}}</div>
                                        </div> 

                                        <div class="row" ng-class="{'updated' : wip.updated.countries == 1}">  
                                            <div class="col-xs-2"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Countries: </span></div><div class="col-xs-10">{{wip.countries}}</div>
                                        </div> 

                                        <div class="row" ng-class="{'updated' : wip.updated.no_items == 1}">  
                                            <div class="col-xs-2"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>No. Items:</span></div><div class="col-xs-10">{{wips.no_items ? wips.no_items : 'n/a'}}</div>
                                        </div> 

                                        <div class="row" ng-class="{'updated' : wip.updated.accounts == 1}">  
                                            <div class="col-xs-2"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Account Handlers:</span></div><div class="col-xs-10">{{wip.account_handler1}}<span ng-if="wip.account_handler2 != ''">, {{wip.account_handler2}}</span></div>
                                        </div>

                                        <div class="row" ng-class="{'updated' : wip.updated.delivery == 1}">  
                                            <div class="col-xs-2"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Deliver Lead: </span></div><div class="col-xs-10">{{wip.delivery_lead1}}</div>
                                        </div>

                                        <div class="row" ng-class="{'updated' : wip.updated.creatives == 1}">  
                                            <div class="col-xs-2"><span class="glyphicon glyphicon-ok"></span><span class='mylabel'>Lead Creatives:</span></div><div class="col-xs-10">{{wip.lead_creative1}}<span ng-if="wip.lead_creative2 != ''">, {{wip.lead_creative2}}</span></div>
                                        </div>

                                        <hr />    

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
