  
#admin-menu {
    margin-top: 10px;
    margin-bottom: -1px;

    .nav-tabs > li {
        margin-bottom: 10px;
        a {
            color: #005487;
            font-weight: bold;
            background-color: #e0e0e0;
            border: 0;
            border-radius: 0;
            margin-right: 3px;
        }
        a:hover {
            background-color: #ccc;
        }
    }

    .nav-tabs > li.active > a {
        background-color: @global-white;

    }

    ul {
        li {
            a {
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;
                border-top: 1px solid #ccc;
                font-weight: bold;
                cursor: pointer;
            }
        }



    }
}

.admin-page {
    h1 {
        margin-top: 20px;
        font-size: 22px;
        color: @action-dark-blue;
    }
    
    .data-container {
        background-color: #fff;
        padding: 10px 20px;
        border: 1px solid #ddd;
        border-radius: 0px;
        margin: 0 5px 15px 5px;
        -webkit-box-shadow: 5px 4px 10px 2px rgba(204,204,204,0.5);
        -moz-box-shadow: 5px 4px 10px 2px rgba(204,204,204,0.5);
        box-shadow: 5px 4px 10px 2px rgba(204,204,204,0.5);
        font-size: 14px;
        
        h3, label {
            font-size: 16px;
            margin-bottom: 10px;
        }
    }
}

#data-import {
    
    .menu-item {
        a {
            color: @global-white;
        }
        a:hover {
            text-decoration: none;
        }
        
    }
    .menu-item.active {
        a {
            color: @action-dark-blue;
        }
    }
    
    form {
        width: 50%;
       // margin: 0 auto;
        background-color: #eee;
        padding: 0 30px 50px 30px;
        border-top: none;
        .form-control  {
            padding: 30px 0;
            border: 0;
            background-color: #eee;
            border-top: none;
           
            
        }
        button {
            float: right;
            color: @action-dark-blue;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 12px;
            
        }
    }
    
    .process-message {
       background-color: #eee; 
       padding: 20px 30px 20px 30px;
       margin-top: 20px;
       margin-bottom: 20px;
       width: 50%;
       font-size: 12px;
       p {
           font-weight: bold;
       }
       
       .error {
           color: @status-red;
       }
        
    }
    
    
    
    
}

.admin-users, .admin-locked, .admin-people {
    .btn {
        font-weight: bold;
        text-transform: uppercase;
        color: @action-dark-blue;
        font-size: 11px;
        
    }
}

.admin-users-view {
    .table {
        .cell {
            padding: 7px !important;
            border-bottom: none;
            
        }
        
        .mylabel {
            color: @action-dark-blue;
        }
        
        .lastrow .cell {
            border-bottom: 1px solid #eee;
        }
    }
}

.admin-users-edit, .admin-users-password {
     .mylabel {
            label {
                color: @action-dark-blue;
                font-weight: normal;
            }
           
        }
        .input-group, input[type='text'], input[type='email'] {
            font-size: 13px; 
            width: 50%;
            min-width: 200px;
                
        }
        .input-group input[type='text'] {
            width: 100% !important;
        }
        
        .user-type-select {
            span {
                line-height: 21px !important;
            }
        }
        .user-permissions {
            label {
                span {
                    font-weight: normal;
                    padding-left: 6px;
                    line-height: 21px;
                }
            }
            label.checked {
                span {
                    font-weight: bold;
                }
            }
        }
}

.admin-people {
     
    h3 {
        font-size: 16px;
        margin-bottom: 10px;
        color: @action-dark-blue;
    }
     
    .cell.cell-action {
        text-align: right;
        span {
            cursor: pointer;
            font-weight: bold;
            text-transform: uppercase;
            color: @action-dark-blue;
            font-size: 11px;
        }
    } 
    .cell.cell-active {
        text-align: center;
    }
     
    .form-message {
        font-weight: bold;
            text-transform: uppercase;
               color: @global-red;
               font-size: 11px; 
        }
    
 }

 


@media (min-width: @screen-sm-min) {

}

@media (min-width: @screen-md-min) {  

}

@media (min-width: @screen-lg-min) {  


}