
.badge {
    background-color: #ddd !important;
    color: #000;
    font-size: 11px; 
    font-weight: normal !important; 
    margin: 2px 1px;
}

.badge-sector1234 { background-color: @sector-corporate !important;
    background-color: #fff !important;
    border: 1px solid red;
    color: red;
} // corporate


.badge-sector1 { .badge-style-fill(@sector-corporate, #000) } // .badge-style-fill(red);
.badge-sector2 { .badge-style-fill(@sector-consumer, #000) } // consumer
.badge-sector3 { .badge-style-fill(@sector-ctr, #000) } // ctr
.badge-sector4 { .badge-style-fill(@sector-ethical, #000) } // ethical
.badge-sector5 { .badge-style-fill(@sector-other, #000) } // other

/* CAPI-fied - disciplines */
.badge-sector6 { .badge-style-fill(@discipline-prp, #000) } // prp (1)
.badge-sector7 { .badge-style-fill(@discipline-advertising, #000) } // advertising (2)
.badge-sector8 { .badge-style-fill(@discipline-mse, #000) } // mse (3)
.badge-sector9 { .badge-style-fill(@sector-ctr, #000) } // cte (4)

.badge-type1 { .badge-style-outline(@type-uk) } // corporate
.badge-type2 { .badge-style-outline(@type-us) } // consumer
.badge-type3 { .badge-style-outline(@type-internal) } // ctr
.badge-type4 { .badge-style-outline(@type-charity) } // ethical
.badge-type5 { .badge-style-outline(@type-other) } // other

.badge-digital0 { .badge-style-outline(@digital-no) } // digital no
.badge-digital1 { .badge-style-outline(@digital-yes) } // digital yes

.badge-status1 { .badge-style-outline(@status-in-progress) } // in progress
.badge-status2 { .badge-style-outline(@status-waiting) } // waiting
.badge-status3 { .badge-style-outline(@status-on-hold) } // on hold
.badge-status4 { .badge-style-outline(@status-with-client) } // with client
.badge-status5 { .badge-style-outline(@status-complete) } // complete
.badge-status6 { .badge-style-outline(@status-cancelled) } // cancelled

.badge-stage1 { .badge-style-outline(@stage-scope) } // cancelled
.badge-stage2 { .badge-style-outline(@stage-brief) } // cancelled
.badge-stage3 { .badge-style-outline(@stage-concept) } // cancelled
.badge-stage4 { .badge-style-outline(@stage-copy) } // cancelled
.badge-stage5 { .badge-style-outline(@stage-design) } // cancelled
.badge-stage6 { .badge-style-outline(@stage-artwork) } // cancelled
.badge-stage7 { .badge-style-outline(@stage-production) } // cancelled
.badge-stage8 { .badge-style-outline(@stage-qa); } // cancelled

#job-selection {

    .badge-sector, 
    .badge-type, 
    .badge-digital,
    .badge-status,
    .badge-stage {
        font-size: 11px !important; 
    //    font-weight: normal !important; 
        margin: 2px 1px !important; 
     //   padding: 3px 5px !important;
    }
    
}   



.parent-badge {
    font-size: 10px;
    font-weight: bold !important;
    margin-bottom: 10px;
    padding: 2px 4px;
    cursor: pointer;
}

.client-request-badge {
    font-size: 10px;
    font-weight: bold !important;
    //margin-bottom: 10px;
    padding: 3px;
 //   background-color: @font-color; //#fdfd96 !important;
    cursor: pointer;
    color: @jobbag-blue;
}

/*
.badge-sector-corporate, .badge-sector-1 { .badge-style-fill(@sector-corporate, @action-dark-blue)}
.badge-sector-ethical, .badge-sector-4  { .badge-style-fill(@sector-ethical, @action-dark-blue)}
.badge-sector-consumer, .badge-sector-2 { .badge-style-fill(@sector-consumer, @action-dark-blue)}
.badge-sector-ctr, .badge-sector-3  { .badge-style-fill(@sector-ctr-uk, @action-dark-blue)}
.badge-sector-ctr-uk, .badge-sector-3 { .badge-style-fill(@sector-ctr-uk, @action-dark-blue)}
.badge-sector-ctr-us, .badge-sector-3 { .badge-style-fill(@sector-ctr-uk, @action-dark-blue)}
#464b5e
*/
/*
.badge-sector-corporate, .badge-sector-1 { .badge-style-fill(@sector-corporate, #464b5e)}
.badge-sector-ethical, .badge-sector-4  { .badge-style-fill(@sector-ethical, #464b5e)}
.badge-sector-consumer, .badge-sector-2 { .badge-style-fill(@sector-consumer, #464b5e)}
.badge-sector-ctr, .badge-sector-3  { .badge-style-fill(@sector-ctr-uk, #464b5e)}
.badge-sector-ctr-uk, .badge-sector-3 { .badge-style-fill(@sector-ctr-uk, #464b5e)}
.badge-sector-ctr-us, .badge-sector-3 { .badge-style-fill(@sector-ctr-uk, #464b5e)}
*/
.badge-sector-corporate, .badge-sector-1 { .badge-style-sector(@sector-corporate, #464b5e)}
.badge-sector-ethical, .badge-sector-4  { .badge-style-sector(@sector-ethical, #464b5e)}
.badge-sector-consumer, .badge-sector-2 { .badge-style-sector(@sector-consumer, #464b5e)}
.badge-sector-ctr, .badge-sector-3  { .badge-style-sector(@sector-ctr-uk, #464b5e)}
.badge-sector-ctr-uk, .badge-sector-3 { .badge-style-sector(@sector-ctr-uk, #464b5e)}
.badge-sector-ctr-us, .badge-sector-3 { .badge-style-sector(@sector-ctr-us, #464b5e)}

.badge-sector-cte, .badge-sector-3, .badge-sector-9  { .badge-style-sector(@sector-ctr-uk, #464b5e)}
.badge-sector-cte-uk, .badge-sector-3 { .badge-style-sector(@sector-ctr-uk, #464b5e)}
.badge-sector-cte-us, .badge-sector-3 { .badge-style-sector(@sector-ctr-us, #464b5e)}

.badge-sector-prp, .badge-sector-6 { .badge-style-sector(@discipline-prp, #000) } // prp (1)
.badge-sector-advertising,.badge-sector-7 { .badge-style-sector(@discipline-advertising, #000) } // advertising (2)
.badge-sector-mse,.badge-sector-8 { .badge-style-sector(@discipline-mse, #000) } // mse (3)
//.badge-sector9 { .badge-style-fill(@sector-ctr, #000) } // cte (4)


.vbadge-sector-corporate { .vbadge-style-sector(@sector-corporate)}
.vbadge-sector-ethical  { .vbadge-style-sector(@sector-ethical)}
.vbadge-sector-consumer { .vbadge-style-sector(@sector-consumer)}
.vbadge-sector-ctr  { .vbadge-style-sector(@sector-ctr-uk)}
.vbadge-sector-ctr-uk { .vbadge-style-sector(@sector-ctr-uk)}
.vbadge-sector-ctr-us { .vbadge-style-sector(@sector-ctr-us)}

.badge-pt {
    font-size: 10px;
    padding: 2px 4px;
    border-radius: 3px !important;
    background-color: #005487 !important;
    border: 1px solid #005487;
    color: #fff;
    cursor: pointer;
    margin: 2px 0;
    
}

.badge-pt-noset {
    background-color: transparent !important;
    color: #999;
    border: 1px solid #999;
}



@media (min-width: @screen-sm-min) {

}

@media (min-width: @screen-md-min) {  

}

@media (min-width: @screen-lg-min) {  


}