
// color test...
#color-test {

    
.badge-digital0-fill { .badge-style-fill(@digital-no) } // digital no
.badge-digital1-fill { .badge-style-fill(@digital-yes) } // digital yes
    
    .sector-badge-outline {
        
        .badge-sector1 { .badge-style-outline(@sector-corporate) } // .badge-style-fill(red);
        .badge-sector2 { .badge-style-outline(@sector-consumer) } // consumer
        .badge-sector3 { .badge-style-outline(@sector-ctr) } // ctr
        .badge-sector4 { .badge-style-outline(@sector-ethical) } // ethical
        .badge-sector5 { .badge-style-outline(@sector-other) } // other

    }
    
    .type-badge-fill {
        
        .badge-type1 { .badge-style-fill(@type-uk) } // corporate
.badge-type2 { .badge-style-fill(@type-us) } // consumer
.badge-type3 { .badge-style-fill(@type-internal) } // ctr
.badge-type4 { .badge-style-fill(@type-charity) } // ethical
.badge-type5 { .badge-style-fill(@type-other) } // other

    }
    
    .status-badge-fill {
        
        .badge-status1 { .badge-style-fill(@status-in-progress) } // in progress
    .badge-status2 { .badge-style-fill(@status-waiting) } // waiting
    .badge-status3 { .badge-style-fill(@status-on-hold) } // on hold
    .badge-status4 { .badge-style-fill(@status-with-client) } // with client
    .badge-status5 { .badge-style-fill(@status-complete) } // complete
    .badge-status6 { .badge-style-fill(@status-cancelled) } // cancelled
        
        
        
    }
    
    .stage-badge-fill {
    
.badge-stage1 { .badge-style-fill(@stage-scope) } // cancelled
.badge-stage2 { .badge-style-fill(@stage-brief) } // cancelled
.badge-stage3 { .badge-style-fill(@stage-concept) } // cancelled
.badge-stage4 { .badge-style-fill(@stage-copy) } // cancelled
.badge-stage5 { .badge-style-fill(@stage-design) } // cancelled
.badge-stage6 { .badge-style-fill(@stage-artwork) } // cancelled
.badge-stage7 { .badge-style-fill(@stage-production) } // cancelled
.badge-stage8 { .badge-style-fill(@stage-qa); } // cancelled

    }
    table {
        border-collapse: collapse;
        font-size: 10px;
        tr {
            height: 80px;
        }
        
        th, td {
            vertical-align: top;
            
            padding: 5px;
            width: 160px;
            border: 1px solid black;
        }
        
        td.corporate {
            background-color: @sector-corporate;
        }
        td.ctr {
            background-color: @sector-ctr;
        }
        td.ethics {
            background-color: @sector-ethical;
        }
        td.consumer {
            background-color: @sector-consumer;
        }
        td.other {
            background-color: @sector-other;
        }
    }
    
    table.black-text {
        th, td { color: #000; }
    }
    
    table.white-text {
        th, td { color: #fff; }
    }
    
    .dpm-badge {
        font-size: 11px;
        font-weight: bold !important;
        padding: 2px 4px;
        border: 2px solid #fff;
        color: #fff;
        background-color: purple !important;;
        
        
        
    }
}