/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 10, 2017, 2:53:12 PM
    Author     : adm-pausilve
*/

@langland-green : #00b051;
@background:  #eee; //#f9f9f9;

@global-white: #fff;
@global-black: #000;
@global-red: #dd1010; // rgb 221 16 16
@global-orange: #D17F37;


@langland-dark-gray: #5e686d;
@langland-light-gray: #9aa1a5;
@langland-blue-minus1: #aedbf5;
@langland-blue: #33b8e6;
@langland-blue-plus1: #1487c3;
@langland-blue-plus2: #045585;  

// badge colors

// sector

/* minty pallete */
/*
@sector-consumer: #afeeee; //#ccc; //red;
@sector-ethical: #66cdaa; //#ccc; // blue;
@sector-ctr: #4682b4; //#ccc; //green;
@sector-corporate: #87cefa;//	0000ff; // #ccc; //yellow;
@sector-other: #f5f5f5; //yellow;


@sector-consumer: #FFDE83; //#ccc; //red;
@sector-ethical: #929AFB; //#ccc; // blue;
@sector-ctr: #87CFFA; //#ccc; //green;
@sector-corporate: #FFB457;//	0000ff; // #ccc; //yellow;
@sector-other: #cc2936;


@sector-consumer: #75dbcd; //#ccc; //red;
@sector-ethical: #AAB9B6; //#ccc; // blue;
@sector-ctr: #BEB9C4; //#e8e1ef; //#ccc; //green;
@sector-corporate: #f5cda7;//	0000ff; // #ccc; //yellow;
@sector-other: #faa381;
*/
@sector-consumer: #42a5f5; //#f5c1c1; 
@sector-ethical: #ffab91; //#acdbf7; 
@sector-ctr: #62e8ae; //#dfbae8; 
@sector-ctr-us: #14d0b8; //#f5f4c1; 
@sector-ctr-uk: #62e8ae; //#dfbae8; 
@sector-corporate: #ffd54f; //#abe7ab;
@sector-other: #fd85ad; //#e3e3e3;

/* CAPI-fied - discpline colors */
@discipline-prp: @sector-ethical; // 1
@discipline-advertising: @sector-corporate; // 2
@discipline-mse: @sector-consumer; // 3 
@discipline-cte: @sector-ctr; // 4


// job type
@type-uk: #d72638 ; //red; 
@type-us: #3f88c5; //blue; 
@type-internal: #140f2d; //green;
@type-charity: #f22b29; //yellow;
@type-other: #f49d37; //black; 

@digital-yes: #8DC7BB;
@digital-no: #222;

@status-in-progress: #8DC7BB; //#ccc; //green;
@status-waiting: #FF7373; //orange;
@status-on-hold: #FF7373; //red;
@status-with-client: #FF7373; //blue;
@status-complete: #86BCFF; //yellow;
@status-cancelled: #ccc; //brown;

@status-green: #29bc29;
@status-red: #f24343;
@status-black: #000;

@stage-scope: #cc2936; //#ccc; //red;
@stage-brief: #136F63; //black; //#ccc; //blue;
@stage-concept: #6b818c; //purple; //#ccc; //yellow;
@stage-copy: #f34213; //orange; //#ccc; //pink;
@stage-design: #3a606e; //magenta; //#ccc; //purple;
@stage-artwork: #011627; //green; //#ccc; //orange;
@stage-production: #313b72; // blue; // #ccc; //green;
@stage-qa: #322925;//brown;//#ccc; //brown;

//@table-header: #DAEEFA;

@action-dark-blue: #005487;
@font-color: #5d666c;

@column-select: #d4efff;
@row-select: yellow;

@jobbag-blue: #1487c3;