/* 
 * size guide... 
 */
.guide-boxes {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 20;
    display: block; // none when 'off'

    span {
        font-size: 11px;
        padding:5px; 
        color: #fff;
    }

    span.show-xs {
        background-color: #000;
    }

    span.show-sm {
        background-color: red;
    }

    span.show-md {
        background-color: blue; 
    }

    span.show-lg {
        background-color: green;
    }
    
}

p.testpara {
    span {
        color: #ccc;
    }
    span.nglink {
        text-decoration: underline;
    }
}