.version-info {
    position: absolute;
    top: 2px;
    right: 5px;
    color: #eee;
    font-size: 9px;
    cursor: pointer;
}
    
.modal-open {
    .version-info {
         right: 20px; 
    }
}


header {
    background-color: @langland-blue-plus2;
    height: 70px;
    color: #000;
    
    .mycol {
        line-height: 70px !important;
    }
        
    .logo-holder {
        text-align: center;
        .logo {
            backface-visibility: hidden;
        }  
    }
    
    
    .menu-items {
        background-color: @langland-blue-plus2;
    }
    
    .menu-item {
        width: 25%;
        float:left;
        text-align: center;
        border-right: 1px solid rgba(238,238,238, 0.3);
        color: @global-white;
        //font-weight: bold;
        font-size: 14px;
        cursor: pointer;
    }
    
    .menu-item.first {
        border-left: 1px solid rgba(238,238,238, 0.3);
    }
    
    .menu-item.active {
        background-color: @background;
        color: @action-dark-blue;
    }
    
    .head-button {
         cursor: pointer;
            float: left;
            background-color: @langland-blue-plus2;
            display: block;
            color: @global-white;
            text-align: center;
            padding: 1px 8px;
            font-size: 11px;
            text-decoration: none;
            margin: 4px 10px;
            border: 2px solid @global-white;
            border-radius: 20px;
            line-height: 20px;
            margin-top: 22px;
        
            a {
                color: @global-white;
            }
            a:hover {
                text-decoration: none;
            }
        
    }
   
    

     ul.menu {
        list-style-type: none;
        margin-top: 15px;
        padding: 0;
        overflow: hidden;
        background-color: none;

        li {
            cursor: pointer;
            float: left;
            background-color: @langland-blue-plus2;
            display: block;
            color: white;
            text-align: center;
            padding: 3px 10px;
            font-size: 14px;
            text-decoration: none;
            margin: 4px 10px;
            border: 2px solid #fff;
            border-radius: 20px;
        }
        li:hover {
            color: @langland-blue-plus1;
            background-color: #fff;
        }

        li.active {
            background-color: @global-white;
            color: @langland-blue-plus1;
        }
    }
    
    span.site-title {
        color: @global-white;
        color: rgba(255, 255, 255, 0.9);
        font-size: 20px;
        padding-left: 8px;
    }

        /*
    .version-info {
        margin-top: 10px;
        color: @global-white;
        text-align: right;
        padding: 0 10px;
        font-size: 12px;
        color: #ff8000;

        span {
            padding: 2px 5px;
            background-color: @global-white;
            border-radius: 10px;
            display: inline-block;
        }
    }    
    */
    
    /*
    .user-info {
        margin-top: 5px;
        color: @global-white;
        text-align: right;
        padding: 0 10px;
        line-height: 20px;
        font-size: 11px;
    }   
    */
    .user-info {
      //  line-height: 38px;
     //   height: 38px;
     margin-bottom: 10px;
        background-color: @langland-blue-plus2;
        color: @global-white;
        .head-button {
            margin-top: 6px;
            float: right;
        }
        .user-name {
            margin-top: 11px;
            float: right;
            text-align: left;
        }
        
        
    }
}





@media (min-width: @screen-sm-min) {

}

@media (min-width: @screen-md-min) {  

}

@media (min-width: @screen-lg-min) {  

   .user-info {
       margin-bottom: 0px;
        margin-top: 15px;
        text-align: right;
        padding: 0 10px;
        line-height: 20px;
        font-size: 11px;
  
        .head-button {
            
        }
        .user-name {
            line-height: 15px;
            margin-top: 5px !important;
        }
           
    }   
    
    header {
        height: 70px;
    }
    
}