body.login-page {
    
    .content {
        
        h1.title {
            padding: 15px 0;
            color: @langland-blue-plus2;
        }
        
        .form-container {
            border: 1px solid #ccc; 
            background-color: #fff; 
            padding: 20px 40px;
            border: 1px solid #ddd;
            background-color: @global-white;
            -webkit-box-shadow: 5px 4px 10px 2px rgba(204,204,204,0.5);
            -moz-box-shadow: 5px 4px 10px 2px rgba(204,204,204,0.5);
            box-shadow: 5px 4px 10px 2px rgba(204,204,204,0.5);

            label {
                font-weight: normal;
                color: @action-dark-blue;
                font-size: 13px;
            }    

            #passwordHelp {
                color: @action-dark-blue;
                margin-top: 5px;
                float: right;
            }
            
            button {
                color: @action-dark-blue;
                text-transform: uppercase;
                font-weight: bold;
            }
            
        }
        
        p.inline-message {
            color: @global-red;
        }

        label.col-form-label {
            line-height: 30px;
        }

        
        
    }
    
    
    
    
    
}


@media (min-width: @screen-sm-min) {

}

@media (min-width: @screen-md-min) {  

}

@media (min-width: @screen-lg-min) {  


}
