@import "colors.less";
@import "variables.less";
@import "mixins.less";

html{
    margin:0;
    padding:0;
    //overflow: hidden;
    min-height:100%;
    height: auto;
    position: relative;
//    font-family: Arial;
    font-family: 'Open Sans', sans-serif;


    body{
        position: absolute;
        width:100%;
        height:100%; 
        overflow: auto;
        overflow-y: scroll;
        margin-bottom: 50px;
        font-family: 'Open Sans', sans-serif;
        color: @font-color;
        font-size: 12px;
        background-color: @background;
    }
    
    
    .content {
        
        #wips-views-main {  
            
            #user-views-tabs {
                margin-top: 10px;
                margin-bottom: -1px;
                
                .nav-tabs > li {
                    margin-bottom: 10px;
                    a {
                        color: #005487;
                        font-weight: bold;
                        background-color: #e0e0e0;
                        border: 0;
                        border-radius: 0;
                        margin-right: 3px;
                    }
                    a:hover {
                        background-color: #ccc;
                    }
                }
                
                .nav-tabs > li.active > a {
                    background-color: @global-white;
                    
                }
                
                ul {
                    li {
                        a {
                           border-left: 1px solid #ccc;
                           border-right: 1px solid #ccc;
                           border-top: 1px solid #ccc;
                           font-weight: bold;
                           cursor: pointer;
                        }
                    }
                    li.add-new {
                        .head-button {
                            cursor: pointer;
                           float: left;
                         //  background-color: #ccc;
                           display: block;
                           color: @action-dark-blue !important;
                           font-weight: bold;
                           text-align: center;
                           padding: 2px 10px;
                           font-size: 12px;
                           text-decoration: none;
                           margin: 4px 10px;
                           border: 1px solid #ccc; //@action-dark-blue;
                           border-radius: 20px;
                           line-height: 20px;
                           margin-top: 6px;
                        }
                        .head-button:hover {
                            background-color: #ccc; 
                        }
    
                    }
                    
                    li.hideshow {
                        float: right; 
                        padding: 3px 10px 4px 6px;
                        margin-top: 14px;
                        
                        span {
                            cursor: pointer;
                            font-weight: bold;
                            color: @action-dark-blue;
                            text-transform: uppercase;
                            font-size: 10px;
                            
                            .glyphicon {
                                margin-left: 3px;
                            }
                            
                        }
                    }
                    
                    
                }
                
                
                .tooltip-inner {
                    color: @global-white;
                    background-color: #222;
                 }
                
            }
            
            /*
            #user-views-tabs.filter-open {
                .nav-tabs > li.active > a {
                    background-color: @global-white;
                }
            }
            */
            
            #control-panel-filters {
                position: relative; 
                margin-bottom: 10px;
                display: inline-block;
               // padding-bottom: 10px;
                width: 100%;
                background-color: @background;
               // padding: 5px;
              //  border-left: 1px solid #ccc;
              //  border-right: 1px solid #ccc;
              //  border-bottom: 1px solid #ccc;
                border: 1px solid #e0e0e0;
                
                
                #filter-tabs {
                    display: inline-block;
                    position: relative;
                    z-index: 0;
                    float: left;
                    width: 100%;
                    height: 20px;
                    line-height: 20px;
                   /* ul {
                        margin-left: -35px;
                        width: 100%;
                        margin-bottom: 0 !important;
                        list-style: none;
                        display: inline-block;
                        margin-left:-30px;
                        li {
                            float: none;
                            cursor: pointer;
                            height: 30px;
                            line-height: 30px;
                            border-bottom: 1px solid red;
                            
                    
                        }
                        li.selected {
                            font-weight: bold;
                            .glyphicon {
                                color: @global-black;
                                float: right;
                            }
                        }
                    }*/

                    span.filter-tab {
                        width: 7%;
                        float: left;
                        padding: 6px 5px 4px 6px;
                        cursor: pointer;
                        background-color: @background;
                        color: @action-dark-blue;
                        border-left: 1px solid #e0e0e0; 
                        border-bottom: 1px solid #e0e0e0; 
                        font-size: 12px;
                        font-weight: bold;
                     //   border-left: 1px solid @global-white; 

                        .glyphicon {
                            float: right;
                            color: @action-dark-blue;
                            margin-top: 5px;
                        }
                    }

                   // span.last {
                   //    border-right: 1px solid @global-white; 
                   // }

                    span.filter-tab.selected {
                        background-color: @global-white;
                    }

                    #delivery-select, 
                    #creatives-select,
                    #columns-select {
                        width: 12%;
                        float: left;
                    }

                    #jobtype-select {
                        width: 8%;
                        float: left;
                    }

                    #ah-select {
                        width: 14%;
                        float: left;
                    }
                    
                    #columns-select-block {
                        label {
                            margin-left: 5px; 
                        }
                    }
                    
                    div.filter-selects {
                        border: 1px solid #e0e0e0; 
                       // border-left: 1px solid @global-white;
                      //  border-right: 1px solid @global-white;
                      //  border-bottom: 1px solid @global-white;
                        background-color: @global-white;
                       // color: rgb(0,33,95);
                        color: @action-dark-blue;
                        position: absolute;
                        top: 2.6em;
                        z-index: 100;
 //                       -webkit-transition: height 1s ease-in-out;
  //  -moz-transition: height 1s ease-in-out;
  //  -ms-transition: height 1s ease-in-out;
  //  -o-transition: height 1s ease-in-out;
  //  transition: height 1s ease-in-out;
                        display:none;
    //                    height: 0;
      //                  overflow: hidden;
      -webkit-box-shadow: 5px 4px 10px 2px rgba(204,204,204,0.5);
-moz-box-shadow: 5px 4px 10px 2px rgba(204,204,204,0.5);
box-shadow: 5px 4px 10px 2px rgba(204,204,204,0.5);

                    .filter-list-item {
                        height: 25px;
                        line-height: 25px;
                        padding-left: 7px;
                        border-bottom: 1px solid #e0e0e0;
                        cursor: pointer;
                        z-index: 20;
                        padding-right: 20px;
                        
                        
                        .glyphicon {
                            color: @action-dark-blue;
                            font-size: 10px;
                            background-color: transparent;
                            border: none;
                            padding-left: 10px;
                        }
                        
                        
                        
                    }
                    
                    .filter-list-item.selected {
                            background-color: #eee;
                        }

                    .filter-list-item:hover {
                        background-color: #e0e0e0;

                    }   
                    }
                    

                    div.filter-selects.open {
                        display: block;
                        //height: auto;
                    }

                    div#clients-select-block {
                        left: 0;
                        //top: 100%;
                        width: auto;
                        max-height: 400px;
                        overflow: auto;
                        margin-top: -1px;
                    }
                    
                    
                    div#sector-select-block {
                        left: 7%;
                     //   top: 100%;
                        min-width: 7%;
                        width: auto;
                        margin-top: -1px;
                        
                        #sector1.selected {
                            background-color: @sector-corporate;
                        }
                         #sector2.selected {
                            background-color: @sector-consumer;
                        }
                         #sector3.selected {
                            background-color: @sector-ctr;
                        }
                         #sector4.selected {
                            background-color: @sector-ethical;
                        }
                       

                    }

                    div#jobtype-select-block {
                        left: 14%;
                        
                        min-width: 8%;
                        width: auto;
                        margin-top: -1px;
                    }

                    div#digital-select-block {
                        left: 22%;
                        min-width: 7%;
                        width: auto;
                        margin-top: -1px;

                    }

                    div#status-select-block {
                        left: 29%;
                        min-width: 7%;
                        width: auto;
                        margin-top: -1px;
                        
                        .selected {
                            color: @status-red;
                            // font-weight: bold;
                        }
                        
                        #status1.selected {
                            color: @status-green;
                        }
                        

                    }

                    div#stages-select-block {
                        left: 36%;
                        min-width: 7%;
                        width: auto;
                        margin-top: -1px;

                    }

                    

                    div#ah-select-block {
                         left: 43%;
                         max-height: 400px;
                        overflow: auto;
                        min-width: 14%;
                        width: auto;
                        margin-top: -1px;
                    }

                    div#delivery-select-block {
                        left: 57%;
                        
                        min-width: 12%;
                        width: auto;
                         max-height: 400px;
                        overflow: auto;
                         margin-top: -1px;
                    }


                    div#creatives-select-block {
                        left: 69%;
                        min-width: 12%;
                        width: auto;
                         max-height: 400px;
                        overflow: auto;
                         margin-top: -1px;
                    }

                    div#other-select-block {
                        right: 12%;
                        
                        width: 15%;
                        margin-top: -1px;
                        .filter-list-item {
                            height: auto;
                            line-height: auto;
                        }
                        
                    }

                    div#columns-select-block {
                        right: 0%;
                        min-width: 12%;
                        width: auto;
                        margin-top: -1px;
                        label {
                            font-weight: normal;
                        }
                        .textright {
                            text-align: right;
                        }
                    }


                    #columns-select-block {
                        ul li { padding: 0;}
                    }

                }
                
                #filters-selected {
                    display: inline-block; 
                    padding: 10px 5px; 
                    min-height: 45px; 
                    height: auto;  
                    z-index:1; 
                    background-color: @background;
                    margin-top: 10px;

                    .badge {
                        font-size: 11px;
                        background-color: #e0e0e0;
                        
                        line-height: 16px;
                        color: @action-dark-blue;
                        font-weight: bold !important;
                        padding: 2px 11px;
                        
                        .glyphicon {
                            font-size: 10px;
                            padding-left: 6px;
                            cursor: pointer;
                            
                        }

                    }

                    .badge-sector {
                        padding: 2px 11px !important;
                        border: none !important;
                    }
                    
                    .badge-columns, .badge-order {
                        background-color: #ddd !important;
                    }
                }
                
                #view-actions {
                    
                    
                    width: 100%;
                    height: 30px; 
                    line-height:30px;  
                    z-index:1; 
                    background-color: @background;
                    margin-bottom: 5px;
                    font-size: 11px;   
                    
                
                    .records-count {
                        padding-left: 5px;
                        padding-top: 5px;
                        width: 40%; 
                        text-align: left; 
                        display: inline-block; 
                        float: left;
                    }
                    
                    .view-options {
                        width: 60%; 
                        text-align: right; 
                        display: inline-block; 
                        float: left;
                        padding-right: 10px;
                         padding-top: 5px;
                        span.action {
                            color: @action-dark-blue;
                            text-transform: uppercase;
                            font-weight: bold;
                            font-size: 11px;
                            cursor: pointer;
                        }
                        
                        
                        span#delete-view:before {
                            content:"\e083";
                            font-family:"Glyphicons Halflings";
                            font-size: 9px;
                            margin-right: 1px;
                            display:inline-block;
                        }
                        span#create-pdf:before, span#export-csv:before  {
                            content:"\e022";
                            font-family:"Glyphicons Halflings";
                            font-size: 9px;
                            margin-right: 3px;
                            display:inline-block;
                        }
                        span#clear-settings:before {
                            content:"\e088";
                            font-family:"Glyphicons Halflings";
                            font-size: 9px;
                            margin-right: 3px;
                            display:inline-block;
                        }
                        span#save-view:before {
                            content:"\e172";
                            font-family:"Glyphicons Halflings";
                            font-size: 9px;
                            margin-right: 3px;
                            display:inline-block;
                        }
                        
                        
                        
                        
                    }
                    
                }
                
                
                
            }
            
            #control-panel-filters.closed {
                display:none;
                margin-bottom: 0;
            }
        }
        
        #edit-create-wip, #job-search-page {
    
            .data-container {
            /*    background-color: #fff;
                padding: 10px 20px; 
                border: 1px solid @langland-light-gray;
                border-radius: 5px;
                margin-bottom: 30px; */
            
            
                background-color: @global-white;
                    padding: 10px 20px; 
                    border: 1px solid #ddd;
                    border-radius: 0px;
                    margin: 0 5px 15px 0; 
                    -webkit-box-shadow: 5px 4px 10px 2px rgba(204,204,204,0.5);
                    -moz-box-shadow: 5px 4px 10px 2px rgba(204,204,204,0.5);
                    box-shadow: 5px 4px 10px 2px rgba(204,204,204,0.5);
                    font-size: 13px;
                    
                .mylabel {
                  //  color: @action-dark-blue;
                     text-transform: uppercase;
                    font-weight: bold;
                }
                
                 .mylabel2 {
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                    
                    
            }
            
                       
            .job-info {
                .row {
                    padding: 1px 0;
                    .badge {
                        margin: 0px 1px;
                        color: @action-dark-blue;
                    }
                }
            }

            .wips-form {
                //margin-bottom: 60px;
            }

            h1 {
                margin-top: 20px;
                font-size: 22px;
                color: @langland-blue-plus2;
            }

            h3 {
                margin-top: 10px !important;
                font-size: 18px;
                color: @langland-blue-plus2;
                
                font-size: 16px;
                text-transform: uppercase;
                margin-bottom: 5px !important;
            }
            
            hr {
                border: 0;
                height: 1px;
                background: #ddd;
            }
  
        }
        
        #edit-create-wip {
                    
                .childjobs-action span {
                    color: @action-dark-blue;
                    font-size: 10px;
                        text-decoration: none;
                        font-weight: bold;
                        cursor: pointer;
                        margin-left: 10px;
                        text-transform: uppercase;
                        .glyphicon {
                            margin-left: 2px;
                        }
                    
                    
                }
            
            
            .wips-form {
                
                label {
                    font-weight: normal;
                    //color: @action-dark-blue;
                    text-transform: uppercase;
                    font-weight: bold;
                    
                }
                
                .text-muted {
                    //color: @action-dark-blue;
                }
                
                h3 {
                    margin-bottom:5px !important;
                }
                
             //   p.last-updated {
              //      font-size: 12px;
              //  }
                
                .status-row {
                    margin-bottom: 10px;
                    label {
                        margin-top: 8px;
                    }
                }
                
                .stages-row {
                    margin-bottom: 15px;
                    label {
                        margin-top: 8px;
                    }
                }
                
                .status-row {
                    #statusNotesInstruction {
                        margin-bottom: 5px;
                        font-size: 11px;
                    }
                    
                    textarea {
                        resize: vertical !important; 
                        width:100%;
                    }
                } 
                
                .status-resource-request {
                    #resourceRequestInstruction {
                        margin-bottom: 5px;
                        font-size: 11px;
                    }
                    .input-group {
                        padding-top: 10px; 
                        width: 100%;
                        textarea {
                            resize: vertical !important;
                        }
                    }
                    
                    .input-group-addon-client-request {
                        border-left: 0;
                        background-color: @global-white;
                        label {
                            //text-transform: uppercase; 
                            font-size: 12px;
                            margin-bottom: 0;
                            padding-left: 2px;
                        }
                    }
                    
                    .input-group-addon-client-request.selected {
                        background-color: #eee;
                    }
                    
                    .add-another-holder {
                        padding-top: 10px;
                        text-align: right;
                        .clearall, .add-resource-request {
                            padding-top: 10px; 
                            
                            font-size: 12px;
                           
                            font-size: 12px;
                            text-transform: uppercase;
                            color: @action-dark-blue;
                            font-weight: bold;
                            cursor: pointer;
                        }
                        
                    }
                }
                select.unselected {
                    color: #999;
                }
                
                #accountsPerson2, #leadCreative2 {
                    margin-top: 10px;
                }
                
                .clearlink {
                  
                    line-height: 40px;
                    font-size: 12px;
                    text-transform: uppercase;
                    color: @action-dark-blue;
                    font-weight: bold;
                    cursor: pointer;
                }
                
                #status-radios {
                    margin-top: -10px;
                    label span {
                        padding: 0 30px 0 5px;
                        //font-weight: bold;
                        color: @status-red;
                    }
                    label.flag-status1 span {
                        color: @status-green;
                        
                    }
                    label.flag-status5 span, label.flag-status6 span {
                        color: @status-black;
                        
                    }
                    
                }
                
                .stages-row {
                    
                    .text-muted {
                        margin-top: -15px; 
                        font-size: 11px;
                    }
                    
                    #stages-checks {
                        margin-top: -17px;
                        label span {
                            padding: 0 30px 0 5px;
                          //  font-weight: bold;
                            color: @font-color;
                        }

                    }
                }
                
                #status-buttons,
                #stages-buttons {
                    float:left;
                    label {
                        float:left;
                        width:100px;
                        margin: 4px 8px 4px 0;
                        background-color:#EFEFEF;
                        border-radius:12px;
                        border:1px solid #D0D0D0;
                        overflow:auto;
                        span {
                            text-align:center;
                            font-size: 12px;
                            padding:3px 0px;
                            display:block;
                            font-weight: normal;
                        }

                        input {
                            position:absolute;
                            z-index: -10;
                        }

                        input + span {
                            background-color: rgba(255, 255, 255, 0.8);
                            background-color: @langland-light-gray;
                            background-color: @global-white;
                            color: @langland-light-gray;
                        }

                        input:checked + span {
                            background-color: rgba(255, 255, 255, 0.2);
                            background-color: @langland-blue;
                            color: @global-white;
                        }
                    }

                    .flag-status1.badge-selected-label { border: 1px solid @status-in-progress}
                    .flag-status2.badge-selected-label { border: 1px solid @status-waiting}
                    .flag-status3.badge-selected-label { border: 1px solid @status-on-hold}
                    .flag-status4.badge-selected-label { border: 1px solid @status-with-client}
                    .flag-status5.badge-selected-label { border: 1px solid @status-complete}
                    .flag-status6.badge-selected-label { border: 1px solid @status-cancelled}
                    
                    .flag-status1 input:checked + span { .button-selected(@status-in-progress) } // in progress
                    .flag-status2 input:checked + span { .button-selected(@status-waiting) } // waiting
                    .flag-status3 input:checked + span { .button-selected(@status-on-hold) } // on hold
                    .flag-status4 input:checked + span { .button-selected(@status-with-client) } // with client
                    .flag-status5 input:checked + span { .button-selected(@status-complete) } // complete
                    .flag-status6 input:checked + span { .button-selected(@status-cancelled) } // cancelled

                    .flag-stage1.badge-selected-label { border: 1px solid @stage-scope}
                    .flag-stage2.badge-selected-label { border: 1px solid @stage-brief}
                    .flag-stage3.badge-selected-label { border: 1px solid @stage-concept}
                    .flag-stage4.badge-selected-label { border: 1px solid @stage-copy}
                    .flag-stage5.badge-selected-label { border: 1px solid @stage-design}
                    .flag-stage6.badge-selected-label { border: 1px solid @stage-artwork}
                    .flag-stage7.badge-selected-label { border: 1px solid @stage-production}
                    .flag-stage8.badge-selected-label { border: 1px solid @stage-qa}

                    .flag-stage1 input:checked + span { .button-selected(@stage-scope) } // cancelled
                    .flag-stage2 input:checked + span { .button-selected(@stage-brief) } // cancelled
                    .flag-stage3 input:checked + span { .button-selected(@stage-concept) } // cancelled
                    .flag-stage4 input:checked + span { .button-selected(@stage-copy) } // cancelled
                    .flag-stage5 input:checked + span { .button-selected(@stage-design) } // cancelled
                    .flag-stage6 input:checked + span { .button-selected(@stage-artwork) } // cancelled
                    .flag-stage7 input:checked + span { .button-selected(@stage-production) } // cancelled
                    .flag-stage8 input:checked + span { .button-selected(@stage-qa); } // cancelled
                }
                
                .btn-cancel, #submit {
                    color: @action-dark-blue;
                    font-weight: bold;
                    text-transform: uppercase;
                    margin-left: 10px;
                }
        
                
                
            }
        }
        
        #job-search-page {
            
            .jobbag-link-container {
                 text-align: right; 
                 padding: 25px 0 0 0;
                 
                 span {
                    margin-right: 10px;
                    a {
                        font-size: 11px;
                        font-weight: bold; 
                        letter-spacing: 0.5px; 
                        color: @jobbag-blue; 
                        text-decoration: none;
                    }
                    a:hover {
                        color: @action-dark-blue;
                    }
                    
                }
            }
            
            form {
                margin-bottom: 10px; 
                margin-top: 10px;
                
                label {
                    font-size: 14px; 
                    margin-bottom: 10px;
                }
            }
            
            .parent-key {
                text-align: right; 
                font-size: 12px; 
                margin-bottom: 10px;
            }
            
            
        }
    }
}

.textleft {
    text-align: left;
}
        
.textright {
    text-align: right;
}
  
.nglink {
    text-decoration: underline;
    cursor: pointer;
}

.col-right, .col-finance {
    text-align: right;
}

.col-left {
    text-align: left;
}

.glyphicon {
    position: static;
}

.glyphicon-remove-sign {
    color: @langland-dark-gray;
}

.nowrap {
   white-space: nowrap; 
}

.glyphicon-exclamation-sign {
    color: #ff6600;
    padding-right: 5px;
}


// loader color over-ride 
#loading-bar {
    pointer-events: all;
    z-index: 99999;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    cursor: wait;
    position: fixed;
    //background-color: rgba(255, 255, 255, 0.3);
    //background-color: rgba(4, 85, 133, .2);
    background-color: rgba(0, 0, 0, 0.2);
    .bar {
        background:  @global-white !important;
    }
    
    .peg {
        -moz-box-shadow: @global-white 1px 0 6px 1px !important;
        -ms-box-shadow:  @global-white 1px 0 6px 1px !important;
        -webkit-box-shadow:  @global-white 1px 0 6px 1px !important;
        box-shadow:  @global-white 1px 0 6px 1px !important;
    }
}

#loading-bar-spinner .spinner-icon {
    border-top-color:  @global-white !important;
    border-left-color:  @global-white !important;
    height: 37px;
    width: 37px;
    
       
}

.pipe-spacer {
    padding: 0 5px; 
    color: #ccc;
}

p.access-error {
    font-weight: bold;
    font-size: 15px;
    margin: 20px;
 //   color: @status-red;
}

.last-updated {
    font-size: 12px;
}

.costs-to-date-row {
    margin-top: 10px;
}

h3.finance-summary {
    margin-bottom: 5px !important;
}

@media (min-width: @screen-sm-min) {

}

@media (min-width: @screen-md-min) {  

}

@media (min-width: @screen-lg-min) {  


}

.debug {
    font-size: 11px;
    font-weight: bold;
    display: none;
    background-color: yellow;
}

@import "admin.less";
@import "colortest.less";
@import "debug.less";
@import "header.less";
@import "login.less";
@import "tables.less";
@import "badges.less";
@import "modal.less";
@import "production.less";