@import "colors.less";
@import "variables.less";
@import "mixins.less";

/* Sticky footer styles
-------------------------------------------------- */
/*
html {
  position: relative;
  min-height: 100%;f
  overflow-y: scroll;
}

body {
  /* Margin bottom by footer height */
//margin-bottom: 50px;

//}
/*
html{
    margin:0;
    padding:0;
    overflow: hidden;
    min-height:100%;
    height: auto;
    position: relative;
    font-family: Arial;

}
body{
    position: absolute;
    width:100%;
    height:100%; 
    overflow: auto;
    overflow-y: scroll;
    margin-bottom: 50px;
    font-family: Arial;
    font-size: 12px;
    background-color: @background;
}
*/

/*
.nav-tabs {
    li a {
        font-weight: bold;
        cursor: pointer;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        background-color: #ddd;
        color: #444;
        
        
    }
    li.active a { 
        font-weight: bold;
        color: @langland-blue-plus2 !important;
        //color: #D17F37 !important;
    }
    
    .badge {
        border: 1px solid #ccc;
        background-color: #fff;
        color: @langland-blue-plus2;
        padding: 3px 6px;
        margin: 3px;
        font-size: 11px;
    }

}
/*
#control-blocks {
    width: 100%;
    padding-bottom: 20px;
    margin-top: 10px;

    .control-block {
        padding-right: 50px;
        float: left;

        .block-header {
            cursor: pointer;
            padding: 5px 15px;
            height:auto;
            // background-color: #eee;
            
            background-color: #fff;
            border: 1px solid #ddd;
            border-bottom: 1px solid #555;
            p {
                color: #555;
                font-size: 13px;
                font-weight: bold;
                margin-bottom: 0 !important;
                
                
                em {
                    font-weight: normal;
                    font-style: normal ; 
                    font-size: 12px;
                }
            }
        }

        .block-body {
            border: 1px solid #ddd;
            background-color: #fff;
            ul {
                list-style: none;
                display: inline-block;
                margin-left:-30px;
                li {
          //          width: 33%;
                    float: left;
                    padding: 3px;

                }

            }
        }
       

    }

}

#column-showhide-block {
   
    .block-body {
            ul {
                li {
                      width: 33%;
    
                }

            }
        }
    
    
    
}

/*
.control-panel-container {
    width: 100%;
    background-color: #fff;
    padding: 5px;
 
    
       border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
 //   border:1px solid #ccc;
    .row-title {
        font-weight: strong;
        padding-top: 6px;
    }
    
    ul {
        margin-bottom: 0 !important;
                list-style: none;
                display: inline-block;
                margin-left:-30px;
                li {
          //          width: 33%;
                    float: left;
                    padding: 3px;
                    label {
                        margin-right: 15px;
                        font-weight: normal;
                    }
                    
                }
    }

}*/
/*
.table {
    display: table;
    //width: 500px;   
    border: 1px solid #ddd;

    background-color: @global-white;


    .header {
        .cell {
           // background-color: #eee;
           // background-color: @langland-light-gray;
            background-color: #DAEEFA;
          //  border-right: 1px solid #fff;
            font-weight: bold;
            //color:@global-white;
           // border-bottom: 8px solid @langland-blue-minus1;
           // background-color: #f9f9f9; //@global-white;
            
        }
    }

    .row { 
        display: table-row; 

    }


    .cell { 
        display: table-cell;
        border-bottom: 1px solid #bbb;
        border-right: 1px solid #eee;
        padding:5px;



        .internal-table {
            width: 100% !important;

            .cell {
                border-bottom: none !important;
            }
        }
    }

    .row.wips {
        .cell {
            background-color: #FFFFC8;

        }

    }

    .cell.lu0 {
        border-right: 1px solid #ccc;
       // background-color: #fff;
    }
    .cell.lu1 { 
        border-right: 10px solid rgba(255, 83, 83, 0.2);
      //  background-color:  rgba(255, 83, 83, 0.1);  //255, 0, 0,
    }
    .cell.lu2 {
        border-right: 10px solid rgba(255, 83, 83, 0.3);
      //  background-color:  rgba(255, 83, 83, 0.2);
    }
    .cell.lu3 {
        border-right: 10px solid rgba(255, 83, 83, 0.4);
       // background-color:  rgba(255, 83, 83, 0.3);
    }
    .cell.lu4 {
        border-right: 10px solid rgba(255, 83, 83, 0.5);
       // background-color:  rgba(255, 83, 83, 0.4);
    }
    .cell.lu5 {
        border-right: 10px solid rgba(255, 83, 83, 0.6);
     //   background-color:  rgba(255, 83, 83, 0.5);
        // color: #fff;
    }
    .cell.lu6 {
        border-right: 10px solid rgba(255, 83, 83, 0.8);
     //   background-color:  rgba(255, 83, 83, 0.6);
        // color: #fff;
    }
    .cell.lu7 {
        border-right: 10px solid rgba(255, 83, 83, 1);
      //  background-color: rgba(255, 83, 83, 1);
       // color: #fff;
    }


}
*/
/*
.glyphicon-remove-sign {
    color: @langland-dark-gray;
}

#job-selection {
    .glyphicon-triangle-bottom, .glyphicon-triangle-top {
        color: @langland-dark-gray;
        cursor: pointer;
    }
    .glyphicon-triangle-bottom.selected, .glyphicon-triangle-top.selected {
        color: @langland-blue-plus2;
        color: @global-red;
        color: #D17F37;
        color: #ccc;
    }
    .badge {
        font-size: 10px;
        font-weight: bold !important;
        margin-bottom: 10px;
        padding: 2px 4px;
        cursor: pointer;
    }
    div.hilite {
        div {
            background-color: #FFFFC8;
        }
    }
    
}
/*
.badge {
 // font-size: 10px; font-weight: normal !important;
    // text-transform: capitalize;
    background-color: #ddd !important;
    color: #000;
    font-size: 11px; 
    font-weight: normal !important; 
    margin: 2px 1px;

}

.badge-sector1234 { background-color: @sector-corporate !important;
    background-color: #fff !important;
    border: 1px solid red;
    color: red;
} // corporate
.badge-sector1 { .badge-style-fill(@sector-corporate, #000) } // .badge-style-fill(red);
.badge-sector2 { .badge-style-fill(@sector-consumer, #000) } // consumer
.badge-sector3 { .badge-style-fill(@sector-ctr, #000) } // ctr
.badge-sector4 { .badge-style-fill(@sector-ethical, #000) } // ethical
.badge-sector5 { .badge-style-fill(@sector-other, #000) } // other

.badge-type1 { .badge-style-outline(@type-uk) } // corporate
.badge-type2 { .badge-style-outline(@type-us) } // consumer
.badge-type3 { .badge-style-outline(@type-internal) } // ctr
.badge-type4 { .badge-style-outline(@type-charity) } // ethical
.badge-type5 { .badge-style-outline(@type-other) } // other

.badge-digital0 { .badge-style-outline(@digital-no) } // digital no
.badge-digital1 { .badge-style-outline(@digital-yes) } // digital yes

.badge-status1 { .badge-style-outline(@status-in-progress) } // in progress
.badge-status2 { .badge-style-outline(@status-waiting) } // waiting
.badge-status3 { .badge-style-outline(@status-on-hold) } // on hold
.badge-status4 { .badge-style-outline(@status-with-client) } // with client
.badge-status5 { .badge-style-outline(@status-complete) } // complete
.badge-status6 { .badge-style-outline(@status-cancelled) } // cancelled

.badge-stage1 { .badge-style-outline(@stage-scope) } // cancelled
.badge-stage2 { .badge-style-outline(@stage-brief) } // cancelled
.badge-stage3 { .badge-style-outline(@stage-concept) } // cancelled
.badge-stage4 { .badge-style-outline(@stage-copy) } // cancelled
.badge-stage5 { .badge-style-outline(@stage-design) } // cancelled
.badge-stage6 { .badge-style-outline(@stage-artwork) } // cancelled
.badge-stage7 { .badge-style-outline(@stage-production) } // cancelled
.badge-stage8 { .badge-style-outline(@stage-qa); } // cancelled
*/

// header
/*
header {
    background-color: @langland-blue-plus2;
    height: 98px;
    color: #000;
    .logo {
        width: 150px;
        margin-top: 15px;
    }  

     ul.menu {
        list-style-type: none;
        margin-top: 15px;
        padding: 0;
        overflow: hidden;
        background-color: none;

        li {
            cursor: pointer;
            float: left;
            background-color: @langland-blue-plus2;
            display: block;
            color: white;
            text-align: center;
            padding: 3px 10px;
            font-size: 14px;
            text-decoration: none;
            margin: 4px 10px;
            border: 2px solid #fff;
            border-radius: 20px;
        }
        li:hover {
            color: @langland-blue-plus1;
            background-color: #fff;
        }

        li.active {
            background-color: @global-white;
            color: @langland-blue-plus1;
        }
    }
    
    span.site-title {
        color: @global-white;
        color: rgba(255, 255, 255, 0.9);
        font-size: 20px;
        padding-left: 8px;
        //text-transform: lowercase;

    }

    .version-info {
        margin-top: 10px;
        color: @global-white;
        text-align: right;
        padding: 0 10px;
        font-size: 12px;
        color: #ff8000;

        span {
            padding: 2px 5px;
            background-color: @global-white;
            border-radius: 10px;
            display: inline-block;
        }

    }    

    .user-info {
        margin-top: 5px;
        color: @global-white;
        text-align: right;
        padding: 0 10px;
        line-height: 20px;
        font-size: 13px;

        a {
            color: @langland-blue-plus2;
            background-color: rgba(255, 255, 255, 0.9);
            font-size: 10px;
            text-transform: uppercase;
            padding: 4px 7px;
            border-radius: 10px;
            cursor: pointer;
        }

        a:hover {
            text-decoration: none;
            background-color: @langland-blue;
            color: @global-white;

        }
    }

    // header menu

   
}
*/
// modal styling. 
/*
.modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.2);


    .modal-dialog {
        top: 30%;
        text-align: center;
        width: 90%;
        float: center;
        margin: 0 5%;
        .modal-content, h4 {
            filter: blur(0) !important;
            background-color: transparent;
            color: #fff;
            font-weight: bold;
            border: none !important;
           // border: 5px solid @langland-blue-plus2 !important; 
            webkit-box-shadow: none !important;
            box-shadow: none !important;
            

            .modal-header {
                border-bottom: none;
            }

            .modal-footer {
                background-color: transparent;
                text-align: center;
                border-top: none;

                button {
                    border-radius: 5px;
                    border: 0;
                    font-size: 13px !important;
                    padding: 7px 13px;
                    font-weight: bold !important;
                    margin: 10px;
                }

                .btn-primary {
                    background-color: @global-red !important;
                    border-color: @global-red !important;
                    color: @global-white !important;
                }

                .btn-default {
                    background-color: @global-white !important;
                    border-color:  @langland-blue-plus2 !important;
                    color:  @langland-blue-plus2 !important;
                }

            }
        }
        button.close {
            display: none;
        }
        .thumbs-up {
            font-size: 40px;
        }
    }

}    


.modal.view-job {
    
    .parent-badge {
        font-size: 10px;
        font-weight: bold !important;
        margin-bottom: 10px;
        padding: 2px 4px;
      
    }
    
    .modal-dialog {
        top: 5%; 
     //   width: 90%;
     //   margin: 0 5%;
        .modal-content {
            font-weight: normal;
            font-size: 14px;
            background-color: @global-white;
            color: @global-black;
            text-align: left;
            
            .modal-header {
                color: @global-black;
                button {
                    color: @global-black;
                }
            }
            
            .modal-body {
                margin-top: -15px;
                padding-top: 0;
                
                .data-container {
        background-color: @global-white;
        padding: 10px 20px; 
        border: 1px solid #ddd;
        border-radius: 0px;
        margin: 0 5px 5px 5px; 
        
        
        input, textarea {
            border: 1px solid #ccc;
            padding: 4px;
        }
        
       
    }
                
                
                h1 {
                    margin:0 8px 10px;
                    font-size: 22px;
                    color: @langland-blue-plus2;
                }
                h3 {
                    margin-top: 0;
                    font-size: 18px;
                    color: @langland-blue-plus2;
                }
                h3.vh {
                    span.vh-count {
                        font-size: 12px;
                    }
                    span.vh-hideshow {
                        font-size: 12px;
                        text-decoration: underline;
                        cursor: pointer;
                        margin-left: 10px;
                    }
                    
                    
                }
                hr {
                    border: 0;
                    height: 1px;
                    background: #ddd;
                //    background: @langland-blue-plus2;
                  //   background-image: linear-gradient(to right, #ccc, @langland-blue-plus2, #ccc);
                }
                .historical-wips {
                    font-size: 90%;
                    hr {
                    border: 0;
                    height: 1px;

                    background: #ddd;
                     //background-image: linear-gradient(to right, #ccc, #aaa, #ccc);
                    }
                }
                
                
                .glyphicon-exclamation-sign {
                        color: #ff6600;
                        padding-right: 5px;
                        display: none;
                    }
                    
                    .row.updated {
                        .glyphicon-exclamation-sign {
                            display: inline-block;
                        }
                        
                    //div {
                    //    background-color: #FFA500;
                   // }
                    
                    
                }
                
            }
            
            
        }
    }

    button.close {
        display: block;
    }

}
*//*
#edit-create-wip, #job-search-page {
    
    .data-container {
        background-color: #fff;
        padding: 10px 20px; 
        border: 1px solid @langland-light-gray;
        border-radius: 5px;
        margin-bottom: 30px;
        
       
    }
    
    .job-info {
        .row {
            padding: 2px 0;
            .badge {
                margin: 0px 1px;
            }
        }
    }
    
    .wips-form {
        //margin-bottom: 60px;
    }
    h1 {
        margin-top: 20px;
        font-size: 22px;
        color: @langland-blue-plus2;
    }
      h3 {
                    margin-top: 0;
                    font-size: 18px;
                    color: @langland-blue-plus2;
                }
    hr {
                    border: 0;
                    height: 1px;
                    
                    background: @langland-light-gray;
                     //background-image: linear-gradient(to right, #ccc, @langland-blue-plus2, #ccc);
                }
}
*/
/*
body.modal-open {
    height: 100%;
    width: 100%;
    overflow: hidden;
    .container-fluid, .container {
        filter: blur(2px);
    }
}
*/
/*
#status-buttons,
#stages-buttons {

    float:left;

    label {
        float:left;
        width:100px;
        margin: 4px 8px 4px 0;
        background-color:#EFEFEF;
        border-radius:12px;
        border:1px solid #D0D0D0;
        overflow:auto;

        span {
            text-align:center;
            font-size: 12px;
            padding:3px 0px;
            display:block;
            font-weight: normal;
        }

        input {
            position:absolute;
            z-index: -10;
        }

        input + span {
            background-color: rgba(255, 255, 255, 0.8);
            background-color: @langland-light-gray;
            background-color: @global-white;
            color: @langland-light-gray;
        }

        input:checked + span {
            background-color: rgba(255, 255, 255, 0.2);
            background-color: @langland-blue;
            color: @global-white;
        }
        

        

        
    }
    
    
    
    .flag-status1 input:checked + span { .button-selected(@status-in-progress) } // in progress
        .flag-status2 input:checked + span { .button-selected(@status-waiting) } // waiting
        .flag-status3 input:checked + span { .button-selected(@status-on-hold) } // on hold
        .flag-status4 input:checked + span { .button-selected(@status-with-client) } // with client
        .flag-status5 input:checked + span { .button-selected(@status-complete) } // complete
        .flag-status6 input:checked + span { .button-selected(@status-cancelled) } // cancelled

        .flag-stage1 input:checked + span { .button-selected(@stage-scope) } // cancelled
        .flag-stage2 input:checked + span { .button-selected(@stage-brief) } // cancelled
        .flag-stage3 input:checked + span { .button-selected(@stage-concept) } // cancelled
        .flag-stage4 input:checked + span { .button-selected(@stage-copy) } // cancelled
        .flag-stage5 input:checked + span { .button-selected(@stage-design) } // cancelled
        .flag-stage6 input:checked + span { .button-selected(@stage-artwork) } // cancelled
        .flag-stage7 input:checked + span { .button-selected(@stage-production) } // cancelled
        .flag-stage8 input:checked + span { .button-selected(@stage-qa); } // cancelled

}*/
/*
div#filter-tabs {
    position: relative;
    z-index: 0;
    float: left;
    width: 100%;
    color: red;
    ul {
       margin-left: -35px;
       width: 100%;
        li {
            float: none;
            cursor: pointer;
            //width: 100%;
            
        }
        li.selected {
           
            font-weight: bold;
            .glyphicon {
                color: #000;
                
                //padding-left: 2px;
                //display:inline-block;
                float: right;
            }
        }
        
        
    }
    
    span {
        width: 7%;
        float: left;
        padding: 6px 5px 4px 6px;
        cursor: pointer;
        background-color: #eee;
        color: @global-black;
        border-left: 1px solid #fff;
        
        .glyphicon {
            float: right;
            color: @langland-dark-gray;
        }
    }
    
    span.last {
       border-right: 1px solid #fff; 
    }
    
    span.selected {
        font-weight: bold;
        background-color: blue;
        color: white;
    //   background-color: #ccc;
       background-color: @langland-blue-minus1;
        color: @langland-blue-plus2;
    }
    
    
    span#delivery-select, 
    span#creatives-select,
    span#columns-select {
        width: 12%;
        float: left;
    }
    
    span#jobtype-select {
        width: 8%;
        float: left;
    }
    
    span#ah-select {
        width: 14%;
        float: left;
    }
    
    
}

.glyphicon {
    position: static;
}
*/
/*
div.filter-selects {
    border-left: 1px solid @global-white;
    border-right: 1px solid @global-white;
    border-bottom: 1px solid @global-white;
 //   background-color:#ccc;
    background-color: @langland-blue-minus1;
    color: rgb(0,33,95);
    color: @global-black;
    position: absolute;
    top: 2.6em;
 //   width: 25%;
    z-index: 100;
    display:none;
}

div.filter-selects.open {
    display: block;
    
}

div#sector-select-block {
    left: 0;
    top: 100%;
    width: 13%;
    
}

div#jobtype-select-block {
    left: 7%;
    top: 100%;
    width: 10%;
    
}

div#digital-select-block {
    left: 15%;
    top: 100%;
    width: 10%;
    
}

div#status-select-block {
    left: 22%;
    top: 100%;
    width: 12%;
    
}

div#stages-select-block {
    left: 29%;
    top: 100%;
    width: 10%;
    
}

div#clients-select-block {
     left: 36%;
    top: 100%;
    width: 15%;
    max-height: 400px;
    overflow: auto;
}

div#ah-select-block {
     left: 43%;
    top: 100%;
    width: 17%;
     max-height: 400px;
    overflow: auto;
}

div#delivery-select-block {
    left: 57%;
    top: 100%;
    width: 17%;
     max-height: 400px;
    overflow: auto;
}


div#creatives-select-block {
    left: 69%;
    top: 100%;
    width: 17%;
     max-height: 400px;
    overflow: auto;
}

div#other-select-block {
    left: 81%;
    top: 100%;
    width: 19%;
}

div#columns-select-block {
    left: 84%;
    top: 100%;
    width: 16%;
}

#columns-select-block {
    ul li { padding: 0;}
}
*/
/*
#filters-selected {
    display: inline-block; 
    padding: 10px 5px; 
    min-height: 45px; 
    height: auto;  
    z-index:1; 
    background-color: @global-white;
    
    
    .badge {
        font-size: 12px;
        background-color: @langland-blue-minus1 !important;
        
     //   height: 16px;
        line-height: 16px;
        .glyphicon {
            padding-left: 2px;
            color: @global-black;
        //    font-size: 13px;
        }
    }
    
    .badge-columns, .badge-order {
        background-color: #ddd !important;
        
    }
}

#view-actions {
    //text-align: right;
    
    width: 100%;
    height: 30px; 
    line-height:30px;  
    z-index:1; 
    background-color: @global-white;
}


#control-panel-filters {
    margin-bottom: 10px;
    display: block;
    padding-bottom: 10px;
    
}

#control-panel-filters.closed {
    display:none;
    margin-bottom: 0;
    
}
*/
/*
#user-views-tabs {
    .tooltip-inner {
        color: #fff;
        background-color: #222;

    }
}

/*
span.action-link {
    cursor: pointer; 
    font-weight: bold; 
    color: @langland-blue-plus2;
}

span.action-link-add {
    color: @global-black;
    font-weight: bold; 
} 

span.action-link:hover {
    color: @global-orange;
}
*/
/*
.current-wip {
    margin-top: 10px;
}
*/
//.badge-status, .badge-digital, .badge-type, .badge-stage {
  //  border: none !important;
  //margin: 0 !important;
//}

@media (min-width: @screen-sm-min) {

}

@media (min-width: @screen-md-min) {  

}

@media (min-width: @screen-lg-min) {  


}

@import "colortest.less";
@import "debug.less";