/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 10, 2017, 2:53:36 PM
    Author     : adm-pausilve
*/
.badge-style-outline(@col) {
    background-color: #fff !important;
    color: @col;
    border: 1px solid @col;
}

.badge-style-fill(@col, @txtcol: #fff) {
    background-color: @col !important;
    color: @txtcol;
    border: 1px solid @col;
    font-weight: bold !important;
    padding: 3px 8px !important;
}

.badge-style-sector(@col, @txtcol: #fff) {
    background-color: @col !important;
    color: @txtcol;
    //border: 1px solid @col;
    font-weight: bold !important;
    padding: 3px 8px !important;
    font-weight: bold;
    color: #464b5e;
    border-radius: 0px;
    margin: 0;
    
}


.vbadge-style-sector(@col) {
    background-color: @col !important;
    font-weight: bold !important;
    color: #464b5e !important;
    border-radius: 0px !important;
    margin: 0px !important;
    
}


.button-selected(@col) {
    background-color: rgba(255, 255, 255, 0.2) !important;
    background-color: @col !important;
    color: #fff !important;
    
    color: @col !important;
    background-color: @global-white !important;
   
}
