.modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.2);

    .modal-dialog {
        top: 30%;
        text-align: center;
        width: 90%;
        float: center;
        margin: 0 5%;
        
        .modal-header {
                border-bottom: none;
            }

            .modal-content {
                    border-radius: 0 !important;
            }    
/*        .modal-content, h4 {

            filter: blur(0) !important;
            background-color: transparent;
            color: @global-white;
            font-weight: bold;
            border: none !important;
            webkit-box-shadow: none !important;
            box-shadow: none !important;
            
            .modal-header {
                border-bottom: none;
            }

            .modal-footer {
                background-color: transparent;
                text-align: center;
                border-top: none;

                button {
                    border-radius: 5px;
                    border: 0;
                    font-size: 13px !important;
                    padding: 7px 13px;
                    font-weight: bold !important;
                    margin: 10px;
                }

                .btn-primary {
                    background-color: @global-red !important;
                    border-color: @global-red !important;
                    color: @global-white !important;
                }

                .btn-default {
                    background-color: @global-white !important;
                    border-color:  @langland-blue-plus2 !important;
                    color:  @langland-blue-plus2 !important;
                }
            }
        }
*/
/*        button.close {
            display: none;
        }
        .thumbs-up {
            font-size: 40px;
        }*/
    }
}    

.modal.view-job, .modal.halp {
    
    .modal-dialog {
        top: 5%; 
        .modal-content {
            font-weight: normal;
            font-size: 14px;
            font-size: 13px;
            
            background-color: @global-white;
            background-color: #efefef;
            color: @font-color;
            text-align: left;
            
            .job-info .badge {
                color: @action-dark-blue;
            }
            
            
            .glyphicon-ok {
                padding-right: 5px;
            }
            
            
            .modal-header {
                color: @font-color;
                button {
                    color: @action-dark-blue;
                    opacity: 1 !important;
                }
                .icon-key {
                    text-align: right; 
                    font-size: 12px; 
                    margin-right: 40px;
                    
                    .glyphicon-ok {
                        color: @status-green;
                    }
                }
            }
            
            .modal-body {
                margin-top: -15px;
                padding-top: 0;
                
                .data-container {
                   
                    background-color: @global-white;
                    padding: 10px 20px 20px; 
                    border: 1px solid #ddd;
                    border-radius: 0px;
                    margin: 0 5px 15px 5px; 
                    -webkit-box-shadow: 5px 4px 10px 2px rgba(204,204,204,0.5);
                    -moz-box-shadow: 5px 4px 10px 2px rgba(204,204,204,0.5);
                    box-shadow: 5px 4px 10px 2px rgba(204,204,204,0.5);

                    input, textarea {
                        border: 1px solid #ccc;
                        padding: 4px;
                    }
                }
                
                h1 {
                    margin:0 8px 10px;
                    font-size: 22px;
                    color: @langland-blue-plus2;
                }
                
                h3 {
                    margin-top: 10px;
                    font-size: 18px;
                    color: @langland-blue-plus2;
                    
                    font-size: 16px;
                    text-transform: uppercase;
                }
                
                h3.vh {
                    span.vh-count {
                        font-size: 12px;
                    }
                    span.vh-hideshow {
                        float: right;
                        font-size: 10px;
                        text-decoration: none;
                        font-weight: bold;
                        cursor: pointer;
                        margin-left: 10px;
                        text-transform: uppercase;
                        .glyphicon {
                            margin-left: 2px;
                        }
                        
                    }
                }
                
                
                
                hr {
                    border: 0;
                    height: 1px;
                    background: #ddd;
                }
                
                .historical-wips {
                 //   font-size: 90%;
                    hr {
                        border: 0;
                        height: 1px;
                        background: #ddd;
                    }
                }
                
                .current-wip .row, .historical-wips .row {
                    .glyphicon-ok {
                        display: none;
                    }
                }
                
                .current-wip .row.updated, .historical-wips .row.updated {
                    .glyphicon-ok {
                        display: inline-block;
                        color: @status-green;

                    }
                }
                
                .row-resource-requests {
                    ul {
                        margin-left:-23px !important;
                    }
                    
                }
                
                .current-wip {
           //         margin-top: 15px;
                }
                
                .last-updated {
                    font-size: 11px;
                    
                    
                }
                
                h3 {
                    margin-bottom: 5px !important;
                }
                
                
                
                .status-type {
                    font-weight: bold;
                    color: @status-red;
                }
                
                .status1 {
                    color: @status-green;
                }
                
                .status5, .status6{
                    color: @status-black;
                }
                
                .stage-label {
                    padding-right: 5px; 
                    font-weight: bold;
                }
                
                .mylabel {
                    //color: @action-dark-blue;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                
                .mylabel2 {
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                
                hr.titlehr {
                    background-color: @action-dark-blue;
                    margin-top: 6px;
                    margin-bottom: 8px;
                }
                
                .childjobs-action span {
                    color: @action-dark-blue;
                    font-size: 10px;
                        text-decoration: none;
                        font-weight: bold;
                        cursor: pointer;
                        margin-left: 10px;
                        text-transform: uppercase;
                        .glyphicon {
                            margin-left: 2px;
                        }
                    
                    
                }
                
            }
        }
    }

    button.close {
        display: block;
    }

}

p.last-updated {
                    font-size: 11px;
                    margin-top: -5px;
                    
                }

.modal.halp {

    .modal-dialog {
    
        text-align: center;
        width: 70%;
        min-width: 380px;
        float: center;
        margin: 0 auto;
    }
    
}

.modal.version-history {

    .modal-dialog {
    
        text-align: center;
        width: 70%;
        min-width: 380px;
        float: center;
        margin: 0 auto;
        
        .modal-body {
        
            .data-container {
                max-height: 600px;
                overflow-x: hidden;
              

                h3 {
                    font-size: 13px;
                    color: @font-color;
                    font-weight: bold;
                }

                ul {
                    margin-left: -20px;
                    li {
                        font-size: 12px;
                    }
                }

            }
        }
    }
    
}


.modal.save-view, .modal.create-pdf {
    
    .modal-dialog {
        top: 10%;
        text-align: center;
        width: 50%;
        min-width: 380px;
        float: center;
        margin: 0 auto;
        
        
        
        .data-container {
            
            .view-name {
                font-weight: bold;
              
            }
            
            form {
                
                padding: 10px 0px;
                
                
                
                .field-block {
                    
                    width: 100%; 
                    display:inline-block; 
                    margin-bottom: 10px;
                    
                    
                    
                    label.field-block-label {
                        width: 20%; 
                        float: left;
                        color:@action-dark-blue;
                    font-weight: normal;
                    }
                    
                    div.field-block-fields {
                        width: 80%; 
                        float: left;
                    }
                }
                
                .field-block-buttons {
                
                    text-align: right !important;    
                    width: 100%; 
                    display:inline-block; 
                  
                    button {
                        margin-top:5px;
                        color: @action-dark-blue;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                    
                    .action-holder {
                        width: 100%; 
                        float: left; 
                        text-align:right;
                        button {
                            margin-left: 5px
                        }
                    }
                }
                
                
            }
            
            
        }
    }
}

.modal.lock-pop, 
.modal.message-pop, 
.modal.remove-view, 
.modal.resource-requests-pop,
.modal.finance-summary-pop {
    
    .modal-dialog {
        top: 10%;
        text-align: center;
        width: 50%;
        min-width: 380px;
        float: center;
        margin: 0 auto;
        
        .modal-content {
            background-color: #efefef;
        }
        
        .view-name {
            font-weight: bold;
           // font-size: 17px;
        }
        
    }
}

.modal.finance-summary-pop {
    
    .modal-dialog {
        top: 5%;
        width: 90%;
        min-width: 380px;
    }
}

.modal.create-pdf {
    .modal-dialog {
        top: 10%;
        text-align: center;
        width: 70%;
        min-width: 380px;
        float: center;
        margin: 0 auto;
    }
}

body.modal-open {
    height: 100%;
    width: 100%;
    overflow: hidden;
    .container-fluid, .container {
        filter: blur(2px);
    }
}

.field-block-buttons {
              
    text-align: right !important;    
    width: 100%; 
    display:inline-block; 
    margin-top: 20px;
    margin-bottom: 10px;
    button {
                        margin-top:5px;
                        color: @action-dark-blue;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
}

.close-link {
    color: @action-dark-blue;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.halp-container {
    
    div {
        padding: 0px 5px;
        span.question {
            font-size: 16px !important;
            margin: 5px 0;
            cursor: pointer;
            color: #5d666c !important;
            display: block;
            .glyphicon {
                font-size: 14px;
                padding-right: 5px;
            }
        }
        
        span.answer {
            padding-left: 25px;
            display: none;
            color: #045585;
        }
        
    }

    div.selected {
        //background-color:rgba(212,239,255,.3);
    //   padding: 5px;
    padding-bottom: 5px;
       margin-bottom: 5px;
       border-bottom: 1px solid #efefef;
       border-top: 1px solid #efefef;
         span.answer {
            display: block;
            
            font-size: 16px;
            
            
        }
        span.question {
            color: #045585 !important;
            
            font-weight: bold;
           
        }
        
        
    }    
    
}

@media (min-width: @screen-sm-min) {

}

@media (min-width: @screen-md-min) {  

}

@media (min-width: @screen-lg-min) {  


}