#production-menu {
    margin-top: 10px;
  //  margin-bottom: -1px;

    .nav-tabs {
        border-bottom: 0;
    }
    
    .nav-tabs > li {
        margin-bottom: 10px;
        a {
            color: #005487;
            font-weight: bold;
            background-color: #e0e0e0;
            border: 0;
            border-radius: 0;
            margin-right: 3px;
        }
        a:hover {
            background-color: #ccc;
        }
    }

    .nav-tabs > li.active > a {
        background-color: @global-white;

    }

    ul {
        li {
            a {
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;
                border-top: 1px solid #ccc;
                font-weight: bold;
                cursor: pointer;
            }
        }

        li.report {
            //border: 1px solid #fff;

          //  margin-left: 5px;
          //  margin-right: 5px;
            float: right;
          //  margin-top: 6px;
            
             
            a {
                background-color: #eee;
                //   color: @font-color;
                font-weight: normal;
                padding: 5px 10px;
                font-size: 11px;
              //  border-radius: 20px;
            }
            a:hover {
                //background-color: @action-dark-blue;
          //      color: #fff;
                background-color: #eee;
                //  color: #005487;
                text-decoration: underline;
            }
        }
        
        li#report-1 {
          //  margin-left: 50px;
        }

        li.hideshow {
        //    float: right; 
            padding: 3px 10px 4px 6px;
           // margin-top: 14px;
        
            span {
                cursor: pointer;
                font-weight: bold;
                color: @action-dark-blue;
                text-transform: uppercase;
                font-size: 10px;

                .glyphicon {
                    margin-left: 3px;
                }

            }
        }

    }




}

.view-production-record, .row {
 
   .stage1, .stage3, .stage5, .stage6, .stage7, .stage11, .stage12, .stage13, .stage14, .stage16, .stage17, .stage18 { color: @status-green } // in production
            .stage2, .stage4, .stage8, .stage15 { color: @status-red } // on hold
            .stage9, .stage10 { color: @status-black } // completed, cancelled
        
}

.production-table {

    .table {
        .cell {
            .col-title {
                height:auto;
                min-height: 19px;
            } 
            
            .prod-read-all {
                cursor: pointer;
                font-size: 11px;
                font-weight: bold;
                color: @action-dark-blue;
            }
        }
        
        .cell-stage {
            text-transform: uppercase;
            font-weight: bold;
            .stage1, .stage3, .stage5, .stage6, .stage7, .stage11, .stage12, .stage13, .stage14, .stage16, .stage17, .stage18 { color: @status-green } // in production
            .stage2, .stage4, .stage8, .stage15 { color: @status-red } // on hold
            .stage9, .stage10 { color: @status-black } // completed, cancelled
            
        } 
        
        .status1 { color: @status-green } // in progress
        .status2, .status3, .status4  { color: @status-red } // waiting, on hold, with client
        .status5, .status6  { color: @status-black } // waiting, on hold, with client
        
        
      
        
        div.hilite {
            div {
                background-color:rgba(212,239,255,.3)
            }
        }
        
        .priority {
        //    background-color: rgba(255,255,0,0.3);
         //   font-weight: bold;
        }
        
        .cell-priority-job.priority {
            color: @status-red;
            font-weight: bold;
           
        }
        
        .cell-center {
            text-align: center;
        }
        
         .glyphicon-chevron-up.selected, .glyphicon-chevron-down.selected {
        color: @status-green;
    }
        
    }


    // filters.....


    #control-panel-filters {
        position: relative; 
        margin-bottom: 10px;
        display: inline-block;
        width: 100%;
        background-color: @background;
        border: 1px solid #e0e0e0;

        #filter-tabs {
            display: inline-block;
            position: relative;
            z-index: 0;
            float: left;
            width: 100%;
            height: 20px;
            line-height: 20px;

            span.filter-tab {
                width: 15%;
                float: left;
                padding: 6px 5px 4px 6px;
                cursor: pointer;
                background-color: @background;
                color: @action-dark-blue;
                border-left: 1px solid #e0e0e0; 
                border-bottom: 1px solid #e0e0e0; 
                font-size: 12px;
                font-weight: bold;

                .glyphicon {
                    float: right;
                    color: @action-dark-blue;
                    margin-top: 5px;
                }
            }

            span.filter-tab.selected {
                background-color: @global-white;
            }

            span#production-other-select {
                border-right: 1px solid #e0e0e0; 
            }

            /*
            #delivery-select, 
            #creatives-select,
            #columns-select {
                width: 12%;
                float: left;
            }

            #jobtype-select {
                width: 8%;
                float: left;
            }

            #ah-select {
                width: 14%;
                float: left;
            }
            */
            #columns-select-block {
                label {
                    margin-left: 5px; 
                }
            }

            div.filter-selects {
                border: 1px solid #e0e0e0; 
                min-width: 15%;
                background-color: @global-white;
                color: @action-dark-blue;
                position: absolute;
                top: 2.6em;
                z-index: 100;
                margin-top: -1px;
                display:none;

                -webkit-box-shadow: 5px 4px 10px 2px rgba(204,204,204,0.5);
                -moz-box-shadow: 5px 4px 10px 2px rgba(204,204,204,0.5);
                box-shadow: 5px 4px 10px 2px rgba(204,204,204,0.5);

                .filter-list-item {
                    height: 25px;
                    line-height: 25px;
                    padding-left: 7px;
                    border-bottom: 1px solid #e0e0e0;
                    cursor: pointer;
                    z-index: 20;
                    padding-right: 20px;


                    .glyphicon {
                        color: @action-dark-blue;
                        font-size: 10px;
                        background-color: transparent;
                        border: none;
                        padding-left: 10px;
                    }



                }

                .filter-list-item.selected {
                    background-color: #eee;
                }

                .filter-list-item:hover {
                    background-color: #e0e0e0;

                }   
            }


            div.filter-selects.open {
                display: block;

            }

            div#clients-select-block {
                left: 0;
                //top: 100%;
                width: auto;
                max-height: 400px;
                overflow: auto;
                margin-top: -1px;
            }


            div#lead-producer-select-block {
                left: 0%;
            }

            div#support-producer-select-block {
                left: 15%;
            }

            div#production-type-select-block {
                left: 30%;
            }

            div#production-other-select-block {
                left: 45%;
            }

        }


        #filters-selected {
            display: inline-block; 
            padding: 10px 5px; 
            //min-height: 45px; 
            height: auto;  
            z-index:1; 
            background-color: @background;
            margin-top: 10px;

            .badge {
                font-size: 11px;
                background-color: #e0e0e0;

                line-height: 16px;
                color: @action-dark-blue;
                font-weight: bold !important;
                padding: 2px 11px;

                .glyphicon {
                    font-size: 10px;
                    padding-left: 6px;
                    cursor: pointer;

                }

            }

            .badge-sector {
                padding: 2px 11px !important;
                border: none !important;
            }

            .badge-columns, .badge-order {
                background-color: #ddd !important;
            }
        }

        #view-actions {


            width: 100%;
            height: 30px; 
            line-height:30px;  
            z-index:1; 
            background-color: @background;
            margin-bottom: 5px;
            font-size: 11px;   


            .records-count {
                padding-left: 5px;
                padding-top: 5px;
                width: 40%; 
                text-align: left; 
                display: inline-block; 
                float: left;
            }

            .view-options {
                width: 60%; 
                text-align: right; 
                display: inline-block; 
                float: left;
                padding-right: 10px;
                padding-top: 5px;
                span.action {
                    color: @action-dark-blue;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 11px;
                    cursor: pointer;
                }


                span#create-pdf:before, span#export-csv:before  {
                    content:"\e022";
                    font-family:"Glyphicons Halflings";
                    font-size: 9px;
                    margin-right: 3px;
                    display:inline-block;
                }
                span#clear-settings:before {
                    content:"\e088";
                    font-family:"Glyphicons Halflings";
                    font-size: 9px;
                    margin-right: 3px;
                    display:inline-block;
                }


            }

        }



    }

    #control-panel-filters.closed {
        display: none;
    }



}


.production-add {

    h1 {
        margin-top: 20px;
        font-size: 22px;
        color: #045585;
    }

    form#production-create {

        #desriptionInstruction {
            margin-bottom: 5px;
            font-size: 11px;


        }

        #production-type-checks {
            label {
                span {
                    padding: 0 30px 0 2px;
                    color: @font-color;
                }
            }
            label.checked {
                span {
                    color: @action-dark-blue;
                    font-weight: bold;
                }
            }
            /*span {
                label {
                    width: 200px;
                    text-transform: uppercase;
                    color: @font-color;
                    padding: 10px;
                    //  background-color: #F8F8FF; //#EFEFEF;
                    border-radius: 5px;
                    border: 1px solid #EFEFEF;
                    span {
                        padding-left: 5px;
                        font-size: 13px;
                    }
                }
                label.checked {
                    border: 1px solid @action-dark-blue;
                }
            }*/


        }
        
        select#productionStage {
            
                text-transform: uppercase;
        }

      /*  label[for='priorityjob-input'],
        label[for='nda-input'],
        label[for='usage-form-input'] {
            padding: 10px;
            text-transform: uppercase;
            //  background-color: #F8F8FF; //#EFEFEF;
            border-radius: 5px;
            border: 1px solid #EFEFEF;
            min-width: 200px;
            span {
                padding-left: 5px;
                font-size: 14px;
            }


        }

        label[for='priorityjob-input'].checked,
        label[for='nda-input'].checked,
        label[for='usage-form-input'].checked {
            border: 1px solid @action-dark-blue;

        }
        */
        label.radio-parent {
            //margin-right: 40px;
        }
        
        label.radio-child {
            color: @font-color;
            padding: 0 8px;
            span {
                margin-left: 4px;
            }
            
        }
        
        label.radio-selected-label {
           color: @action-dark-blue;
           font-weight: bold;
        }
        
        label.label-muted {
            color: #ccc;
        }
        
        .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
            opacity: .5;
        }

    }
}

.production-add {

    .data-container {

        .row.existing {
            background-color: rgba(212,239,255,0.3);
        }

    }

}

.modal.report-1 {
   
    .modal-dialog {
        
        top: 5%;
        


        .modal-body {
            
            .data-container {

                
                background-color: #efefef !important; 
                border: 0 !important;
                box-shadow: none !important;
                
                #producer-summary {
                    .row {
                        .cell {
                            text-align: center !important;
                            font-size: 12px;
                           

                        }

                        .cell-totals  {
                            font-weight: bold;

                        }

                        .cell-header {
                            text-align: left !important;
                            div {
                               // color: @action-dark-blue;
                               // font-weight: bold;
                            }
                        }
                        .cell-dbl-border-bottom {
                            border-bottom: 3px solid #ddd;
                        }
                        .cell-hilite {
                            font-weight: bold;
                            background-color: rgba(212,239,255,0.3);
                        }


                    }
                    .row.header {
                        .cell {
                            div {
                                min-height: 19px;
                                height: auto;
                            }
                        }

                    }
                    .row.dbl-border-bottom {
                        .cell { 
                                border-bottom: 3px solid #ddd;
                       }
                    }
                     .row.dbl-border-top {
                        .cell { 
                                border-top: 2px solid #ddd;
                       }
                    }
                }

            }
        }
    }
}

        


.modal.report-3, .modal.report-2 {
   
    .modal-dialog {
        top: 10%;
        width: 60%;
        min-width: 800px;
        margin: 0 20%;
        .modal-body {
            
            .data-container {

                
                background-color: #efefef !important; 
                border: 0 !important;
                box-shadow: none !important;

               
                .cell {
                    text-align: center !important;
                    font-size: 12px;
                }
                .cell-partner {
                    text-align: left !important;
                }
                .cell-budget {
                    text-align: right !important;
                }
                .cell-totals  {
                    font-weight: bold;
                }

                #partner_Totals {
                    .cell {
                        font-weight: bold !important;
                        background-color: rgba(212,239,255,0.3) !important;;
                    }
                }
                
            
            }
        }
    
    }
}

.footnote {
    text-align: right;
    font-size: 11px;
 //   font-weight: bold;
}
      
p.key {
    padding-left: 5px; 
    span {
        padding: 3px;
        font-weight: bold;
        background-color: rgba(255,255,0,0.3); 
    }
    
}

.view-production-record {

    span.production-stage,
    span.priority-job {
        text-transform: uppercase;
    //    font-weight: bold;
    }
    span.priority-job-yes {
         font-weight: bold;
         color: @status-red;
    }
    

    
}