
.table {
    display: table;
    border: 1px solid #ddd;
    background-color: @global-white;
    -webkit-box-shadow: 5px 4px 10px 2px rgba(204,204,204,0.5);
-moz-box-shadow: 5px 4px 10px 2px rgba(204,204,204,0.5);
box-shadow: 5px 4px 10px 2px rgba(204,204,204,0.5);

    .header {
        .cell {
            background-color: @global-white;
            font-weight: bold;
            color: @action-dark-blue;
        }
    }

    .row { 
        display: table-row; 
    }

    .cell { 
        display: table-cell;
        border-bottom: 1px solid #bbb;
        border-right: 1px solid #eee;
        padding: 2px 5px;
        .internal-table {
            width: 100% !important;
            .cell {
                border-bottom: none !important;
            }
        }
        
        .col-remove {
            line-height: 10px; 
            text-align: right; 
            font-weight: normal;
            color: #777;
            .glyphicon {
                cursor: pointer;
                font-size: 10px;
                color: @action-dark-blue;
            }
        }
        
        .col-title {
            text-align: center; 
            font-size: 12px;
            height: 19px;
        }
        
        .col-order {
            line-height: 20px;
            text-align: center;
        }
        
        .resource-see-all {
            float: right; 
            cursor: pointer; 
            text-transform: uppercase;
            font-size: 11px;
            font-weight: bold; 
            color: #005487;
        }
        
        .resource-plus-x {
            float: left; 
            text-transform: uppercase; 
            font-size: 11px;
        }
        .job-number {
            cursor: pointer;
            border-bottom: 1px dashed #5d666c;
            text-decoration: none;
            
        }
    }
    
    .cell-client,
    .cell-stages span,
    .cell-livedate {
        font-weight: bold;
    }
    
    .cell-noitems,
    .cell-digital {
        text-align: center;
    }
    
    .cell-status {
        font-weight: bold;
        .status1 { color: @status-green } // in progress
        .status2, .status3, .status4  { color: @status-red } // waiting, on hold, with client
        .status5, .status6  { color: @status-black } // waiting, on hold, with client
    }
    
    .cell-totalcosts {
        text-align: right;
        span.action-link {
            font-weight: bold;
            cursor: pointer; 
            color: @jobbag-blue;
        }
        span.estimates-available {
            font-size: 10px; 
            color: @jobbag-blue;
        }
        span.estimates-not-set {
            font-size: 10px; 
            color: #999; //@global-red;
        }
    }
    
    .cell-sector {
        font-weight: bold;
        color: #464b5e;
        background-color: @sector-other;
    }
    .cell-sector-ctrus,
    .cell-sector-cte {
        background-color: @sector-ctr-us;
    }
    .cell-sector-ctruk {
        background-color: @sector-ctr-uk;
    }
    .cell-sector-consumer {
        background-color: @sector-consumer;
    }
    .cell-sector-corporate {
        background-color: @sector-corporate;
    }
    .cell-sector-ethical {
        background-color: @sector-ethical;
    }
    

    .cell-sector-prp {
        background-color: @discipline-prp;
    }
    .cell-sector-advertising {
        background-color: @discipline-advertising;
    }
    .cell-sector-mse {
        background-color: @discipline-mse;
    }

    .cell-title {
        min-width: 150px;
    }
    
    
    /*
    .cell-digital {
        text-align: center;
    }
    */

    

}

#job-selection {
    
    width: 100% !important;
    
    
   /* .glyphicon-triangle-bottom, .glyphicon-triangle-top {
        color: @langland-dark-gray;
        cursor: pointer;
    }*/
    .glyphicon-chevron-up, .glyphicon-chevron-down {
        color: @action-dark-blue;
        cursor: pointer;
        font-weight: normal;
        font-size: 11px;
        padding: 0 2px;
    }
   
    .glyphicon-chevron-up.selected, .glyphicon-chevron-down.selected {
        color: @status-green;
    }
    
    div.hilite {
        div {
            //background-color: #d4efff;
            background-color:rgba(212,239,255,.3)
        }
    }
    
    div.updated {
        div {
            background-color: #ccffcc;
                transition: background-color 4s linear; 
   -moz-transition: background-color 4s linear;  
   -webkit-transition: background-color 4s linear; 
   -ms-transition: background-color 4s linear; 
        }
    }
    
    div.updatedfade {
        div {
            background-color: transparent;
        }
    }
    
    
    .row.wips {
        .cell {
            background-color: @column-select;
        }
    }

    .row.closed {
        .cell {
            background-color: #efefef;
        }
    }

    .cell.lu0 {
        border-right: 1px solid #ccc;
    }
    .cell.lu1 { 
        border-right: 5px solid rgba(255, 83, 83, 0.2);
    }
    .cell.lu2 {
        border-right: 5px solid rgba(255, 83, 83, 0.3);
    }
    .cell.lu3 {
        border-right: 5px solid rgba(255, 83, 83, 0.4);
    }
    .cell.lu4 {
        border-right: 5px solid rgba(255, 83, 83, 0.5);
    }
    .cell.lu5 {
        border-right: 5px solid rgba(255, 83, 83, 0.6);
    }
    .cell.lu6 {
        border-right: 5px solid rgba(255, 83, 83, 0.8);
    }
    .cell.lu7 {
        border-right: 5px solid rgba(255, 83, 83, 1);
    }
    
    .cell-resources {
        ul {
           margin-left:-23px !important;
        }
    }
    
    
}

.job-results .table {
    font-size: 12px;
}

.cell-actions {
        
    .action-link {
        cursor: pointer; 
        white-space: nowrap;
        color: @action-dark-blue;
        font-weight: bold;
        display: inline-block;
        margin-bottom: 5px;
        
        .glyphicon {
            font-size: 10px;
            font-weight: normal;
            margin-left: 1px;
        }
    }
       
    /*.action-link-view {
        color: #555;
    }
      */
    

    .action-link:hover {
        color: @global-black;
    }

    .action-closed {
        font-weight: bold;
    }
        
    hr {
        margin-bottom: 4px; 
        margin-top: 4px; 
        border-top: 1px solid #ccc;
    }
}
    
    

@media (min-width: @screen-sm-min) {

}

@media (min-width: @screen-md-min) {  

}

@media (min-width: @screen-lg-min) {  


}
