<div id="color-test" ng-controller="WipsTesting">
    
    <h3>Colour Tests</h3>
    
    <div>
        <span><label for="col_corporate">Corporate: </label> #<input size="10" id="col_corporate" type="text" ng-model="color_corporate" /></span>
        &nbsp;|&nbsp;<span><label for="col_consumer">Consumer </label> #<input size="10" id="col_consumer" type="text" ng-model="color_consumer" /></span>
        &nbsp;|&nbsp;<span><label for="col_ctr">CTR UK: </label> #<input size="10" id="col_ctr_uk" type="text" ng-model="color_ctr_uk" /></span>
        &nbsp;|&nbsp;<span><label for="col_ctr">CTR US: </label> #<input size="10" id="col_ctr_us" type="text" ng-model="color_ctr_us" /></span>
        &nbsp;|&nbsp;<span><label for="col_ethical">Ethical: </label> #<input size="10" id="col_ethical" type="text" ng-model="color_ethical" /></span>
        &nbsp;|&nbsp;<span><label for="col_other">Holiday: </label> #<input size="10" id="col_other" type="text" ng-model="color_other" /></span>
    </div>
    
    
    <div style='margin-bottom: 10px;'>
        <span class="badge badge-pill badge-default badge-sector1" style="border: 1px solid #{{color_corporate}} !important; background-color: #{{color_corporate}} !important; color: #005487 !important; font-weight: bold !important;">Corporate</span>
        <span class="badge badge-pill badge-default badge-sector2" style="border: 1px solid #{{color_consumer}} !important; background-color: #{{color_consumer}} !important;color: #005487 !important; font-weight: bold !important;">Consumer</span>
        <span class="badge badge-pill badge-default badge-sector3" style="border: 1px solid #{{color_ctr_uk}} !important; background-color: #{{color_ctr_uk}} !important;color: #005487 !important; font-weight: bold !important;">CTR UK</span>
        <span class="badge badge-pill badge-default badge-sector5" style="border: 1px solid #{{color_ctr_us}} !important; background-color: #{{color_ctr_us}} !important;color: #005487 !important; font-weight: bold !important;">CTR US</span>
        <span class="badge badge-pill badge-default badge-sector4" style="border: 1px solid #{{color_ethical}} !important; background-color: #{{color_ethical}} !important;color: #005487 !important; font-weight: bold !important;">Ethical</span><!--&nbsp;|&nbsp; --> 

        <!--         <span style="color: #fff !important; border: 1px solid #{{color_corporate}} !important; background-color: #{{color_corporate}} !important;" class="badge badge-pill badge-default badge-sector1">CORPORATE</span>
        <span style="color: #fff !important; border: 1px solid #{{color_consumer}} !important; background-color: #{{color_consumer}} !important;" class="badge badge-pill badge-default badge-sector2">CONSUMER</span>
        <span style="color: #fff !important; border: 1px solid #{{color_ctr}} !important; background-color: #{{color_ctr}} !important;" class="badge badge-pill badge-default badge-sector3">CTR</span>
        <span style="color: #fff !important; border: 1px solid #{{color_ethical}} !important; background-color: #{{color_ethical}} !important;" class="badge badge-pill badge-default badge-sector4">ETHICAL</span>
-->
</div>
    
    <!--
    <div style='margin-bottom: 10px;' class='sector-badge-outline'>
        <span class="badge badge-pill badge-default badge-sector1" style="border: 1px solid #{{color_corporate}} !important; color: #{{color_corporate}} !important;">CORPORATE</span>
        <span class="badge badge-pill badge-default badge-sector2" style="border: 1px solid #{{color_consumer}} !important; color: #{{color_consumer}} !important;">CONSUMER</span>
        <span class="badge badge-pill badge-default badge-sector3" style="border: 1px solid #{{color_ctr}} !important; color: #{{color_ctr}} !important;">CTR</span>
        <span class="badge badge-pill badge-default badge-sector4" style="border: 1px solid #{{color_ethical}} !important; color: #{{color_ethical}} !important;">ETHICAL</span>&nbsp;|&nbsp; 
        <span style="color: #000 !important; border: 1px solid #{{color_corporate}} !important;" class="badge badge-pill badge-default badge-sector1">CORPORATE</span>
        <span style="color: #000 !important; border: 1px solid #{{color_consumer}} !important;" class="badge badge-pill badge-default badge-sector2">CONSUMER</span>
        <span style="color: #000 !important; border: 1px solid #{{color_ctr}} !important;" class="badge badge-pill badge-default badge-sector3">CTR</span>
        <span style="color: #000 !important; border: 1px solid #{{color_ethical}} !important;" class="badge badge-pill badge-default badge-sector4">ETHICAL</span>
    </div>
    -->
  
    
        <!--
        <span ng-repeat="(key, sector) in data.resource_requests"class="badge badge-pill badge-default badge-sector{{data.sector_id}}">{{data.sector}}<span></div>
-->
    
    <table class="black-text">
        
        <tr>
            <td class="consumer" style="background-color: #{{color_consumer}} !important;">123456 - Lorem ipsum <!--<span title="Laila Hassani" data-toggle="tooltip" data-placement="right" tooltip class="badge dpm-badge lh-badge">LH</span>--></td>
            <td class="consumer" style="background-color: #{{color_consumer}} !important;">123456 - Lorem ipsum</td>
            <td class="ethics" style="background-color: #{{color_ethical}} !important;">123456 - Lorem ipsum</td>
            <td class="corporate" style="background-color: #{{color_corporate}} !important;">123456 - Lorem ipsum</td>
            <td class="other" style="background-color: #{{color_other}} !important;">Holiday</td>
            <td class="ctrus" style="background-color: #{{color_ctr_us}} !important;">123456 - Lorem ipsum</td>
            <td class="ctrus" style="background-color: #{{color_ctr_us}} !important;">123456 - Lorem ipsum</td>
            <td class="corporate" style="background-color: #{{color_corporate}} !important;">123456 - Lorem ipsum</td>
            <td class="other" style="background-color: #{{color_other}} !important;">Holiday</td>
        </tr>
        <tr>
            <td class="corporate" style="background-color: #{{color_corporate}} !important;">123456 - Lorem ipsum</td>
            <td class="blank" style="background-color: #fff !important;"></td>
            <td class="blank" style="background-color: #fff !important;"></td>
            <td class="blank" style="background-color: #fff !important;"></td>
            <td class="ctr" style="background-color: #{{color_ctr}} !important;">123456 - Lorem ipsum</td>
            <td class="ctr" style="background-color: #{{color_ctr}} !important;">123456 - Lorem ipsum</td>
            <td class="consumer" style="background-color: #{{color_consumer}} !important;">123456 - Lorem ipsum</td>
             <td class="corporate" style="background-color: #{{color_corporate}} !important;">123456 - Lorem ipsum</td>
            <td class="consumer" style="background-color: #{{color_consumer}} !important;">123456 - Lorem ipsum</td>
        </tr>
        
        <tr>
            <td class="corporate" style="background-color: #{{color_corporate}} !important;">123456 - Lorem ipsum</td>
            <td class="blank" style="background-color: #fff !important;"></td>
            <td class="ethics" style="background-color: #{{color_ethical}} !important;">123456 - Lorem ipsum</td>
            <td class="ethics" style="background-color: #{{color_ethical}} !important;">123456 - Lorem ipsum</td>
            <td class="ctr" style="background-color: #{{color_ctr}} !important;">123456 - Lorem ipsum</td>
            <td class="other" style="background-color: #{{color_other}} !important;">Holiday</td>
            <td class="other" style="background-color: #{{color_other}} !important;">Holiday</td>
            <td class="ctr" style="background-color: #{{color_ctr}} !important;">123456 - Lorem ipsum</td>
            <td class="other" style="background-color: #{{color_other}} !important;">Holiday</td>
        </tr>
        <tr>
            <td class="other" style="background-color: #{{color_other}} !important;">Holiday</td>
            <td class="ctr" style="background-color: #{{color_ctr}} !important;">123456 - Lorem ipsum</td>
            <td class="ctr_us" style="background-color: #{{color_ctr_us}} !important;">123456 - Lorem ipsum</td>
            <td class="ctr_us" style="background-color: #{{color_ctr_us}} !important;">123456 - Lorem ipsum</td>
            <td class="other" style="background-color: #{{color_other}} !important;">Holiday</td>
            <td class="ctr" style="background-color: #{{color_ctr}} !important;">123456 - Lorem ipsum</td>
            <td class="ethics" style="background-color: #{{color_ethical}} !important;">123456 - Lorem ipsum</td>
            <td class="ethics" style="background-color: #{{color_ethical}} !important;">123456 - Lorem ipsum</td>
            <td class="corporate" style="background-color: #{{color_corporate}} !important;">123456 - Lorem ipsum</td>
        </tr>
        
        <tr>
            <td class="blank" style="background-color: #fff !important;"></td>
            <td class="consumer" style="background-color: #{{color_consumer}} !important;">123456 - Lorem ipsum</td>
            <td class="ethics" style="background-color: #{{color_ethical}} !important;">123456 - Lorem ipsum</td>
            <td class="corporate" style="background-color: #{{color_corporate}} !important;">123456 - Lorem ipsum</td>
            <td class="other" style="background-color: #{{color_other}} !important;">Holiday</td>
           <td class="ctr_us" style="background-color: #{{color_ctr_us}} !important;">123456 - Lorem ipsum</td>
            <td class="ethics" style="background-color: #{{color_ethical}} !important;">123456 - Lorem ipsum</td>
              <td class="corporate" style="background-color: #{{color_corporate}} !important;">123456 - Lorem ipsum</td>
            <td class="other" style="background-color: #{{color_other}} !important;">Holiday</td>
        </tr>
        <tr>
            <td class="blank" style="background-color: #fff !important;"></td>
            <td class="consumer" style="background-color: #{{color_consumer}} !important;">123456 - Lorem ipsum</td>
            <td class="other" style="background-color: #{{color_other}} !important;">Holiday</td>
            <td class="ethics" style="background-color: #{{color_ethical}} !important;">123456 - Lorem ipsum</td>
            <td class="blank" style="background-color: #fff !important;"></td>
            <td class="blank" style="background-color: #fff !important;"></td>
            <td class="consumer" style="background-color: #{{color_consumer}} !important;">123456 - Lorem ipsum</td>
             <td class="corporate" style="background-color: #{{color_corporate}} !important;">123456 - Lorem ipsum</td>
            <td class="consumer" style="background-color: #{{color_consumer}} !important;">123456 - Lorem ipsum</td>
        </tr>
        
        <tr>
            <td class="corporate" style="background-color: #{{color_corporate}} !important;">123456 - Lorem ipsum</td>
           <td class="ctr_us" style="background-color: #{{color_ctr_us}} !important;">123456 - Lorem ipsum</td>
            <td class="ctr_us" style="background-color: #{{color_ctr_us}} !important;">123456 - Lorem ipsum</td>
            <td class="ethics" style="background-color: #{{color_ethical}} !important;">123456 - Lorem ipsum</td>
            <td class="ctr" style="background-color: #{{color_ctr}} !important;">123456 - Lorem ipsum</td>
            <td class="other" style="background-color: #{{color_other}} !important;">Holiday</td>
            <td class="blank" style="background-color: #fff !important;"></td>
            <td class="blank" style="background-color: #fff !important;"></td>
            <td class="other" style="background-color: #{{color_other}} !important;">Holiday</td>
        </tr>
        <tr>
            <td class="other" style="background-color: #{{color_other}} !important;">Holiday</td>
            <td class="ctr" style="background-color: #{{color_ctr}} !important;">123456 - Lorem ipsum</td>
            <td class="ethics" style="background-color: #{{color_ethical}} !important;">123456 - Lorem ipsum</td>
            <td class="corporate" style="background-color: #{{color_corporate}} !important;">123456 - Lorem ipsum</td>
            <td class="other" style="background-color: #{{color_other}} !important;">Holiday</td>
            <td class="ctr" style="background-color: #{{color_ctr}} !important;">123456 - Lorem ipsum</td>
            <td class="ethics" style="background-color: #{{color_ethical}} !important;">123456 - Lorem ipsum</td>
            <td class="ethics" style="background-color: #{{color_ethical}} !important;">123456 - Lorem ipsum</td>
            <td class="corporate" style="background-color: #{{color_corporate}} !important;">123456 - Lorem ipsum</td>
        </tr>
        
    </table>
    
 <!--   <br />
    
    <div style='margin-bottom: 10px;'>
        <span class="badge badge-pill badge-default badge-type1">UK</span>
        <span class="badge badge-pill badge-default badge-type2">US</span>
        <span class="badge badge-pill badge-default badge-type3">INTERNAL</span>
        <span class="badge badge-pill badge-default badge-type4">CHARITY</span>
        <span class="badge badge-pill badge-default badge-type5">OTHER</span>&nbsp;|&nbsp; 
        <span style="color: #000;" class="badge badge-pill badge-default badge-type1">UK</span>
        <span style="color: #000;" class="badge badge-pill badge-default badge-type2">US</span>
        <span style="color: #000;" class="badge badge-pill badge-default badge-type3">INTERNAL</span>
        <span style="color: #000;" class="badge badge-pill badge-default badge-type4">CHARITY</span>
        <span style="color: #000;" class="badge badge-pill badge-default badge-type5">OTHER</span>
    </div>
    
    <div style='margin-bottom: 10px;' class='type-badge-fill'>
       <span class="badge badge-pill badge-default badge-type1">UK</span>
        <span class="badge badge-pill badge-default badge-type2">US</span>
        <span class="badge badge-pill badge-default badge-type3">INTERNAL</span>
        <span class="badge badge-pill badge-default badge-type4">CHARITY</span>
        <span class="badge badge-pill badge-default badge-type5">OTHER</span>&nbsp;|&nbsp; 
        <span style="color: #000;" class="badge badge-pill badge-default badge-type1">UK</span>
        <span style="color: #000;" class="badge badge-pill badge-default badge-type2">US</span>
        <span style="color: #000;" class="badge badge-pill badge-default badge-type3">INTERNAL</span>
        <span style="color: #000;" class="badge badge-pill badge-default badge-type4">CHARITY</span>
        <span style="color: #000;" class="badge badge-pill badge-default badge-type5">OTHER</span>
    </div>
    
    <div style='margin-bottom: 10px;'>
        <span class="badge badge-pill badge-default badge-digital0">NO</span>
         <span class="badge badge-pill badge-default badge-digital0-fill">NO</span>&nbsp;|&nbsp;
        <span class="badge badge-pill badge-default badge-digital1">YES</span>
        <span class="badge badge-pill badge-default badge-digital1-fill">YES</span>&nbsp;|&nbsp;
        <span style="color: #000;" class="badge badge-pill badge-default badge-digital0">NO</span>
         <span style="color: #000;" class="badge badge-pill badge-default badge-digital0-fill">NO</span>&nbsp;|&nbsp;
        <span style="color: #000;" class="badge badge-pill badge-default badge-digital1">YES</span>
        <span style="color: #000;" class="badge badge-pill badge-default badge-digital1-fill">YES</span>
    </div>
    
    
    
    
     <div style='margin-bottom: 10px;'>
        <span ng-repeat="(key1, value) in wipsStatus" class="badge badge-pill badge-default badge-status{{value.key}}">{{value.status}}</span>&nbsp;|&nbsp;
        <span style="color: #000;"  ng-repeat="(key1, value) in wipsStatus" class="badge badge-pill badge-default badge-status{{value.key}}">{{value.status}}</span>
    </div>
    
    <div style='margin-bottom: 10px;' class='status-badge-fill'>
        <span ng-repeat="(key1, value) in wipsStatus" class="badge badge-pill badge-default badge-status{{value.key}}">{{value.status}}</span>&nbsp;|&nbsp;
        <span  style="color: #000;"  ng-repeat="(key1, value) in wipsStatus" class="badge badge-pill badge-default badge-status{{value.key}}">{{value.status}}</span>
    </div>
    
    
    <div style='margin-bottom: 10px;'>
        <span ng-repeat="(key1, value) in wipsStages" class="badge badge-pill badge-default badge-stage{{value.key}}">{{value.status}}</span>&nbsp;|&nbsp;
        <span  style="color: #000;"  ng-repeat="(key1, value) in wipsStages" class="badge badge-pill badge-default badge-stage{{value.key}}">{{value.status}}</span>
    </div>
      <div style='margin-bottom: 10px;' class='stage-badge-fill'>
        <span ng-repeat="(key1, value) in wipsStages" class="badge badge-pill badge-default badge-stage{{value.key}}">{{value.status}}</span>&nbsp;|&nbsp;
        <span  style="color: #000;"  ng-repeat="(key1, value) in wipsStages" class="badge badge-pill badge-default badge-stage{{value.key}}">{{value.status}}</span>
      </div>
    
    
    
    -->
</div>

