<div ng-controller="WipsTesting">
    <h3>Functional Tests</h3>
     
    
    <div style='margin-bottom: 10px; margin-top: 10px;'>
        <div type="button" class="btn btn-default btn-sm" ng-click="saveTestData()">Test Save View</div>
    </div>
    
    
    <div style='margin-bottom: 10px; margin-top: 10px;'>
        <p>Test data: {{TestData}}</p>
        <label>ID: <input type='text' ng-model='testid' />
        <div type="button" class="btn btn-default btn-sm" ng-click="getTestData()">Test Load View</div>
    </div>
    
    <div>
    <a href="#0" title="My Tooltip!" data-toggle="tooltip" data-placement="top" tooltip>My Tooltip Link</a>
    </div>
    
    <hr>
    
    <h3>Encryption test</h3>
    
    <div>
        <form>
            <label for='encrypt_string'>Enter string: </label><br />
            <textarea rows='5' cols='80' type='text' ng-model='test_string' id='encrypt_string'></textarea><br/>
            <button type='button' ng-click='encryptTest()' class='btn btn-default'>Encrypt it</button>
            <div>Entered string = {{ret_test_string}}<br />(length:{{ret_test_string.length}})</div>
            <div>Encrypted string = {{ret_string_encrypted}}<br />(length:{{ret_string_encrypted.length}})</div>
            <div>Decrypt of encrypted string = {{ret_string_encrypted_decrypt}}</div>
            
            
        </form>
    </div>
    
    
</div>