<div class="admin-users-password admin-users admin-page">
    
     <div class='row'>
    
        <div class="col-xs-0 col-lg-0 col-xl-1"></div>
       
         <div class="col-xs-6 col-lg-6 col-xl-5">
            <h1>Manage Users: Reset User Password: {{adminCurrentUser.full_name}}</h1>
        </div>
        
        <div class="col-xs-6 col-lg-6 col-xl-5 col-right" style="margin-top: 10px; margin-bottom: 10px;">
            <div class='btn btn-default btn-add' ng-click='back()'><span class='glyphicon glyphicon-chevron-left'></span> back</div>
        </div>
                 
        <div class="col-xs-0 col-lg-0 col-xl-1"></div>
        
    </div>
    
    <div class="row">

        <div class="col-xs-12">
            
            <div class="form-container"  style="background-color: #fff; padding: 20px;">
        
                <form id="user-create" ng-submit="submitUserPasswordForm()" ng-controller="AdminUsers">

                    <p ng-if="adminCurrentUser.message" style="margin: 0 0 20px; color: red; font-weight: bold;">{{adminCurrentUser.message}}</p>


                   <div class="form-group row">
                        <div class="col-xs-12 col-sm-4 col-lg-2 mylabel"><label for="password" class="col-form-label">Password:</label></div>
                        <div class="col-xs-12 col-sm-8 col-lg-10">
                            <span class="input-group">  
                                <input class="form-control" placeholder="Enter or generate a new password" maxlength="50" type="text" ng-model="adminCurrentUser.password" id="password" required>
                                <span style="padding: 0; background-color: #fff;" class="input-group-addon" ng-click="generatePassword()"><span class="btn btn-default btn-sm" >Generate</span></span>

                            </span>
                             <small id="passwordHelp" class="form-text text-muted">Make a note of the password - this will need to be provided to the user.</small>
                        </div>
                   </div> 


                    <div class="form-group row" style='margin-top:40px;'>
                        <div class="col-xs-12 col-sm-3"></div>
                        <div class="col-xs-12 col-sm-9 col-right">
                            <input ng-disabled="isFormDisabled();" type="submit" id="submit" class="btn btn-default " value="Save New Password" />
                            <span  class="btn btn-default btn-cancel" ng-click="back()">Cancel</span>
                        </div>
                    </div>

                </form>
                
            </div>
            
          
            
        </div>
        
    </div>
    
    
   
</div>
