<div class="admin-users-view admin-users admin-page">
   
    <div class='row'>
    
        <div class="col-xs-0 col-lg-0 col-xl-1"></div>
       
        <div class="col-xs-6 col-lg-6 col-xl-5">
            <h1>Manage Users: User Details: {{adminCurrentUser.full_name}}</h1>
        </div>
        
        <div class="col-xs-6 col-lg-6 col-xl-5 col-right" style="margin-top: 10px; margin-bottom: 10px;">
               
            <div class='btn btn-default btn-add' ng-click='back()'><span class='glyphicon glyphicon-chevron-left'></span> back</div>
            
        </div>
                 
        <div class="col-xs-0 col-lg-0 col-xl-1"></div>
      
    </div>    
      
    <div class="row">

        <div class="col-xs-12">

            
            <div class="table" id='user-view-pt1'>

                <div class="row">
                    <div class="cell col-xs-7 col-sm-4 col-lg-2 mylabel">Name</div>
                    <div class="cell col-xs-5 col-sm-8 col-lg-10">{{adminCurrentUser.full_name}}&nbsp;</div>
                </div>

                <div class="row">
                    <div class="cell col-xs-7 col-sm-4 col-lg-2 mylabel">Email Address</div>
                    <div class="cell col-xs-5 col-sm-8 col-lg-10">{{adminCurrentUser.email_address}}&nbsp;</div>
                </div>

                <div class="row">
                    <div class="cell col-xs-7 col-sm-4 col-lg-2 mylabel">User Type </div>
                    <div class="cell  col-xs-5 col-sm-8 col-lg-10">{{adminCurrentUser.user_type_name}}&nbsp;</div>
                </div>
                
                <div class="row">
                    <div class="cell col-xs-7 col-sm-4 col-lg-2 mylabel">WIPS Permissions </div>
                    <div class="cell  col-xs-5 col-sm-8 col-lg-10">
                        <span ng-if="adminCurrentUser.perms.wips.view == '1'">- View<br /></span> 
                        <span ng-if="adminCurrentUser.perms.wips.update == '1'">- Update/Edit<br /></span> 
                        <span ng-if="adminCurrentUser.perms.wips.create == '1'">- Create/Add</span> 
                        <span ng-if="adminCurrentUser.perms.wips.view == '0' && 
                                    adminCurrentUser.perms.wips.create == '0' && 
                                    adminCurrentUser.perms.wips.update == '0'">none</span> 
                   </div>
                </div>
                
                <div class="row">
                    <div class="cell col-xs-7 col-sm-4 col-lg-2 mylabel">Production Permissions </div>
                    <div class="cell  col-xs-5 col-sm-8 col-lg-10">
                        <span ng-if="adminCurrentUser.perms.prod.view == '1'">- View<br /></span> 
                        <span ng-if="adminCurrentUser.perms.prod.create == '1'">- Update/Create</span> 
                        <span ng-if="adminCurrentUser.perms.prod.view == '0' && 
                                    adminCurrentUser.perms.prod.create == '0'">none</span> 
                    </div>
                </div>
                
                <div class="row">
                    <div class="cell col-xs-7 col-sm-4 col-lg-2 mylabel">Admin Permissions </div>
                    <div class="cell  col-xs-5 col-sm-8 col-lg-10">
                        <span ng-if="adminCurrentUser.perms.admin.users == '1'">- Manage Users<br /></span> 
                        <span ng-if="adminCurrentUser.perms.admin.finance == '1'">- Manage Finance Import<br /></span> 
                        <span ng-if="adminCurrentUser.perms.admin.locked == '1'">- Manage Locked WIPS<br /></span> 
                        <span ng-if="adminCurrentUser.perms.admin.peoplesel == '1'">- Manage 'people' data</span> 
                        <span ng-if="adminCurrentUser.perms.admin.users == '0' && 
                                    adminCurrentUser.perms.admin.finance == '0' && 
                                    adminCurrentUser.perms.admin.locked == '0' && 
                                    adminCurrentUser.perms.admin.peoplesel == '0'">none</span> 
                    </div>
                </div>

                <div class="row" ng-if="adminCurrentUser.job_title">
                    <div class="cell col-xs-7 col-sm-4 col-lg-2 mylabel">Job Title </div>
                    <div class="cell col-xs-5 col-sm-8 col-lg-10">{{adminCurrentUser.job_title}}&nbsp;</div>
                </div>

                <div class="row" ng-if="adminCurrentUser.user_type == 2">
                    <div class="cell col-xs-7 col-sm-4 col-lg-2 mylabel">Primary Sector </div>
                    <div class="cell  col-xs-5 col-sm-8 col-lg-10">{{adminCurrentUser.primary_sector_name}}&nbsp;</div>
                </div>

                <div class="row"  ng-if="adminCurrentUser.user_type == 2">
                    <div class="cell col-xs-7 col-sm-4 col-lg-2 mylabel" >Primary Location </div>
                    <div class="cell col-xs-5 col-sm-8 col-lg-10">{{adminCurrentUser.primary_location_name}}&nbsp;</div>
                </div>

                <div class="row">
                    <div class="cell col-xs-7 col-sm-4 col-lg-2 mylabel">Account Status </div>
                    <div class="cell  col-xs-5 col-sm-8 col-lg-10">{{adminCurrentUser.status_name}}&nbsp;</div>
                </div>

                <div class="row">
                    <div class="cell col-xs-7 col-sm-4 col-lg-2 mylabel">Last Login </div>
                    <div class="cell col-xs-5 col-sm-8 col-lg-10">{{adminCurrentUser.last_login_formatted}}&nbsp;</div>
                </div>

                <div class="row">
                    <div class="cell col-xs-7 col-sm-4 col-lg-2 mylabel">Login Count </div>
                    <div class="cell col-xs-5 col-sm-8 col-lg-10">{{adminCurrentUser.login_count}}&nbsp;</div>
                </div>

                <div class="row lastrow">
                    <div class="cell col-xs-7 col-sm-4 col-lg-2 mylabel">Account Created on </div>
                    <div class="cell col-xs-5 col-sm-8 col-lg-10">{{adminCurrentUser.created_on_formatted}}&nbsp;</div>
                </div>

                 <div class="row">
                    <div class="cell col-xs-12 col-right" style="margin-top: 10px; ">
                        <span class='btn btn-default btn-sm btn-password' ng-click="setLocationPath('admin/users/password/' + adminCurrentUser.urid);">Reset User Password</span>
                        <span class='btn btn-default btn-sm btn-edit' ng-click="setLocationPath('admin/users/edit/' + adminCurrentUser.urid);">Edit User</span>
                    <!--    <span  ng-if="!data.is_self" class='btn btn-default btn-delete' ng-click="deleteUser(urid);">Delete User</span> -->
                    </div>
                </div>

            </div>
            
            
    
        <div class="col-xs-0 col-md-1 col-lg-2"></div>  
        
     </div>

    
</div>