<div class="admin-users-edit admin-users admin-page">
    
     <div class='row'>
    
        <div class="col-xs-0 col-lg-0 col-xl-1"></div>
       
         <div class="col-xs-6 col-lg-6 col-xl-5">
            <h1 ng-if="adminCurrentUserID == 0">Manage Users: Add User</h1>
            <h1 ng-if="adminCurrentUserID > 0">Manage Users: Edit User: {{adminCurrentUser.full_name}}</h1>
        </div>
        
        <div class="col-xs-6 col-lg-6 col-xl-5 col-right" style="margin-top: 10px; margin-bottom: 10px;">
            <div class='btn btn-default btn-add' ng-click='back()'><span class='glyphicon glyphicon-chevron-left'></span> back</div>
        </div>
                 
        <div class="col-xs-0 col-lg-0 col-xl-1"></div>
        
    </div>
    
    
    <div class="row">

        <div class="col-xs-12">
    
            <div class="form-container" style="background-color: #fff; padding: 20px;">
               <form id="user-create" ng-submit="submitUserForm()" ng-controller="AdminUsers">

            <p ng-if="adminCurrentUser.message" style="margin: 0 0 20px; color: red; font-weight: bold;">{{adminCurrentUser.message}}</p>
         
            <div class="form-group row">
                <div class="col-xs-12  col-sm-4 col-lg-2 mylabel"><label for="email_address" class="col-form-label">Email Address: *</label></div>
                <div class="col-xs-12 col-sm-8 col-lg-10">
                    <input class="form-control" maxlength="200" type="email" ng-model="adminCurrentUser.email_address" id="email_address" required>
                </div>
            </div> 


            <div class="form-group row">
                <div class="col-xs-12 col-sm-4 col-lg-2 mylabel"><label for="full_name" class="col-form-label">Full Name: *</label></div>
                <div class="col-xs-12 col-sm-8 col-lg-10">
                    <input class="form-control" maxlength="200" type="text" ng-model="adminCurrentUser.full_name" id="full_name" required>
                </div>
            </div> 
            
            <div class="form-group row">
                <label for="user_type" class="col-xs-12 col-sm-4 col-lg-2 mylabel"><label>User Type:</label></label>
                <div class="col-xs-12 col-sm-8 col-lg-10 digital-select user-type-select">
                    <span>
                        <label class="radio-inline">
                            <input ng-checked="adminCurrentUser.user_type == 4" ng-click="defaultUserPerms(4);" type="radio" name="optradio"><span>Viewer</span>
                        </label> 
                    </span>
                    <span style="padding-left: 20px;">
                        <label class="radio-inline">
                            <input ng-checked="adminCurrentUser.user_type == 3" ng-click="defaultUserPerms(3);" type="radio" name="optradio"><span>Traffic</span>
                        </label> 
                    </span>
                    <span style="padding-left: 20px;">
                        <label class="radio-inline">
                            <input ng-checked="adminCurrentUser.user_type == 2" ng-click="defaultUserPerms(2);" type="radio" name="optradio"><span>Account Handler</span>
                        </label> 
                    </span>
                    
                    <span style="padding-left: 20px;">
                        <label class="radio-inline">
                            <input ng-checked="adminCurrentUser.user_type == 5" ng-click="defaultUserPerms(5);" type="radio" name="optradio"><span>DPM</span>
                        </label> 
                    </span>
                    
                    <span style="padding-left: 20px;">
                        <label class="radio-inline">
                            <input ng-checked="adminCurrentUser.user_type == 6" ng-click="defaultUserPerms(6);" type="radio" name="optradio"><span>Producer</span>
                        </label> 
                    </span>
                    
                    <span style="padding-left: 20px;">
                        <label class="radio-inline">
                            <input ng-checked="adminCurrentUser.user_type == 1" ng-click="defaultUserPerms(1);" type="radio" name="optradio"><span>Administrator</span>
                        </label> 
                    </span>
                </div>
            </div> 
            
            <div class="form-group row">
                <div class="col-xs-12 col-sm-4 col-lg-2 mylabel"><label for="full_name" class="col-form-label">WIPS Permissions:</label></div>
                <div class="col-xs-12 col-sm-8 col-lg-10 user-permissions">
                  
                    <label class="" ng-class="{'checked' : adminCurrentUser.perms.wips.view == 1}">
                        <input ng-click="togglePermissions('wips', 'view')"
                            ng-checked="adminCurrentUser.perms.wips.view == '1'" 
                            class="form-check-input" 
                            type="checkbox" 
                            name="inlineRadioOptions" 
                            value="wips.view"><span> View WIPS records</span>
                    </label><br />
                    <label class="" ng-class="{'checked' : adminCurrentUser.perms.wips.update == '1'}">
                        <input ng-click="togglePermissions('wips', 'update')"
                            ng-checked="adminCurrentUser.perms.wips.update == '1'" 
                            class="form-check-input" 
                            type="checkbox" 
                            name="inlineRadioOptions" 
                            value="wips.update"><span> Update/Edit WIPS records</span>
                    </label> <br />
                    <label class="" ng-class="{'checked' : adminCurrentUser.perms.wips.create == '1'}">
                        <input ng-click="togglePermissions('wips', 'create')"
                            ng-checked="adminCurrentUser.perms.wips.create == '1'" 
                            class="form-check-input" 
                            type="checkbox" 
                            name="inlineRadioOptions" 
                            value="wips.create"><span> Create/Add WIPS records</span>
                    </label> 
                    
                        
                </div>
            </div> 
            
            <div class="form-group row">
                <div class="col-xs-12 col-sm-4 col-lg-2 mylabel"><label for="full_name" class="col-form-label">Production Permissions:</label></div>
                <div class="col-xs-12 col-sm-8 col-lg-10 user-permissions">
                  
                    <label class="" ng-class="{'checked' : adminCurrentUser.perms.prod.view == '1'}">
                        <input ng-click="togglePermissions('prod', 'view');"
                            ng-checked="adminCurrentUser.perms.prod.view == '1'" 
                            class="form-check-input" 
                            type="checkbox" 
                            name="inlineRadioOptions" 
                            value="wips.view"><span> View Production records</span>
                    </label><br /> 
                    <label class="" ng-class="{'checked' : adminCurrentUser.perms.prod.update == '1'}">
                        <input ng-click="togglePermissions('prod', 'create');"
                            ng-checked="adminCurrentUser.perms.prod.create == '1'" 
                            class="form-check-input" 
                            type="checkbox" 
                            name="inlineRadioOptions" 
                            value="wips.update"><span> Update/Create Production records</span>
                    </label> 
                    
                </div>
            </div> 
            
            <div class="form-group row">
                <div class="col-xs-12 col-sm-4 col-lg-2 mylabel"><label for="full_name" class="col-form-label">Admin Permissions:</label></div>
                <div class="col-xs-12 col-sm-8 col-lg-10 user-permissions">
                  
                    <label class="" ng-class="{'checked' : adminCurrentUser.perms.admin.users == '1'}">
                        <input ng-click="adminCurrentUser.perms.admin.users == '1' ? adminCurrentUser.perms.admin.users = '0' :  adminCurrentUser.perms.admin.users = '1'"
                            ng-checked="adminCurrentUser.perms.admin.users == '1'" 
                            class="form-check-input" 
                            type="checkbox" 
                            name="inlineRadioOptions" 
                            value="wips.view"><span> Manage Users</span>
                    </label><br />
                    <label class="" ng-class="{'checked' : adminCurrentUser.perms.admin.finance == '1'}">
                        <input ng-click="adminCurrentUser.perms.admin.finance == '1' ? adminCurrentUser.perms.admin.finance = '0' :  adminCurrentUser.perms.admin.finance = '1'"
                            ng-checked="adminCurrentUser.perms.admin.finance == '1'" 
                            class="form-check-input" 
                            type="checkbox" 
                            name="inlineRadioOptions" 
                            value="wips.update"><span> Manage Finance Data Import</span>
                    </label><br /> 
                    <label class="" ng-class="{'checked' : adminCurrentUser.perms.admin.locked == '1'}">
                        <input ng-click="adminCurrentUser.perms.admin.locked == '1' ? adminCurrentUser.perms.admin.locked = '0' :  adminCurrentUser.perms.admin.locked = '1'"
                            ng-checked="adminCurrentUser.perms.admin.locked == '1'" 
                            class="form-check-input" 
                            type="checkbox" 
                            name="inlineRadioOptions" 
                            value="wips.update"><span> Manage Locked WIPS</span>
                    </label><br /> 
                    <label class="" ng-class="{'checked' : adminCurrentUser.perms.admin.peoplesel == '1'}">
                        <input ng-click="adminCurrentUser.perms.admin.peoplesel == '1' ? adminCurrentUser.perms.admin.peoplesel = '0' :  adminCurrentUser.perms.admin.peoplesel = '1'"
                            ng-checked="adminCurrentUser.perms.admin.peoplesel == '1'" 
                            class="form-check-input" 
                            type="checkbox" 
                            name="inlineRadioOptions" 
                            value="wips.update"><span> Manage 'People' selection (dropdown) data</span>
                    </label>
                    
                </div>
            </div> 
            
            
            
            
             <div class="form-group row">
                <div class="col-xs-12 col-sm-4 col-lg-2 mylabel"><label for="job_title" class="col-form-label">Job Title:</label></div>
                <div class="col-xs-12 col-sm-8 col-lg-10">
                    <input class="form-control" maxlength="200" type="text" ng-model="adminCurrentUser.job_title" id="job_title">
                </div>
            </div> 
            
             <div class="form-group row">
                <div class="col-xs-12 col-sm-4 col-lg-2 mylabel"><label for="department" class="col-form-label">Department:</label></div>
                <div class="col-xs-12 col-sm-8 col-lg-10">
                    <input class="form-control" maxlength="200" type="text" ng-model="adminCurrentUser.department" id="department">
                </div>
            </div> 
            
             <div class="form-group row">
                <div class="col-xs-12 col-sm-4 col-lg-2 mylabel"><label for="location" class="col-form-label">Location:</label></div>
                <div class="col-xs-12 col-sm-8 col-lg-10">
                    <input class="form-control" maxlength="200" type="text" ng-model="adminCurrentUser.location" id="location">
                </div>
            </div> 
            
            <div class="form-group row" ng-if="adminCurrentUserID === 0">
                <div class="col-xs-12 col-sm-4 col-lg-2 mylabel"><label for="password" class="col-form-label">Password: *</label></div>
                <div class="col-xs-12 col-sm-8 col-lg-10">
                    <span class="input-group">  
                        <input class="form-control" placeholder="Enter or generate a new password" maxlength="50" type="text" ng-model="adminCurrentUser.password" id="password" required>
                        <span style="padding: 0; background-color: #fff;" class="input-group-addon" ng-click="generatePassword()"><span class="btn btn-default btn-sm" >Generate Password</span></span>
                       
                    </span>
                     <small id="passwordHelp" class="form-text text-muted">Make a note of the password - you may need to provided to the user later.</small>
                </div>
           </div> 
       
            <div class="form-group row">
                <label for="account_status" class="col-xs-12 col-sm-4 col-lg-2 mylabel"><label>Account Status:</label></label>
                <div class="col-xs-12 col-sm-8 col-lg-10 digital-select">
                    <span><label class="radio-inline"><input ng-checked="adminCurrentUser.status === '0'" ng-click="adminCurrentUser.status = 0" type="radio" name="optradio2"><span>Blocked</span></label> </span>
                     <span style="padding-left: 20px;"><label class="radio-inline"><input ng-checked="adminCurrentUser.status === '1'" ng-click="adminCurrentUser.status = 1" type="radio" name="optradio2"><span>Active</span></label> </span>
                     &nbsp;&nbsp;&nbsp;<small id="passwordHelp" class="form-text text-muted">Users will be unable to sign in until their account is activated.</small>
                </div>
            </div> 
         
            <div class="form-group row" style="margin-top: 40px;">
                <div class="col-xs-12 col-sm-4 col-md-2 mylabel"></div>
                <div class='col-xs-12 col-sm-4 col-md-5'><p id="passwordHelp" class="form-text text-muted"><small>* denotes mandatory field.</small></p></div>
                <div class="col-xs-12 col-sm-4 col-md-5 col-right">
                    <input ng-disabled="isFormDisabled();" type="submit" id="submit" class="btn btn-default  btn-sm btn-save" value="Save User Record" />
                    <span class="btn btn-default btn-sm btn-cancel" ng-click="back()">Cancel</span>
                </div>
            </div> 

        </form>
    
    </div>
        
        </div>
    
      
        
     </div>

   
 <!--   </div> -->

    
</div>
