<div ng-controller="AdminUsers" class="admin-users-list admin-users admin-page">
    
    <div class="row">
    
        <div class="col-xs-0 col-lg-0 col-xl-1"></div>
        
        <div class="col-xs-6 col-lg-6 col-xl-5">
            <h1>Manage Users: User list</h1>
        </div>
        
        <div class="col-xs-6 col-lg-6 col-xl-5 col-right" style="margin-top: 10px; margin-bottom: 10px;" > 
            <span ng-click="setLocationPath('admin/users/add');" class='btn btn-default btn-add'><span class='glyphicon glyphicon-plus'></span> Add User</span>
        </div>
                 
        <div class="col-xs-0 col-lg-0 col-xl-1"></div>
            
    </div>    

    <div class="row">

        <div class="col-xs-12">

            <div class="table" id="client-list">
                <div class="row header">
                    <div class="cell">Name</div>
                    <div class="cell hidden-xs">Email address</div>
                    <!--    <div class="cell">Location</div>
                       <div class="cell">Sector</div> -->
                    <div class="cell hidden-xs">Status</div>
                    <div class="cell hidden-xs">Role</div>
                    <div class="cell hidden-xs">WIPS Permissions</div>
                    <div class="cell hidden-xs">Production Permission</div>
                    <div class="cell hidden-xs">Admin Permissions</div>
                    
                    <div class="cell hidden-xs">Last Login</div>
                    <div class="cell hidden-xs">Login Count</div>
                    <div class="cell"></div>
                </div>

                <div ng-repeat="(key, data) in adminAllUsers" class="row" ng-class="{blocked: !data.status}">
                    <div class="cell">{{data.full_name}}</div>
                    <div class="cell hidden-xs">{{data.email_address}}</div>
                    <!--    <div class="cell">{{data.primary_location_name}}</div>
                        <div class="cell">{{data.primary_sector_name}}</div> -->
                    <div class="cell hidden-xs">{{data.status_name}}</div>
                    <div class="cell hidden-xs">{{data.user_type_name}}</div>
                    <div class="cell hidden-xs">
                        <span ng-if="data.perms.wips.view == '1'">- View<br /></span> 
                        <span ng-if="data.perms.wips.update == '1'">- Update/Edit<br /></span> 
                        <span ng-if="data.perms.wips.create == '1'">- Create/Add</span> 
                        <span ng-if="data.perms.wips.view == '0' && data.perms.wips.create == '0' && data.perms.wips.update == '0'">none</span> 
                    </div>
                    <div class="cell hidden-xs">
                        <span ng-if="data.perms.prod.view == '1'">- View<br /></span> 
                        <span ng-if="data.perms.prod.create == '1'">- Update/Create</span> 
                        <span ng-if="data.perms.prod.view == '0' && data.perms.prod.create == '0'">none</span> 
                    </div>
                    <div class="cell hidden-xs">
                        <span ng-if="data.perms.admin.users == '1'">- Manage Users<br /></span> 
                        <span ng-if="data.perms.admin.finance == '1'">- Manage Finance Import<br /></span> 
                        <span ng-if="data.perms.admin.locked == '1'">- Manage Locked WIPS<br /></span> 
                        <span ng-if="data.perms.admin.peoplesel == '1'">- Manage 'people' data</span> 
                        <span ng-if="data.perms.admin.users == '0' && 
                                    data.perms.admin.finance == '0' && 
                                    data.perms.admin.locked == '0' && 
                                    data.perms.admin.peoplesel == '0'">none</span> 
                    </div>
                    <div class="cell hidden-xs">{{data.last_login_formatted}}</div>
                    <div class="cell hidden-xs">{{data.login_count}}</div>
                    <div class="cell" style='text-align: right;'>

                        <span class='btn btn-default btn-sm btn-password' ng-click="changeAdminView('view'); setLocationPath('admin/users/password/' + data.urid);">Reset User Password</span>

                        <span class='btn btn-default btn-sm btn-view' ng-click="changeAdminView('view'); setLocationPath('admin/users/view/' + data.urid);">View User</span>

                        <span class='btn btn-default btn-sm btn-edit' ng-click="changeAdminView('edit'); setLocationPath('admin/users/edit/' + data.urid);">Edit User</span>

                        <!-- <span ng-controller="AdminUsers" class='btn btn-default btn-sm btn-delete' ng-click="confirmDeleteUser(data.urid);">Delete User</span> -->

                    </div>
                </div>
            </div>
        </div>
       
    </div>

</div>