<div ng-controller="AdminLockedWips" class="admin-locked admin-page">
    
    <div class="row">
    
        <div class="col-xs-0 col-lg-0 col-xl-1"></div>
        
        <div class="col-xs-6 col-lg-6 col-xl-5">
            <h1>Manage Locked WIPs records</h1>
        </div>
        
        <div class="col-xs-6 col-lg-6 col-xl-5 col-right" style="margin-top: 10px; margin-bottom: 10px;" > 
            <span ng-if="lockedWipsList.length > 0" ng-click="unlockAllWipsRecords()" class='btn btn-default'>Unlock All</span>
        </div>
                 
        <div class="col-xs-0 col-lg-0 col-xl-1"></div>
            
    </div>    

    <div class="row">

        <div class="col-xs-12">
          
            <p ng-if="lockedWipsList.length == 0">No locked records currently</p>
            
            
            <div class="table" id="client-list" ng-if="lockedWipsList.length > 0">
                <div class="row header">
                    <div class="cell">Job No.</div>
                    <div class="cell">Client</div>
                    <div class="cell">Job Title</div>
                    <div class="cell">Locked by</div>
                    <div class="cell">Locked when</div>
                    <div class="cell"></div>
                </div>

                <div ng-repeat="(key, data) in lockedWipsList" class="row">
                    <div class="cell">{{data.locked_wips_record.number}}</div>
                    <div class="cell">{{data.locked_wips_record.client}}</div>
                    <div class="cell">{{data.locked_wips_record.title}}</div>
                    <div class="cell">{{data.locked_by_name}}</div>
                  
                    <div class="cell">{{data.locked_on_formatted}} ({{data.locked_on_time_ago}})</div>
                    <div class="cell" style='text-align: right;'>
                         <span class='btn btn-default btn-sm btn-password' ng-click="unlockWipsRecord(data.locked_pjid)">Unlock</span>
                    </div>
                </div>
            </div>
        </div>
       
    </div>


</div>