<div id="production-menu">
    
     <ul class="nav nav-tabs main-tabs">
        <li ng-class="{'active' : pageDisplay=='production-active'}">
            <a ng-click="setLocationPath('production/active')">Active Jobs</a>
        </li> 
        <li ng-class="{'active' : pageDisplay=='production-closed'}">
            <a ng-click="setLocationPath('production/closed')">Closed Jobs</a>
        </li> 
        <li ng-class="{'active' : pageDisplay=='production-add' || pageDisplay == 'production-add-record'}">
            <a ng-click="setLocationPath('production/add')">+ Search/Add a Production Job</a>
        </li>
        
    <!--    <li class='hideshow' ng-if="pageDisplay == 'production-active'">
            <span class='' ng-click="toggleProdDisplayControlPanelClosed()">
               Filters <span ng-if='prodDisplayControlPanelClosed == true' class='glyphicon glyphicon-chevron-down'></span><span ng-if='prodDisplayControlPanelClosed == false' class='glyphicon glyphicon-chevron-up'></span></span>
        </li> -->
        
        <li ng-if="pageDisplay == 'production-active'" id="report-3" class="report">
            <a ng-click="report3()"><span class="glyphicon glyphicon-stats"></span> Creative Partner Summary</a>
        </li>
        
        <li ng-if="pageDisplay == 'production-active'" id="report-2" class="report">
            <a ng-click="report2()"><span class="glyphicon glyphicon-stats"></span> Jobs by Type Summary</a>
        </li>
        
        <li ng-if="pageDisplay == 'production-active'" id="report-1" class="report">
            <a ng-click="report1()"><span class="glyphicon glyphicon-stats"></span> Producer Summary</a>
        </li>
         
        
    </ul>
    
    <ul class="nav nav-tabs  main-tabs" ng-if="pageDisplay == 'production-active'">
        <li class='hideshow'>
            <span class='' ng-click="toggleProdDisplayControlPanelClosed()">
               Filters <span ng-if='prodDisplayControlPanelClosed == true' class='glyphicon glyphicon-chevron-down'></span><span ng-if='prodDisplayControlPanelClosed == false' class='glyphicon glyphicon-chevron-up'></span></span>
        </li>
    </ul>
    
</div>