<div class="row production production-add" id='job-search-page'  ng-controller="ProductionController">
    
     
        
    <div class="col-xs-0 col-lg-0 col-xl-1"></div>

    <div class="col-xs-12 col-lg-12 col-xl-10"> 

        <h1>Search/Add a Production Job</h1> 

      <!--  <hr /> -->
      <div class='data-container'>

        <div class="job-info">  
            <form class="row search-form form-inline">
                <label class="col-xs-12">Search for open jobs to add/update Production records:</label>
                <!-- ng-keyup="prodSearchString.length > 2 ? prodSearchJobs() : prodResetJobList()" -->
                <div class="col-xs-12">
                  <input ng-model="prodSearchString" 
                    class="form-control" 
                    size="60" 
                    placeholder="Enter job number or name to search" 
                    maxlength="40" 
                    type="text" 
                    id="prodjobsearch"
                    ng-model-options="{ debounce: 800 }"
                    autocomplete="off"> 
                   <!-- <input ng-model="prodSearchString" class="form-control" size="60" placeholder="Enter job number or name to search" ng-required=true  maxlength="40" type="text" id="prodjobsearch" required> -->
                
                    <span ng-disabled="prodSearchString.length === 0" class="btn btn-default" ng-click="prodSearchString = ''; prodResetJobList()">Clear</span>
                </div>
                <div class="col-xs-1"></div>
            </form>
            
        </div>
      </div>
      
      <div class='data-container' ng-if="prodSearchString.length > 2">
          
        <!--<pre>{{prodJobsList | json}}</pre>-->

          <div class="job-results"> 
                
              <p ng-if="prodSearchString.length > 2 && prodJobsList.length < 50"><strong>{{prodJobsList.length}} records found.</strong><br /><small>Note: highlighted items have current production records</small></p>
              <p ng-if="prodSearchString.length > 2 && prodJobsList.length == 50"><strong>First 50 records matching your search below, please refine your search if your job is not displayed.</strong><br /><small>Note: highlighted items have current production records</small></p>

        <!--    <div class='parent-key' ng-if="prodJobsList.length > 0" >
                <span class="badge parent-badge">P</span> Indicates this is a parent job
            </div> -->
        
            <div ng-if="prodJobsList.length > 0" class="table" id="job-selection">

                <div class="row header" ng-show="prodJobsList.length > 0">
                    <div class="cell">Job No.</div>
                <!--    <div class="cell">Parent Job No.</div> -->
                    <div class="cell">Project</div>
                    <div class="cell">Job Type</div>
                    <div class="cell">Client</div>
                    <div class="cell">Brand</div>
                    <div class="cell">Sector</div>
                    <div class="cell">Account Handler</div>
                    <div class="cell textleft">Production Records</div>
                </div>

                <div ng-repeat="(key, data) in prodJobsList" class="row" ng-class="{'existing': data.prod_records.length > 0, 'closed' : data.cancelled && data.prod_records.length == 0}">
                  <!--  <div class="cell nglink" ng-click="viewJob(data.id)">
                        {{data.number}} <span title="Parent Job" data-toggle="tooltip" data-placement="right" tooltip ng-if="data.number == data.parent_number" class="badge parent-badge">P</span>
                    </div> -->
                  <div class="cell" ng-bind-html="data.job_number_display"></div> 
                   
                 <!-- <div class="cell">
                        {{data.number}} <span title="Parent Job" data-toggle="tooltip" data-placement="right" tooltip ng-if="data.number == data.parent_number" class="badge parent-badge">P</span>
                    </div>-->
                <!--    <div class="cell">{{data.parent_number}}</div> -->
                    <div class="cell">
                        {{data.title}}
                        <!-- PS removed display of legacy data 07/07/20
                        <span ng-if="data.title_leg"><br />{{data.title_leg}} [Legacy job name]</span>
                        -->
                    </div>
                    <!--<div class="cell">{{data.type}}</div>-->
                     <div class="cell">{{data.job_type}}</div>
                    <div class="cell"><strong>{{data.client}}</strong></div>
                    <div class="cell">{{data.brand}}</div>
                    <div class="cell">
                        <!--<span class="badge badge-pill badge-default badge-sector badge-sector-{{data.sector_id}}">{{data.sector}}<span> -->
                        <span class="badge badge-pill badge-default badge-sector badge-sector-{{data.job_sector_raw}}">{{data.job_sector}}<span>
                    </div>
                    <div class="cell">{{data.account_handler}}</div>
                    <div class="cell cell-actions textleft">
                        <span class="debug">CAPI JID={{data.id}} / PJID={{data.parent_jobs_id}}<br /></span>
                        
                         <span ng-if="data.prod_records.length > 0" ng-repeat="(key, value) in data.prod_records track by $index">
                            <span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;<strong>{{value.types_names_string}}</strong>
                            &nbsp;<span ng-if="user.perms.prod.create == 1" class='action-link' ng-click="setLocationPath('production/update-record/' + value.pr_pid)">UPDATE<span class="glyphicon glyphicon-chevron-right"></span></span>
                            &nbsp;<span ng-if="user.perms.prod.view == 1" class='action-link' ng-click='viewProd(data.parent_jobs_id, value.pr_pid)'>VIEW<span class="glyphicon glyphicon-chevron-right"></span></span><br /></span>
                   
                        <span ng-if="user.perms.prod.create == 1 && !data.cancelled" class='action-link action-link-add' ng-click="setLocationPath('production/add-record/' + data.parent_jobs_id + '/' + data.id)">ADD New Production Record <span class="glyphicon glyphicon-chevron-right"></span></span>
                        <span ng-if="user.perms.prod.create == 1 && data.cancelled" class='action-closed'>CLOSED IN ALTAIR</span>
                           

                    </div>
                </div>
            </div>
        
        </div>
       
    </div>

    <div class="col-xs-0 col-lg-0 col-xl-1"></div>
    
        
        
</div>