<div class="row production production-add" id="edit-create-wip">
    
    <div class="col-xs-0 col-lg-1 col-xl-1"></div>

    <div class="col-xs-12 col-lg-10 col-xl-10"> 

        <h1 ng-if="productionForm.records == 0">Add {{productionForm.jobNumberShorthand}} - {{productionForm.projectTitle}}</h1> 
        <h1 ng-if="productionForm.records > 0">Update {{productionForm.jobNumberShorthand}} - {{productionForm.projectTitle}}: {{productionForm.types_name_string}}</h1> 
     <!--{{productionForm}}-->
        <div class='data-container'>

            <div class="job-info">  
                
                <!-- SECTION 1 - the NON editable main job data -->
                <!-- client -->
                <!-- brand -->
                <!-- job no. -->
                <!-- parent job no. if applicable --> 
                <!-- project title -->
                <!-- digital? -->
                <!-- type -->
                <!-- sector -->
                <!-- account handler -->
                <!-- child jobs -->
                
                 <h3>Job Info</h3>

                <!--<div class="row">  
                    <div class="col-xs-2"><span class='mylabel'>Job No.:</span></div><div class="col-xs-4">{{productionForm.jobNumber}}
                        <span ng-if="productionForm.isParent" class="badge parent-badge">P</span></div>
                    <div class="col-xs-2"><span class='mylabel'>Parent Job No.:</span></div><div class="col-xs-4">{{productionForm.parentJobNumber ? productionForm.parentJobNumber : 'n/a'}}</strong></div>
                </div>  -->
                
                <div class="row">  
                            <div class="col-xs-2"><span class='mylabel'>Job Numbers:</span></div>
                            <div class="col-xs-10"><span ng-bind-html="productionForm.currentJobNumberDisplay"></span></div>

                        </div>

                <div class="row">  
                    <div class="col-xs-2"><span class='mylabel'>Project:</span></div><div class="col-xs-10">{{productionForm.projectTitle}}</div>
                </div>

                <div class="row">  
                    <div class="col-xs-2"><span class='mylabel'>Client:</span></div><div class="col-xs-4"><strong>{{productionForm.clientCode}}</strong></div>
                    <div class="col-xs-2"><span class='mylabel'>Type:</span></div><div class="col-xs-4">{{productionForm.projectType}}</div>
                </div>

                <div class="row">  
                    <div class="col-xs-2"><span class='mylabel'>Brand:</span></div><div class="col-xs-4">{{productionForm.clientBrand}}</div>
                    <div class="col-xs-2"><span class='mylabel'>Sector:</span></div><div class="col-xs-4"><strong>{{productionForm.clientSector}}</strong></div>
                </div>

                <div class="row">  
                    <div class="col-xs-2"><span class='mylabel'>Lead Account Handler:</span></div><div class="col-xs-4">{{productionForm.leadAccountHandler}}</div>
                    <div class="col-xs-2"><span class='mylabel'>Digital:</span></div><div class="col-xs-4">{{productionForm.projectDigitalRaw == 1 ? 'YES' : 'NO'}} {{productionForm.legacyData}}</div>
                </div>

                <!-- PS removed display of legacy data 07/07/20
                <span ng-if="productionForm.legacyData">
                            
                    <hr />
                    
                    <h3>Legacy Data</h3>
                    
                    <div class="row">  
                    
                        <div class="col-xs-2"><span class='mylabel'>Legacy Job Numbers:</span></div><div class="col-xs-4" ng-bind-html="productionForm.legacyJobNumberDisplay ? productionForm.legacyJobNumberDisplay : 'n/a'"></div>
                        <div class="col-xs-2"><span class='mylabel'>Legacy Job Name:</span></div><div class="col-xs-4">{{productionForm.legacyJobName ? productionForm.legacyJobName : 'n/a'}}</div>
                    
                    </div>

                </span>
                -->

                 <!-- ESTIMATES AND PROJECT LEADS ON HOLD 
                <hr />
                        
                        <h3>Project Team</h3>
                       
                        
                        <p class="last-updated" ng-if="productionForm.projectTeam.date_added > 0">Project team data last updated {{productionForm.projectTeam.date_added_f}} by {{productionForm.projectTeam.added_by_name}}.</p>
                        
                        <p class="last-updated" ng-if="productionForm.projectTeam.date_added == 0">No project team data currently available for this project.</p>
                     
                        <div ng-if="productionForm.projectTeam.date_added > 0">
                        
                            <div class="row">     
                                
                                <div class="col-xs-6 col-md-2"><span class='mylabel'>Project Manager:</span></div>
                                <div class="col-xs-6 col-md-4">{{productionForm.projectTeam.pm_name ? productionForm.projectTeam.pm_name : '-'}}</div>
                                
                                <div class="col-xs-6 col-md-2"><span class='mylabel'>Creative Lead:</span></div>
                                <div class="col-xs-6 col-md-4">{{productionForm.projectTeam.creative1_name ? productionForm.projectTeam.creative1_name : '-'}}</div>
                            </div>
                            
                            <div class="row">      
                                <div class="col-xs-6 col-md-2"><span class='mylabel'>Account Handler:</span></div>
                                <div class="col-xs-6 col-md-4">{{productionForm.projectTeam.ah_name ? productionForm.projectTeam.ah_name : '-'}}</div>
                                
                                <div class="col-xs-6 col-md-2"><span class='mylabel'>Second Creative Lead:</span></div>
                                <div class="col-xs-6 col-md-4">{{productionForm.projectTeam.creative2_name ? productionForm.projectTeam.creative2_name : '-'}}</div>
                            </div>
                            
                            <div class="row">      
                                <div class="col-xs-6 col-md-2"><span class='mylabel'>Strategy:</span></div>
                                <div class="col-xs-6 col-md-4">{{productionForm.projectTeam.strategy_name ? productionForm.projectTeam.strategy_name : '-'}}</div>
                                
                                <div class="col-xs-6 col-md-2"></div>
                                <div class="col-xs-6 col-md-4" style='text-align:left'></div>
                            </div>
                            
                        </div>
                    ESTIMATES AND PROJECT LEADS ON HOLD -->


            </div>
            
        </div>
        
        <div class='data-container'>    

            <div class="production-form wips-form"> 

                <h3 ng-if="productionForm.records == 0">Add Production Record</h3>
                <h3 ng-if="productionForm.records > 0">Update Production Record</h3>
        
                <p ng-if="productionForm.records > 0" class="last-updated">Last updated on {{productionForm.lastUpdated}} by {{productionForm.lastUpdatedBy}}.</p>

                <form id="production-create">
                    
                    <!-- production type -->
                    <div class="row stages-row">
                        
                        <label class='col-xs-12' for="status.select">Production Type *</label>
                  
                        <div class='col-xs-12' id="production-type-checks">
                            <span  ng-repeat="(key, value) in productionTypes">
                                <label class="flag-stage{{value.key}}" ng-class="{'checked' : productionForm.type.indexOf(value.id) > -1}">
                                    <input
                                        ng-click="toggleProductionType(value.id)"
                                        ng-checked="productionForm.type.indexOf(value.id) > -1" 
                                        class="form-check-input" 
                                        type="checkbox" 
                                        name="inlineRadioOptions" 
                                        value="{{value.id}}"><span> {{value.type}}</span>
                                </label>
                            </span>
                        </div>
                    </div>
                    
                    <!-- description -->
                    <div class="row">
                        <div class="col-xs-12 description-row">
                            <label for="description.textarea">Description/Requirements/Timings <span class="text-muted" id="desriptionInstruction">[Max. 1000 characters]</span></label>
                            <textarea maxlength="1000" class="form-control" id="description.textarea" ng-model="productionForm.description" rows="4"></textarea>
                        </div>
                    </div>
                    
                    <hr />
                    
                    <!-- stage and notes -->
                    <div class="row">

                        <div class="col-xs-4 form-group">
                            <label for="client-input">Stage *</label>
                            <select ng-class="{'unselected' : productionForm.stage == 0}" class="form-control" id="productionStage" ng-model='productionForm.stage'>
                                <option value="0" class="select-instruction">Select Stage</option>
                                <option ng-repeat="(key, value) in productionStages track by $index" value="{{value.id}}">{{value.stage}}</option>
                            </select>
                        </div>

                        <div class="col-xs-8"></div>
                    </div>
                    
                    <!-- status notes -->
                    <div class="row">
                         <div class="col-xs-12 form-group">
                            <label for="stageNotes.textarea">Stage/Status Notes <span class="text-muted" id="desriptionInstruction">[Max. 500 characters]</span></label>
                           <textarea maxlength="500" class="form-control" id="stageNotes.textarea" ng-model="productionForm.stageNotes" rows="2"></textarea>
                        </div>
                    </div>
                    
                    <!-- deadline -->
                    <div class="row">

                        <div class="col-xs-3">
                            <label for="deadline-input">Deadline <small class="text-muted">[Leave blank if unknown or tbc]</small></label>
                            <input data-toggle="datepicker" class="form-control" type="text" id="deadline-input" ng-model="productionForm.deadline">
                        </div>

                    </div>

                    <hr />
                    
                    <!-- budget, costs and hours -->
                    <div class="row">

                        <div class="col-xs-4 form-group">
                            <label for="budget-input">Agreed Budget GBP (before markup)</label>
                            <input class="form-control" type="number" id="budget-input" ng-model="productionForm.agreedBudget">
                        </div>
                        
                        <div class="col-xs-4 form-group">
                            <label for="costs-input">Negotiated Costs GBP</label>
                            <input class="form-control" type="number" id="costs-input" ng-model="productionForm.negotiatedCosts">
                        </div>
                        
                        <div class="col-xs-4 form-group">
                            <label for="hours-input">Producer Hours</label>
                            <input class="form-control" type="number" id="hours-input" ng-model="productionForm.producerHours">
                        </div>

                    </div>
                    
                    <!-- partner and talent -->
                    <!-- stage and notes -->
                    <div class="row">
                        <div class="col-xs-6 xform-group">
                            <label for="client-input">Creative Partner </label>
                            <select ng-class="{'unselected' : productionForm.creativePartnerID == 0}" class="form-control" id="productionPartner" ng-model='productionForm.creativePartnerID'>
                                <option value="0" class="select-instruction">Select Creative Partner</option>
                                <option ng-repeat="(key, value) in productionPartners track by $index" value="{{value.id}}">{{value.partner}}</option>
                            </select>
                       </div>
                   
                        <div class="col-xs-6 xform-group">
                            <label for="talent-input" ng-class="{'label-muted' : productionForm.creativePartnerID != 106}">New Creative Partner</label>
                            <input ng-disabled="productionForm.creativePartnerID != 106" class="form-control" type="text" id="talent-input" ng-model="productionForm.creativePartnerOther">
                        </div>
                        
                        <div class="col-xs-12 form-group">
                            <span class="text-muted" id="desriptionInstruction">If your Creative Partner is not in the list then select <strong>Other</strong> and enter into the <strong>New Creative Partner</strong> form field.</span>
                            
                        </div>
                        
                    </div> 
                    
                    <div class="row">    
                        <div class="col-xs-8 form-group">
                            <label for="talent-input">Talent</label>
                            <input class="form-control" type="text" id="talent-input" ng-model="productionForm.talent">
                        </div>
                    </div> 
                    
                    
                    <div class="row">
                        
                        <div class="col-xs-3 form-group">
                            <label class="radio-parent">NDA Signed</label>
                        </div>    
                        <div class="col-xs-9 form-group">    
                            <label class="radio-child" ng-class="{'radio-selected-label' : productionForm.nda == '1'}">
                                <input ng-model="productionForm.nda" class="form-check-input" type="radio" name="inlineRadioOptions" value="1"><span>YES</span>
                            </label>
                            <label class="radio-child" ng-class="{'radio-selected-label' : productionForm.nda == '0'}">
                                <input ng-model="productionForm.nda"  class="form-check-input" type="radio" name="inlineRadioOptions" value="0"><span>NO</span>
                            </label>
                    
                        </div>        
                        
                        <div class="col-xs-3 form-group">
                            <label class="radio-parent">Usage form completed</label>
                        </div>
                        <div class="col-xs-9 form-group">
                            <label class="radio-child" ng-class="{'radio-selected-label' : productionForm.usageForm == '1'}">
                                <input ng-model="productionForm.usageForm" class="form-check-input" type="radio" name="inlineRadioOptions2" value="1"><span>YES</span>
                            </label>
                            <label class="radio-child" ng-class="{'radio-selected-label' : productionForm.usageForm == '0'}">
                                <input ng-model="productionForm.usageForm"  class="form-check-input" type="radio" name="inlineRadioOptions2" value="0"><span>NO</span>
                            </label>
                      
                        </div>        
                    
                        <div class="col-xs-8">
                            <label for="budget-input">File Directory Path <span class="text-muted" id="desriptionInstruction">[Internal file server path to directory containing relevant job production documents]</span></label>
                            <input class="form-control" type="text" id="file-directory-path" ng-model="productionForm.fileDirectoryPath">
                        </div>
                        
                        <div class="col-xs-4"></div>
                        
                    </div>
                    <hr />
                    
                    <!-- producers -->
                    <div class="row">

                        <div class="col-xs-6 form-group">
                            <label for="client-input">Lead Producer *</label>
                            <select ng-class="{'unselected' : productionForm.leadProducer == 0}" class="form-control" id="leadProducer" ng-model='productionForm.leadProducer'>
                                <option value="0" class="select-instruction">Select Lead Producer</option>
                                <option ng-repeat="(key, value) in allActivePersons.producer track by $index" value="{{value.id}}">{{value.name}}</option>
                            </select>
                        </div>

                        <div class="col-xs-0"></div>

                        <div class="col-xs-6 form-group">
                            <label for="client-input">Support Producer</label>
                            <select ng-class="{'unselected' : productionForm.supportProducer == 0}" class="form-control" id="supportProducer" ng-model='productionForm.supportProducer'>
                                <option value="0" class="select-instruction">Select Lead Producer</option>
                                <option ng-repeat="(key, value) in allActivePersons.producer track by $index" value="{{value.id}}">{{value.name}}</option>
                            </select>
                        </div>

                        <div class="col-xs-0"></div>

                       
                    </div>
                    
                    <!-- lead a/h and creative -->  
                    <div class="row">


                        <div class="col-xs-6">
                            <label for="leadah-input">Lead Account Handler</label>
                            <select ng-class="{'unselected' : productionForm.leadAccountHandlerID == 0}" class="form-control" id="leadah-input" ng-model='productionForm.leadAccountHandlerID'>
                                <option value="0" class="select-instruction">Select Lead Account Handler</option>
                                <option ng-repeat="(key, value) in allActivePersons.account_handler track by $index" value="{{value.id}}">{{value.name}}</option>
                            </select>
                        </div>

                        <div class="col-xs-0"></div>

                        <div class="col-xs-6">
                            <label for="leadcreative-input">Lead Creative</label>
                            <select ng-class="{'unselected' : productionForm.leadCreativeID == 0}" class="form-control" id="leadcreative-input" ng-model='productionForm.leadCreativeID'>
                                <option value="0" class="select-instruction">Select Lead Creative</option>
                                <option ng-repeat="(key, value) in allActivePersons.creative track by $index" value="{{value.id}}">{{value.name}}</option>
                            </select>
                        </div>

                        <div class="col-xs-0"></div>
                    </div>

                     <hr />
                       <!-- priority -->
                    <div class="row">
                        
                        <div class="col-xs-2">
                            <label class="radio-parent">Priority Job</label>
                        </div>    
                        <div class="col-xs-10">    
                            <label class="radio-child" ng-class="{'radio-selected-label' : productionForm.priorityJob == '1'}">
                                <input ng-model="productionForm.priorityJob" class="form-check-input" type="radio" name="inlineRadioOptions3" value="1"><span>YES</span>
                            </label>
                            <label class="radio-child" ng-class="{'radio-selected-label' : productionForm.priorityJob == '0'}">
                                <input ng-model="productionForm.priorityJob"  class="form-check-input" type="radio" name="inlineRadioOptions3" value="0"><span>NO</span>
                            </label>
                        </div>           
                       
                    </div>  
                
                    <hr />
                    
                     <div class="form-group row">
                        <div class="col-xs-2 textleft">
                           
                        </div>
                        <div class="col-xs-10 textright">
                            <p ng-show='isProductionFormDisabled();' style='padding-right: 10px;'><small>You must select Lead Producer, Production Type, Stage and New Creative Partner (if Other Selected).<!-- and enter Agreed Budget--> before you can Save.</small></p>
                            <input  ng-click="saveProductionRecord();" ng-disabled="isProductionFormDisabled();" type="submit" id="submit" class="btn btn-default btn-sumbit" value="Save" />
                            <button ng-click="back()" class="btn btn-default btn-cancel">Cancel</button>
                        </div>
                    </div>
                    
                </form>
                
            </div>
                
        </div>
                
    </div>
    
    <div class="col-xs-0 col-lg-1 col-xl-1"></div>
    
</div>