<div class="control-panel-container" id="control-panel-filters" ng-show="prodDisplayControlPanelClosed == false">

   <!-- ng-class="{'closed' : prodDisplayControlPanelClosed == true} -->
    
    <div id="filter-tabs">
        
        <!-- lead producer select tab -->
        <span id="lead-producer-select" 
              ng-click="toggleProdFilterTabOpen('lead-producer')"
              click-outside="closeProdFilterTab('lead-producer')"
              class="filter-tab"
              ng-class="{'selected': prodFilterTabOpen == 'lead-producer'}">Lead Producer <div class="glyphicon" ng-class="prodFilterTabOpen == 'lead-producer' ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></div>
        </span>
        
        <!-- lead producer select block -->
        <div id="lead-producer-select-block" class="filter-selects" ng-class="{'open': prodFilterTabOpen == 'lead-producer'}">
            <div class="filter-list-item" ng-if="value.name != null && value.name != ''"  ng-repeat="(key, value) in allActivePersons.producer track by $index" id="lead-producer{{value.id}}" ng-click='toggleProdFilters("lead_producers", value.id)' ng-class="{'selected' : prodFilters.lead_producers.indexOf(value.id) > -1}">
                <span class="filter-list-item-name">{{value.name}}</span>
                <span ng-if="prodFilters.lead_producers.indexOf(value.id) > -1" class="glyphicon glyphicon-remove"></span>
            </div>
        </div>
         
        <!-- -->   
         
        <!-- support producer select tab -->
        <span id="support-producer-select" 
              ng-click="toggleProdFilterTabOpen('support-producer')"
              click-outside="closeProdFilterTab('support-producer')"
              class="filter-tab"
              ng-class="{'selected': prodFilterTabOpen == 'support-producer'}">Support Producer <div class="glyphicon" ng-class="prodFilterTabOpen == 'support-producer' ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></div>
        </span>
         
        <!-- support producer  select block -->
        <div id="support-producer-select-block" class="filter-selects" ng-class="{'open': prodFilterTabOpen == 'support-producer'}">
            <div class="filter-list-item" ng-if="value.name != null && value.name != ''"  ng-repeat="(key, value) in allActivePersons.producer track by $index" id="support-producer{{value.id}}" ng-click='toggleProdFilters("support_producers", value.id)' ng-class="{'selected' : prodFilters.support_producers.indexOf(value.id) > -1}">
                <span class="filter-list-item-name">{{value.name}}</span>
                <span ng-if="prodFilters.support_producers.indexOf(value.id) > -1" class="glyphicon glyphicon-remove"></span>
            </div>
        </div>
        
        <!-- --> 
         
        <!-- production type select tab -->
        <span id="production-type-select" 
              ng-click="toggleProdFilterTabOpen('production-type')"
              click-outside="closeProdFilterTab('production-type')"
              class="filter-tab"
              ng-class="{'selected': prodFilterTabOpen == 'production-type'}">Production Type <div class="glyphicon" ng-class="prodFilterTabOpen == 'production-type' ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></div>
        </span>
        
        <!-- production type select block -->
        <div id="production-type-select-block" class="filter-selects" ng-class="{'open': prodFilterTabOpen == 'production-type'}">
            <div class="filter-list-item" ng-if="value.type != null && value.type != ''"  ng-repeat="(key, value) in productionTypes track by $index" id="production-type{{value.id}}" ng-click='toggleProdFilters("production_types", value.id)' ng-class="{'selected' : prodFilters.production_types.indexOf(value.id) > -1}">
                <span class="filter-list-item-name">{{value.type}}</span>
                <span ng-if="prodFilters.production_types.indexOf(value.id) > -1" class="glyphicon glyphicon-remove"></span>
            </div>
        </div>
         
        <!-- production other select tab -->
        <span id="production-other-select" 
              ng-click="toggleProdFilterTabOpen('production-other')"
              click-outside="closeProdFilterTab('production-other')"
              class="filter-tab"
              ng-class="{'selected': prodFilterTabOpen == 'production-other'}">Other <div class="glyphicon" ng-class="prodFilterTabOpen == 'production-other' ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></div>
        </span>
        
        <!-- --> 
        
        <!-- other select block -->
        <div id="production-other-select-block" class="filter-selects" ng-class="{'open': prodFilterTabOpen == 'production-other'}">
            
            <!-- priority jobs only -->    
            <div class="filter-list-item"  id="priority-jobs" ng-click='toggleFilterPriorityJobs();' ng-class="{'selected' : prodFilters.priority_jobs == true}">
                <span>Only Show Priority Jobs</span>
                <span ng-if="prodFilters.priority_jobs == true" class="glyphicon glyphicon-remove"></span>
            </div>
        
        </div>
         
    
    </div>
    
    <div id="filters-selected">
        
        
        
        <span class='badge badge-lead-producers' ng-repeat="(key, value) in prodFilters.lead_producers">Lead Producer: {{getObjValueByKey(allActivePersons.producer, 'id', value, 'name')}} <span ng-click='toggleProdFilters("lead_producers", value)' class="glyphicon glyphicon-remove"></span></span>

        <span class='badge badge-support-producers' ng-repeat="(key, value) in prodFilters.support_producers">Support Producer: {{getObjValueByKey(allActivePersons.producer, 'id', value, 'name')}} <span ng-click='toggleProdFilters("support_producers", value)' class="glyphicon glyphicon-remove"></span></span>

        <span class='badge badge-production_type' ng-repeat="(key, value) in prodFilters.production_types">Production Type: {{getObjValueByKey(productionTypes, 'id', value, 'type')}} <span ng-click='toggleProdFilters("production_types", value)' class="glyphicon glyphicon-remove"></span></span>

        <span class='badge badge-priority_job' ng-if="prodFilters.priority_jobs == true">Only Showing Priority Jobs <span ng-click='toggleFilterPriorityJobs();' class="glyphicon glyphicon-remove"></span></span>

        
    </div>
    
    <!-- view options and actions -->
    <div id="view-actions">
        
        <div class="records-count"> 
            
            <strong>{{prodRecordsList.length}}</strong> record{{prodRecordsList.length > 1 || prodRecordsList.length == 0 ? 's' : ''}} returned <span class="pipe-spacer">|</span>
            Ordered by <strong>{{prodColsLabels[prodOrderColumn]}} ({{prodOrderOrder}})</strong>
        </div>

        <div class="view-options"> 
            <span class='action' id='create-pdf' ng-click="generateProdPDF();">Create PDF</span><span class="pipe-spacer">|</span>
            <span class='action' id='clear-settings' ng-click="resetProdFilters();">Clear filters/settings</span>
        </div>
        
    </div>
    
</div>