<div class="production production-table">
     
    <div production-filters ng-if="pageDisplay == 'production-active'"></div>
    
    <div ng-if="pageDisplay == 'production-closed'">
        <p style="padding-top: 10px;">This table includes jobs with status <strong>Completed</strong> or <strong>Cancelled</strong>.</p>
    </div>
    
    <div class="table" id="production-records">
        
        <div class="row header">
             
            <div class="cell">
                <div class="col-title">Client</div>
                <div class="col-order nowrap">
                    <span class="glyphicon glyphicon-chevron-up"  ng-click="sortProdData('client', 'asc', false)" ng-class="{'selected' : prodOrderColumn == 'client' && prodOrderOrder == 'asc'}"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-click="sortProdData('client', 'desc', false)" ng-class="{'selected' : prodOrderColumn == 'client' && prodOrderOrder == 'desc'}"></span>
                </div>
            </div>
        
            <div class="cell">
                <div class="col-title">Sector</div>
                <div class="col-order nowrap">
                    <span class="glyphicon glyphicon-chevron-up"  ng-click="sortProdData('job_sector', 'asc', false)" ng-class="{'selected' : prodOrderColumn == 'job_sector' && prodOrderOrder == 'asc'}"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-click="sortProdData('job_sector', 'desc', false)" ng-class="{'selected' : prodOrderColumn == 'job_sector' && prodOrderOrder == 'desc'}"></span>
                </div>
            </div>
        
            <div class="cell">
                <div class="col-title">Job No.</div>
                <div class="col-order nowrap">
                    <span class="glyphicon glyphicon-chevron-up"  ng-click="sortProdData('job_number_display_raw_inline', 'asc', false)" ng-class="{'selected' : prodOrderColumn == 'number' && prodOrderOrder == 'asc'}"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-click="sortProdData('job_number_display_raw_inline', 'desc', false)" ng-class="{'selected' : prodOrderColumn == 'number' && prodOrderOrder == 'desc'}"></span>
                </div>
            </div>
            
            <div class="cell">
                <div class="col-title">Job Type</div>
                <div class="col-order nowrap">
                    <span class="glyphicon glyphicon-chevron-up"  ng-click="sortProdData('job_type', 'asc', false)" ng-class="{'selected' : prodOrderColumn == 'job_type' && prodOrderOrder == 'asc'}"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-click="sortProdData('job_type', 'desc', false)" ng-class="{'selected' : prodOrderColumn == 'job_type' && prodOrderOrder == 'desc'}"></span>
                </div>
            </div>
            
            <div class="cell">
                <div class="col-title">Project</div>
                <div class="col-order nowrap">
                    <span class="glyphicon glyphicon-chevron-up"  ng-click="sortProdData('title', 'asc', false)" ng-class="{'selected' : prodOrderColumn == 'title' && prodOrderOrder == 'asc'}"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-click="sortProdData('title', 'desc', false)" ng-class="{'selected' : prodOrderColumn == 'title' && prodOrderOrder == 'desc'}"></span>
                </div>
            </div>
            
            <div class="cell">
                <div class="col-title">Production Type</div>
                <div class="col-order nowrap">
                    <span class="glyphicon glyphicon-chevron-up"  ng-click="sortProdData('types_names_string', 'asc', false)" ng-class="{'selected' : prodOrderColumn == 'types_names_string' && prodOrderOrder == 'asc'}"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-click="sortProdData('types_names_string', 'desc', false)" ng-class="{'selected' : prodOrderColumn == 'types_names_string' && prodOrderOrder == 'desc'}"></span>
                </div>
            </div>
            
            <div class="cell">
                <div class="col-title">Priority Job</div>
                <div class="col-order nowrap">
                    <span class="glyphicon glyphicon-chevron-up"  ng-click="sortProdData('priority_job', 'asc', false)" ng-class="{'selected' : prodOrderColumn == 'priority_job' && prodOrderOrder == 'asc'}"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-click="sortProdData('priority_job', 'desc', false)" ng-class="{'selected' : prodOrderColumn == 'priority_job' && prodOrderOrder == 'desc'}"></span>
                </div>
            </div>
            
            <div class="cell">
                <div class="col-title">Description/<br />Requirements/<br />Timings</div>
                <div class="col-order nowrap">
                  </div>
            </div>
        
            <div class="cell">
                <div class="col-title">Lead Producer</div>
                <div class="col-order nowrap">
                    <span class="glyphicon glyphicon-chevron-up"  ng-click="sortProdData('lead_producer_name', 'asc', false)" ng-class="{'selected' : prodOrderColumn == 'lead_producer_name' && prodOrderOrder == 'asc'}"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-click="sortProdData('lead_producer_name', 'desc', false)" ng-class="{'selected' : prodOrderColumn == 'lead_producer_name' && prodOrderOrder == 'desc'}"></span>
                </div>
            </div>
        
            <div class="cell">
                <div class="col-title">Support Producer</div>
                <div class="col-order nowrap">
                    <span class="glyphicon glyphicon-chevron-up"  ng-click="sortProdData('support_producer_name', 'asc', false)" ng-class="{'selected' : prodOrderColumn == 'support_producer_name' && prodOrderOrder == 'asc'}"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-click="sortProdData('support_producer_name', 'desc', false)" ng-class="{'selected' : prodOrderColumn == 'support_producer_name' && prodOrderOrder == 'desc'}"></span>
                </div>
            </div>
            
           
        
            <div class="cell">
                <div class="col-title">Deadline</div>
                <div class="col-order nowrap">
                    <span class="glyphicon glyphicon-chevron-up"  ng-click="sortProdData('deadline_raw', 'asc', true)" ng-class="{'selected' : prodOrderColumn == 'deadline_raw' && prodOrderOrder == 'asc'}"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-click="sortProdData('deadline_raw', 'desc', true)" ng-class="{'selected' : prodOrderColumn == 'deadline_raw' && prodOrderOrder == 'desc'}"></span>
                </div>
            </div>
        
            <div class="cell">
                <div class="col-title">Stage</div>
                <div class="col-order nowrap">
                    <span class="glyphicon glyphicon-chevron-up"  ng-click="sortProdData('stage_name', 'asc', false)" ng-class="{'selected' : prodOrderColumn == 'stage_name' && prodOrderOrder == 'asc'}"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-click="sortProdData('stage_name', 'desc', false)" ng-class="{'selected' : prodOrderColumn == 'stage_name' && prodOrderOrder == 'desc'}"></span>
                </div>
            </div>
            
            <div class="cell">
                <div class="col-title">Stage/Status Notes</div>
                <div class="col-order nowrap">
                </div>
            </div>
            
            <div class="cell">
                <div class="col-title">Agreed Budget GBP<br />(before markup)</div>
                <div class="col-order nowrap">
                </div>
            </div>
            
            <div class="cell">
                <div class="col-title">Negotiated<br />Costs<br />GBP</div>
                <div class="col-order nowrap">
                </div>
            </div>
            
            <div class="cell">
                <div class="col-title">Producer<br />Hours</div>
                <div class="col-order nowrap">
                </div>
            </div>
        
            <div class="cell">
                <div class="col-title">Creative Partner</div>
                <div class="col-order nowrap">
                    <span class="glyphicon glyphicon-chevron-up"  ng-click="sortProdData('creative_partner_name', 'asc', false)" ng-class="{'selected' : prodOrderColumn == 'creative_partner_name' && prodOrderOrder == 'asc'}"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-click="sortProdData('creative_partner_name', 'desc', false)" ng-class="{'selected' : orderColumn == 'creative_partner_name' && prodOrderOrder == 'desc'}"></span>
                </div>
            </div>
        
            <div class="cell">
                <div class="col-title">Talent</div>
                <div class="col-order nowrap">
                    <span class="glyphicon glyphicon-chevron-up"  ng-click="sortProdData('talent', 'asc', false)" ng-class="{'selected' : prodOrderColumn == 'talent' && prodOrderOrder == 'asc'}"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-click="sortProdData('talent', 'desc', false)" ng-class="{'selected' : prodOrderColumn == 'talent' && prodOrderOrder == 'desc'}"></span>
                </div>
            </div>
        
            <div class="cell">
                <div class="col-title">NDA<br />Signed?</div>
                <div class="col-order nowrap">
                </div>
            </div>
            
            
        
            <div class="cell">
                <div class="col-title">Usage form<br />completed?</div>
                <div class="col-order nowrap">
                </div>
            </div>
        
         <div class="cell">
                <div class="col-title">Lead Account Handler</div>
                <div class="col-order nowrap">
                    <span class="glyphicon glyphicon-chevron-up"  ng-click="sortProdData('lead_account_handler_name', 'asc', false)" ng-class="{'selected' : prodOrderColumn == 'lead_account_handler_name' && prodOrderOrder == 'asc'}"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-click="sortProdData('lead_account_handler_name', 'desc', false)" ng-class="{'selected' : prodOrderColumn == 'lead_account_handler_name' && prodOrderOrder == 'desc'}"></span>
                </div>
            </div>
        
        
            <div class="cell">
                <div class="col-title">Lead Creative</div>
                <div class="col-order nowrap">
                    <span class="glyphicon glyphicon-chevron-up"  ng-click="sortProdData('lead_creative_name', 'asc', false)" ng-class="{'selected' : prodOrderColumn == 'lead_creative_name' && prodOrderOrder == 'asc'}"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-click="sortProdData('lead_creative_name', 'desc', false)" ng-class="{'selected' : prodOrderColumn == 'lead_creative_name' && prodOrderOrder == 'desc'}"></span>
                </div>
            </div>
        
           
            
            <div class="cell">
                <div class="col-title">Last Updated</div>
                <div class="col-order nowrap">
                    <span class="glyphicon glyphicon-chevron-up"  ng-click="sortProdData('created_on', 'asc', true)" ng-class="{'selected' : prodOrderColumn == 'created_on' && prodOrderOrder == 'asc'}"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-click="sortProdData('created_on', 'desc', true)" ng-class="{'selected' : prodOrderColumn == 'created_on' && prodOrderOrder == 'desc'}"></span>
                </div>
            </div>
        
            <div class="cell">
                <div class="col-title">Actions</div>
            </div>
        
        
        </div>
        
        <div ng-repeat="(key, data) in prodRecordsList" class="row" ng-class="{'hilite': key == hiliteRowKey}" ng-click="toggleHiliteRowKey(key)" id="{{data.record.pr_id}}_{{data.record.pr_pid}}">
    
            <div class="cell cell-client">{{data.client}}</div>
      
            <div class="cell cell-sector cell-{{data.sector_cell}}">
               <!-- <span class="badge badge-pill badge-default badge-sector badge-sector-{{data.sector}}">{{data.job_sector}}<span> -->
             {{data.job_sector}}
            </div>
            
            <div class="cell nowrap">
                
                <span class="job-number" 
                    tooltip 
                    data-html="true"
                    data-toggle="tooltip" 
                    data-placement="top" 
                    title="{{data.job_number_hover_display}}" 
                    >{{data.job_number_shorthand}}</span>
 
            </div>
            
            <div class="cell cell-jtype cell-center">{{data.job_type}}</div>
            
            <div class="cell cell-title" ng-class="{'priority' : data.priority_job == '1'}">

                    <span>{{data.title}}</span>
                
                    <!-- PS removed display of legacy data 07/07/20
                    <span ng-if="data.job_name_legacy"
                        class="job-number" 
                        tooltip 
                        data-html="true"
                        data-toggle="tooltip" 
                        data-placement="top" 
                        title="{{data.job_name_legacy}}">{{data.title}}</span>
                    -->
            
            <!-- ESTIMATES AND PROJECT LEADS ON HOLD 
            <br />
                
                <div>
                    
                    <span class="badge badge-pill badge-primary badge-pt" 
                      ng-class="{'badge-pt-noset': data.project_team.pm_id == '0'}" 
                      tooltip 
                      data-toggle="tooltip" 
                      data-placement="top" 
                      title="Project Manager: {{data.project_team.pm_id == '0' ? 'Not set' : data.project_team.pm_name}}">PM
                    </span>

                    <span class="badge badge-pill badge-primary badge-pt" 
                          ng-class="{'badge-pt-noset': data.project_team.ah_id == '0'}" 
                          tooltip 
                          data-toggle="tooltip" 
                          data-placement="top" 
                          title="Account Handler: {{data.project_team.ah_id == '0' ? 'Not set' : data.project_team.ah_name}}">AH
                    </span>

                    <span class="badge badge-pill badge-primary badge-pt" 
                          ng-class="{'badge-pt-noset': data.project_team.strategy_id == '0'}" 
                          tooltip 
                          data-toggle="tooltip" 
                          data-placement="top" 
                          title="Strategy Lead: {{data.project_team.strategy_id == '0' ? 'Not set' : data.project_team.strategy_name}}">St
                    </span>


                    <span class="badge badge-pill badge-primary badge-pt" 
                          ng-class="{'badge-pt-noset': data.project_team.creative1_id == '0'}" 
                          tooltip 
                          data-toggle="tooltip" 
                          data-placement="top" 
                          title="Creative Lead: {{data.project_team.creative1_id == '0' ? 'Not set' : data.project_team.creative1_name}}">Cr
                    </span>

                    <span class="badge badge-pill badge-primary badge-pt" style="padding-right: 5px;" ng-if="data.project_team.creative2_id > 0"
                          ng-class="{'badge-pt-noset': data.project_team.creative2_id == '0'}" 
                          tooltip 
                          data-toggle="tooltip" 
                          data-placement="top" 
                          title="Second Creative Lead: {{data.project_team.creative2_id == '0' ? 'Not set' : data.project_team.creative2_name}}">Cr
                    </span>
                
                </div>
            -->
                    
            </div>
           
            <div class="cell cell-type" ng-class="{'priority' : data.priority_job == '1'}">{{data.types_names_string}}</div>
           
            <div class="cell cell-priority-job cell-center" ng-class="{'priority' : data.priority_job == '1'}">{{data.priority_job == '1' ? 'YES' : 'NO'}}</div>
         
            <div class="cell cell-description"><span ng-bind-html="data.description_html_limited"></span> <span ng-click="popProductionCellLong(data, 'desc')" class="prod-read-all" ng-if="data.description_trimmed == '1'">View more</span></div>
            
            <div class="cell cell-lead-producer">{{data.lead_producer_name}}</div>
             
            <div class="cell cell-support-producer">{{data.support_producer_name}}</div>
            
            <div class="cell cell-deadline nowrap">{{data.deadline}}</div>
            
            <div class="cell cell-stage stage{{data.stage_id}}"><span class="stage{{data.stage_id}}">{{data.stage_name}}</span></div>
            
            <div class="cell cell-status-notes"><span ng-bind-html="data.status_notes_html_limited"></span> <span ng-click="popProductionCellLong(data, 'status')" class="prod-read-all" ng-if="data.status_notes_trimmed == '1'">View more</span></div>
            
            <div class="cell cell-agreed-budget ">{{data.agreed_budget_formatted}}</div>
            
            <div class="cell cell-negotiated-costs">{{data.negotiated_costs_formatted}}</div>
            
            <div class="cell cell-producer-hours">{{data.producer_hours}}</div>
            
            <div class="cell cell-creative-partner">{{data.creative_partner_name}}</div>
            
            <div class="cell cell-talent">{{data.talent}}</div>
            
            <div class="cell cell-nda cell-center">{{data.nda == '1' ? 'YES' : 'NO'}}</div>
            
            <div class="cell cell-usage-form cell-center">{{data.usage_form == '1' ? 'YES' : 'NO'}}</div>
            
            <div class="cell cell-lead-account-handler">{{data.lead_account_handler_name}}</div>
            
            <div class="cell cell-lead-creative">{{data.lead_creative_name}}</div>
            
            <div class="cell cell-last-update">{{data.created_on_formatted}} by {{data.created_by_name}}</div>
            
            <div class="cell cell-actions">

                <span class="debug">CAPI JID:{{data.capi_jid}} / PJID:{{data.pjid}}</span>
                
                <span ng-if="user.perms.prod.create == 1" class='action-link action-link-update' ng-click="setLocationPath('production/update-record/' + data.pr_pid)">UPDATE<span class="glyphicon glyphicon-chevron-right"></span></span>
                <span ng-if="user.perms.prod.create == 1"><br /></span>
                
                <span ng-if="user.perms.prod.view == 1" class='action-link action-link-view' ng-click="viewProd(data.pjid, data.pr_pid)">VIEW<span class="glyphicon glyphicon-chevron-right"></span></span>
                <span ng-if="user.perms.prod.view == 1"><br /></span> 
                
                <br /><span ng-if="user.perms.prod.view == 1 && data.wips_count > 0" class='action-link action-link-view' ng-click="viewJob(data.pjid, false)"><small>VIEW RELATED<br />CREATIVE WIP<span class="glyphicon glyphicon-chevron-right"></span></small></span>
     
                
            </div>
            
        </div>    
        
        
        
    </div>
    
    
</div>
